In [2]:
%pip install confluent-kafka
%pip install pyspark
%pip install pymongo
%pip install requests
%pip install pandas

Requirement already satisfied: confluent-kafka in e:\anaconda3\envs\aag-talp\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pyspark in e:\anaconda3\envs\aag-talp\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymongo in e:\anaconda3\envs\aag-talp\lib\site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in e:\anaconda3\envs\aag-talp\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\anaconda3\envs\aag-talp\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda3\envs\aag-talp\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\anaconda3\envs\aag-talp\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda3\envs\aag-talp\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in e:\anaconda3\envs\aag-talp\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in e:\anaconda3\envs\aag-talp\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda3\envs\aag-talp\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, month, year
from pyspark.sql.functions import split, col, regexp_replace
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import confluent_kafka as ck
import random
import time
import requests
import csv
from io import StringIO
import pandas as pd
from datetime import datetime, timedelta, date
import calendar
import re
import time

# Kafka

## Config Kafka

In [2]:
config = {}
# Required connection configs for Kafka producer, consumer, and admin
config["bootstrap.servers"]="pkc-60py3.europe-west9.gcp.confluent.cloud:9092"
config["security.protocol"]="SASL_SSL"
config["sasl.mechanisms"]="PLAIN"
config["sasl.username"]="GDHUJVNTILOC36TK"
config["sasl.password"]="sQ4OhM7DZbJrDx4j00B6IUuxRG8cQmjM1fSZg/foCiKD1RHCCU1DYIGCj+ouY02O"

# Best practice for higher availability in librdkafka clients prior to 1.7
config["session.timeout.ms"]=45000

config["group.id"] = "python-group-1"
config["auto.offset.reset"] = "earliest"

"""
# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url="https://psrc-9jzo5.us-central1.gcp.confluent.cloud"
basic.auth.credentials.source="USER_INFO"
basic.auth.user.info="V62ZHMWOWECRACCJ:no7BCD6mPA85DsECXfSKijlOJpHDAYcemUiIZAjk7d49AUuEwdJKXCquZZm4atTN"
"""

'\n# Required connection configs for Confluent Cloud Schema Registry\nschema.registry.url="https://psrc-9jzo5.us-central1.gcp.confluent.cloud"\nbasic.auth.credentials.source="USER_INFO"\nbasic.auth.user.info="V62ZHMWOWECRACCJ:no7BCD6mPA85DsECXfSKijlOJpHDAYcemUiIZAjk7d49AUuEwdJKXCquZZm4atTN"\n'

# Consumer

In [23]:
from io import StringIO
consumer = ck.Consumer(config)
consumer.subscribe(["meteo_data"])
try:
     while True:
          msg = consumer.poll(1.0)
          if msg is not None and msg.error() is None:
               df = pd.DataFrame(columns=["station_id", "dh_utc", "temperature", "vent_moyen", "pluie_1h"])
               input_strings = msg.value().decode('utf-8').split('\n')
               for input_string in input_strings:
                    new_data = pd.read_csv(StringIO(input_string), sep=';', names=df.columns)
                    df = pd.concat([df, new_data], ignore_index=True)
               calc_moy(df)
               #display(df)
except KeyboardInterrupt:
     pass
finally:
     consumer.close()

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      4         8.501081       10.497296      0.351351

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      1         6.170833        8.268516      0.214815

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      2          7.46375        9.086248           0.1

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      3         4.363807       14.225205      0.675067

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      4         8.501081       10.497296      0.351351

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      5        14.875401        8.228071       0.29893

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      6        17.049575        7.930874      0.166006
1          42  2008      6        19.124074        8.073334      0.029630

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      7        18.576506        7.949092      0.065663
1          42  2008      7        21.081757       10.129730      0.086149

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      8        15.525951        7.170243      0.089933
1          42  2008      8        19.808841       10.509146      0.171646

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008      9        12.532945        8.157068      0.106489
1          42  2008      9        15.899659       11.045050      0.007167

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008     10         9.122260        7.438951      0.267454
1          42  2008     10        13.493088       10.800461      0.105530

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008     11         4.392362        8.022200      0.265009
1          42  2008     11         7.945390       10.742553      0.587234

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2008     12         2.234064        9.298818      0.216189
1          42  2008     12         3.593009       10.700608      0.082979

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      1         1.294737        7.076932      0.231889
1          42  2009      1         1.191757        4.673751      0.037527

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      2         2.463129        8.293162      0.048561
1          42  2009      2         3.755090        3.965067      0.036727

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      3         5.373232        9.090572      0.103367
1          42  2009      3         6.741084        5.141780      0.042308

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      4         8.412270        7.338341      0.281595
1          42  2009      4        12.049802        4.410513      0.069841

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      5        14.495152        7.565301      0.113030
1          42  2009      5        15.503802        4.397715      0.095437

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      6        15.923023        6.561509      0.119508
1          42  2009      6        18.059766        4.455074      0.137500

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      7        17.156182        6.550758      0.220390
1          42  2009      7        19.462232        3.810082      0.081974

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      8        18.569173        5.271125      0.116391
1          42  2009      8        20.428982        2.519467      0.015929

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009      9        14.652174        5.781857      0.082459
1          42  2009      9        15.729004        3.748698      0.019481

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009     10        10.428898        6.467094      0.076967
1          42  2009     10        11.313423        2.667559      0.041163

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009     11         7.270978       10.144163      0.409779
1          42  2009     11         9.978936        6.693187      0.115319
2          93  2009     11        10.067500        5.459996      0.720000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2009     12         1.574571        7.627143      0.224337
1          42  2009     12         3.951644        5.569628      0.122631
2          93  2009     12         6.345590        4.904033      0.202691

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      1         0.304009        6.445654      0.194655
1          42  2010      1         2.324000        4.358568      0.101714
2          93  2010      1         4.064396        4.242196      0.065934

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      2         0.388489        8.812949      0.716547
1          42  2010      2         5.176230        5.974585      0.096721
2          93  2010      2         5.257051        7.568587      0.301282

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      3         8.693636       10.198182      0.058182
1          42  2010      3        10.031092        5.617645      0.072269
2          93  2010      3         9.371338        5.194901      0.054777

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      4         6.911111        8.744438      0.022222
1          42  2010      4        12.270270        4.859456      0.070270
2          93  2010      4        14.088710        3.720963      0.148387

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      5         8.083333       12.066682      0.400000
1          42  2010      5        14.609091        4.472721      0.027273
2          93  2010      5        16.388525        6.088522      0.098361

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      6        18.566667        7.499993      0.000000
1          42  2010      6        21.876000        4.039996      0.000000
2          93  2010      6        21.374194        4.479029      0.296774

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      7        17.000000        3.699998          0.26
1          42  2010      7        21.316667        2.488886          0.00
2          93  2010      7        26.896364        5.727269          0.00

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      8        18.100000        0.000000          0.00
1          42  2010      8        21.193333        4.166662          0.08
2          93  2010      8        25.103750        6.017495          0.01

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010      9        10.755556        8.044443      0.044444
1          42  2010      9        17.088889        3.918515      0.281481
2          93  2010      9        20.165217        4.710866      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010     10         9.866667        7.483328      0.133333
1          42  2010     10        12.628125        3.356247      0.043750
2          93  2010     10        15.245455        4.927268      0.069091

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2010     11         0.200000        5.650000      0.000000
1          42  2010     11         5.383721        3.918601      0.148837
2          93  2010     11        10.240984        5.499996      0.183607

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2010     12         0.971429       10.328566      0.085714
1         42  2010     12         1.302941        5.249998      0.223529
2         93  2010     12         6.276471        5.639704      0.250000
3      000C5  2010     12         2.030769        1.476922      0.015385

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      1         2.422500        4.619998      0.035000
1         42  2011      1         1.736957        3.732606      0.034783
2         93  2011      1         6.489744        3.371792      0.010256
3      000C5  2011      1         3.852632        1.973684      0.031579

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      2         3.528571        7.114281      0.085714
1         42  2011      2         6.678947        5.057888      0.136842
2         93  2011      2        10.308000        5.771994      0.048000
3      000C5  2011      2         9.221429        6.657141      0.200000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      3         6.133333        7.783332      0.033333
1         42  2011      3        10.625000        3.999995      0.000000
2         93  2011      3        11.657895        5.315786      0.484211
3      000C5  2011      3        11.000000        5.624998      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      4        19.600000        6.399990           0.0
1         42  2011      4        21.800000        7.199990           0.0
2         93  2011      4        16.368421        5.915786           0.0
3      000C5  2011      4        15.180000        6.759998           0.0

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      5        15.116667        8.566662           0.6
1         93  2011      5        18.915789        6.763152           0.0
2      000C5  2011      5        16.400000        3.733330           0.0

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      6        24.200000        7.499997      0.000000
1         93  2011      6        18.430435        6.426083      0.504348
2      000C5  2011      6        19.600000        3.200000      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      7        18.078571        8.507139           0.0
1         42  2011      7        23.420000        4.799992           0.0
2         93  2011      7        23.954545        8.481814           0.0
3      000C5  2011      7        20.120000        2.559998           0.0

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      8        18.386842        5.433947      0.545789
1         42  2011      8        19.121229        3.243296      0.038547
2         93  2011      8        23.966917        3.887469      0.009023
3      000C5  2011      8        17.440160        1.578191     -0.076064

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011      9        15.817665        4.489671      0.058982
1         42  2011      9        17.191057        3.353984      0.052358
2         93  2011      9        20.675182        3.447007      0.024526
3      000C5  2011      9        16.515199        2.820028      0.028693

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011     10        11.143075        7.547489      0.139422
1         42  2011     10        12.553585        3.193396      0.023396
2         93  2011     10        15.090620        2.990765      0.200577
3      000C5  2011     10        13.284548        1.997959      0.029446

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011     11         9.201679        7.281985      0.090992
1         42  2011     11         8.689565        2.462609      0.030000
2         93  2011     11        10.854436        2.163459      0.632180
3      000C5  2011     11        11.036819        1.134814      0.028080

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2011     12         4.425375       11.636937      0.642943
1         42  2011     12         6.746058        5.416390      0.154357
2         93  2011     12         8.221880        6.795840      0.020647
3      000C5  2011     12         8.154922        4.945934      0.021683

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      1         2.545266        8.684320      0.186095
1         42  2012      1         5.471270        4.493016      0.051429
2         93  2012      1         6.835944        5.532587      0.034685
3      000C5  2012      1         6.907182        3.489779      0.007597

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      2        -1.987975        8.367405      0.014873
1         42  2012      2         0.591453        4.577265      0.012308
2         93  2012      2         3.055607        3.874194      0.031336
3      000C5  2012      2         3.316908        1.475000      0.000578

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      3         9.123789        9.524670      0.094273
1         42  2012      3         9.839384        4.379417      0.031767
2         93  2012      3        12.072451        3.801674      0.011872
3      000C5  2012      3         9.227699        1.683665      0.002557

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      4         5.934622        9.721256      0.446377
1         42  2012      4         8.663394        6.418469      0.143760
2         93  2012      4        12.071827        5.109907      0.258514
3      000C5  2012      4         8.645395        3.994079      0.042434

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      5        13.058085        8.102512      0.139403
1         42  2012      5        15.145729        4.713735      0.058961
2         93  2012      5        16.515483        3.449858      0.061364
3      000C5  2012      5        13.923844        2.220376      0.030347
4      000K0  2012      5        17.348077        6.963889      0.108120

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      6        15.626107        7.530076      0.194809
1         42  2012      6        17.095470        4.866946      0.112081
2         93  2012      6        22.058789        4.587888      0.012408
3      000C5  2012      6        16.227637        4.046211      0.015750
4      000K0  2012      6        20.347899        6.108067      0.197311

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      7        15.693113        6.730560      0.138594
1         42  2012      7        18.085597        4.271358      0.109002
2         93  2012      7        24.174436        4.891278      0.001504
3      000C5  2012      7        17.144255        2.741560      0.021135
4      000K0  2012      7        21.600000        5.874162      0.053649

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      8        18.552941        6.252022      0.034559
1         42  2012      8        20.256982        4.165169      0.010273
2         93  2012      8        24.451058        3.935543      0.012412
3      000C5  2012      8        18.503017        2.685489      0.012356
4      000K0  2012      8        23.172581        5.693750      0.235887
5      000L7  2012      8        24.230802        7.213924      0.102110

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012      9        14.305060        7.460863      0.100595
1         42  2012      9        15.054639        3.664605      0.046048
2         93  2012      9        19.136986        2.814212      0.082534
3      000C5  2012      9        14.088479        1.310635      0.015510
4      000K0  2012      9        17.417490        7.101901      0.160456
5      000L7  2012      9        20.021637        5.565351      0.119883

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012     10        10.704348        8.301304      0.184638
1         42  2012     10        12.254746        4.073051      0.216949
2         93  2012     10        15.224108        4.217118      0.385164
3      000C5  2012     10        12.557704        1.918882      0.033988
4      000K0  2012     10        13.804124        6.558351      0.107629
5      000L7  2012     10        16.107994        6.669425      0.165778

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012     11         6.556116        6.544343      0.206116
1         42  2012     11         6.892780        4.314260      0.072563
2         93  2012     11        10.464947        2.484825      0.316237
3      000C5  2012     11         7.402640        1.764596      0.024689
4      000K0  2012     11         9.516553        7.785488      0.256236
5      000L7  2012     11        11.122763        5.770039      0.149805

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2012     12         3.102703        9.778094      0.382077
1         42  2012     12         5.646823        6.901672      0.126756
2         93  2012     12         6.612074        5.663920      0.113068
3      000C5  2012     12         7.325337        5.053673      0.024288
4      000K0  2012     12         6.030567        5.825101      0.193927
5      000L7  2012     12         8.161295        6.767769      0.036088

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      1         1.268732        5.264602      0.195280
1         42  2013      1         3.456202        5.015773      0.069832
2         93  2013      1         5.611471        5.969636      0.115250
3      000C5  2013      1         5.432370        2.634104      0.010260
4      000K0  2013      1         3.613842        5.468496      0.144630
5      000L7  2013      1         6.498872        6.313822      0.069394

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      2         0.467329        7.942605      0.381898
1         42  2013      2         2.410553        6.325796      0.086432
2         93  2013      2         4.395052        5.561769      0.056372
3      000C5  2013      2         4.480625        2.419531      0.009844
4      000K0  2013      2         1.929710        6.287440      0.147826
5      000L7  2013      2         6.247913        8.915301      0.017311

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      3         4.356752        7.771061      0.228939
1         42  2013      3         5.535596        5.671795      0.060633
2         93  2013      3         8.712310        5.608022      0.201107
3      000C5  2013      3         5.417949        2.246955      0.016026
4      000K0  2013      3         6.801480        6.174419      0.067653
5      000L7  2013      3         9.702055        7.820548      0.327123

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      4         7.585953        6.622074      0.175920
1         42  2013      4        10.019808        5.745208      0.127476
2         93  2013      4        12.699561        4.402485      0.153801
3      000C5  2013      4         9.344934        3.911747      0.012482
4      000K0  2013      4        12.419816        6.535714      0.162673
5      000L7  2013      4        13.026300        6.903120      0.090936

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      5         8.263940        6.838230      0.306177
1         42  2013      5        11.720615        5.205077      0.116000
2         93  2013      5        14.615875        6.135550      0.182361
3      000C5  2013      5        11.667391        3.042609      0.016957
4      000K0  2013      5        13.056911        4.869106      0.306775
5      000L7  2013      5        15.430416        8.550359      0.078049

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      6        13.783025        6.337815      0.121008
1         42  2013      6        16.705882        5.275163      0.036275
2         93  2013      6        20.071469        4.766434      0.016503
3      000C5  2013      6        15.594032        2.157642      0.016303
4      000K0  2013      6        19.335024        6.056522      0.135749
5      000L7  2013      6        20.373620        8.541104      0.031595
6      000Q2  2013      6        15.474054        8.120180      0.126486

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      7        20.032500        5.605000      0.142647
1         42  2013      7        22.280835        4.488872      0.035240
2         93  2013      7        23.748916        2.992005      0.084011
3      000C5  2013      7        21.094488        1.301575      0.032283
4      000K0  2013      7        24.978016        5.066756      0.097051
5      000L7  2013      7        25.866879        6.293312      0.020701
6      000Q2  2013      7        20.300592        8.141272      0.085503

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      8        17.299317        5.340847      0.070492
1         42  2013      8        19.191536        3.193417      0.083072
2         93  2013      8        23.582361        3.582361      0.005699
3      000C5  2013      8        18.538965        1.571253      0.002725
4      000K0  2013      8        22.471717        5.550253      0.174242
5      000L7  2013      8        23.936925        6.373563      0.035920
6      000Q2  2013      8        18.745882        5.901681      0.044370

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013      9        14.468902        5.525392      0.219116
1         42  2013      9        16.235918        4.000000      0.143987
2         93  2013      9        19.410029        4.969054      0.096562
3      000C5  2013      9        16.392375        1.848240      0.009677
4      000K0  2013      9        18.991720        4.419427      0.139490
5      000L7  2013      9        20.123594        6.721719      0.122500
6      000Q2  2013      9        16.868817        5.918817      0.044444

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013     10        11.264957        6.866667      0.254701
1         42  2013     10        13.491900        3.969159      0.132399
2         93  2013     10        16.512195        2.854089      0.076040
3      000C5  2013     10        13.916933        1.733706      0.047125
4      000K0  2013     10        15.939183        5.522356      0.212981
5      000L7  2013     10        17.115722        5.958499      0.063739
6      000Q2  2013     10        15.191034        8.467414      0.194828

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013     11         3.972855        9.058228      0.380591
1         42  2013     11         6.556744        5.685116      0.131783
2         93  2013     11         9.220699        5.657483      0.101818
3      000C5  2013     11         8.231587        2.115408      0.031587
4      000K0  2013     11         6.566440        9.085488      0.241723
5      000L7  2013     11        10.042402        7.221708      0.053835
6      000Q2  2013     11         9.240696        6.973565      0.164174
7      000T3  2013     11        -0.642152        3.049327      0.092377

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2013     12         4.493657        6.724291      0.191633
1         42  2013     12         4.089304        4.585569      0.088625
2         93  2013     12         7.037222        2.818056      0.285556
3      000C5  2013     12         5.873437        2.264347      0.018040
4      000K0  2013     12         7.992429        7.959621      0.159621
5      000L7  2013     12         8.422102        5.282210      0.007547
6      000Q2  2013     12         7.963193        9.780504      0.262857
7      000T3  2013     12         3.321530        4.133144      0.167989

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      1         3.977260        7.719178      0.274795
1         42  2014      1         5.980280        5.512888      0.062422
2         93  2014      1         7.782546        3.522461      0.319313
3      000C5  2014      1         7.469382        3.708145      0.030769
4      000K0  2014      1         8.091563        5.606203      0.156824
5      000L7  2014      1         9.240411        6.087945      0.100000
6      000Q2  2014      1         8.586349       10.835691      0.344079
7      000T3  2014      1         2.852042        3.360666      0.123449

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      2         3.176606        9.772018      0.395413
1         42  2014      2         6.796505        8.261094      0.154711
2         93  2014      2         7.911765        4.104525      0.283560
3      000C5  2014      2         7.970350        5.476243      0.086740
4      000K0  2014      2         8.177363        6.762687      0.223383
5      000L7  2014      2         9.463434        7.231320      0.075676
6      000Q2  2014      2         8.284516       13.065323      0.356774
7      000T3  2014      2         2.980000        3.691074      0.218182
8      000U7  2014      2         8.377808        7.386301      0.220274

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      3         6.808391        7.426960      0.129849
1         42  2014      3         8.272801        4.311773      0.033559
2         93  2014      3        10.151351        4.357610      0.055477
3      000C5  2014      3         8.461259        2.314406      0.008671
4      000K0  2014      3        11.663352        6.734091      0.053409
5      000L7  2014      3        11.394143        6.559571      0.008857
6      000Q2  2014      3         9.204139        7.744536      0.110927
7      000T3  2014      3         6.149362        4.804965      0.021844
8      000U7  2014      3         9.856449        7.883925      0.086355

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      4         9.668741        7.241968      0.142113
1         42  2014      4        11.612500        4.336161      0.112798
2         93  2014      4        13.849508        4.567370      0.021660
3      000C5  2014      4        11.218805        2.333382      0.012682
4      000K0  2014      4        14.504612        6.659466      0.054854
5      000L7  2014      4        15.506946        6.759913      0.049204
6      000Q2  2014      4        11.880731        8.732060      0.090033
7      000T3  2014      4         9.366365        4.093967      0.029563
8      000U7  2014      4        13.288679        7.914065      0.037736

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      5        10.394444        8.718376      0.164672
1         42  2014      5        13.120373        5.724677      0.117360
2         93  2014      5        16.096463        5.288163      0.029660
3      000C5  2014      5        13.165447        2.754173      0.021962
4      000K0  2014      5        15.750413        7.915496      0.142562
5      000L7  2014      5        17.414367        9.327596      0.042959
6      000Q2  2014      5        13.405939        8.073355      0.083788
7      000T3  2014      5        10.721022        3.963358      0.107153
8      000U7  2014      5        14.629672        7.981475      0.093770

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      6        16.617784        5.730466      0.083673
1         42  2014      6        17.656430        4.581241      0.106808
2         93  2014      6        20.542522        2.938856      0.156598
3      000C5  2014      6        17.143740        1.054869      0.050850
4      000K0  2014      6        22.447786        6.996270      0.167366
5      000L7  2014      6        22.477056        6.546465      0.085714
6      000Q2  2014      6        18.068771        8.027575      0.034219
7      000T3  2014      6        15.819327        3.633529      0.047731
8      000U7  2014      6        20.756782        7.351420      0.087697

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      7        16.347781        5.688314      0.193195
1         42  2014      7        19.536642        3.855182      0.180438
2         93  2014      7        21.877669        5.458287      0.007584
3      000C5  2014      7        19.278739        1.352493      0.018622
4      000K0  2014      7        21.550867        4.601156      0.355491
5      000L7  2014      7        23.148252        8.642238      0.062098
6      000Q2  2014      7        19.975248        6.411089      0.108515
7      000T3  2014      7        16.073228        3.129764      0.129449
8      000U7  2014      7        19.714334        6.215870      0.252901

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      8        14.613158        4.142105      0.165497
1         42  2014      8        16.947839        3.765425      0.170194
2         93  2014      8        21.943801        4.645148      0.067925
3      000C5  2014      8        16.294868        1.973561      0.039658
4      000K0  2014      8        21.072277        4.421782      0.114191
5      000L7  2014      8        22.682008        6.675732      0.067225
6      000Q2  2014      8        18.221700        7.509172      0.132886
7      000T3  2014      8        13.984148        2.972741      0.103111
8      000U7  2014      8        19.996840        6.078067      0.095539

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014      9        15.220795        4.764832      0.115596
1         42  2014      9        16.494692        2.822525      0.011191
2         93  2014      9        19.850919        2.665771      0.064498
3      000C5  2014      9        17.007939        0.423538      0.000139
4      000K0  2014      9        19.758434        5.781928      0.007831
5      000L7  2014      9        20.642375        5.119648      0.568035
6      000Q2  2014      9        18.850199        5.507769      0.009163
7      000T3  2014      9        13.472757        2.623328      0.047635
8      000U7  2014      9        18.269697        6.083766      0.256277

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

  station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0         23  2014     10        12.701918        4.223425      0.123836
1         42  2014     10        13.398617        3.003873      0.149931
2         93  2014     10        16.234349        2.051801      0.148476
3      000C5  2014     10        13.499855        1.079390      0.016836
4      000K0  2014     10        17.019205        5.331457      0.215894
5      000L7  2014     10        17.819203        4.851209      0.058606
6      000Q2  2014     10        15.441468        6.967063      0.158730
7      000T3  2014     10        11.431947        2.713348      0.087527
8      000U7  2014     10        16.453988        6.543149      0.086299
9      ME014  2014     10        14.161053        9.897193      0.021053

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2014     11         8.621259        5.899021      0.318322
1          42  2014     11         9.262674        3.741922      0.073538
2          93  2014     11        11.429330        2.230168      0.562011
3       000C5  2014     11        10.090047        1.138725      0.037014
4       000K0  2014     11        11.877899        4.908696      0.233333
5       000L7  2014     11        13.274159        5.848165      0.295107
6       000Q2  2014     11        11.172059        8.367831      0.198529
7       000T3  2014     11         6.993583        2.434225      0.063636
8       000U7  2014     11        11.993709        6.429718      0.336659
9       000Y9  2014     11        14.930243        3.576821      0.350993
10      ME014  2014     11         9.656949        8.133271      0.013136

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2014     12         2.150223        5.363299      0.106389
1          42  2014     12         5.069369        5.273273      0.070270
2          93  2014     12         7.263043        4.280571      0.092391
3       000C5  2014     12         6.492045        2.490909      0.016903
4       000K0  2014     12         4.670602        6.582169      0.107470
5       000L7  2014     12         8.956818        7.553977      0.076989
6       000Q2  2014     12         8.396886        7.886630      0.078755
7       000T3  2014     12         3.871429        3.633929      0.112500
8       000U7  2014     12         5.300797        9.281659      0.049442
9       000Y9  2014     12        10.464187        3.757025      0.152617
10      ME014  2014     12         6.226720       10.146112      0.629392

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      1         2.065541        6.092432      0.240270
1          42  2015      1         3.657980        5.805710      0.064714
2          93  2015      1         6.500821        5.490971      0.106156
3       000C5  2015      1         5.863866        3.702241      0.008824
4       000K0  2015      1         5.538674        7.177901      0.170166
5       000L7  2015      1         8.033001        8.274538      0.026174
6       000Q2  2015      1         7.670940        8.898974      0.150085
7       000T3  2015      1         2.461980        4.260000      0.228119
8       000U7  2015      1         5.806554        8.454869      0.141199
9       000Y9  2015      1         9.995644        6.456806      0.031216
10      ME014  2015      1         5.327739       10.762982      1.318890

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      2         0.924658        7.809741      0.220700
1          42  2015      2         3.077202        5.566321      0.077029
2          93  2015      2         5.416095        4.195529      0.209240
3       000C5  2015      2         4.372100        2.439498      0.013636
4       000K0  2015      2         3.810938        8.152083      0.154167
5       000L7  2015      2         6.697813        7.433437      0.036562
6       000Q2  2015      2         5.794200        9.076274      0.128295
7       000T3  2015      2        -0.389964        3.353832      0.085036
8       000U7  2015      2         3.216814        9.532743      0.168142
9       000Y9  2015      2         7.333842        3.309924      0.141985
10      ME014  2015      2         4.854858        9.144006      0.707922

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      3         6.400317        6.548254      0.144127
1          42  2015      3         7.321106        5.432460      0.035226
2          93  2015      3         9.926522        5.244114      0.097700
3       000C5  2015      3         7.898743        3.406564      0.002374
4       000K0  2015      3         9.649344        6.844619      0.119685
5       000L7  2015      3        11.734003        8.554232      0.076040
6       000Q2  2015      3         8.779278        9.510989      0.351648
7       000T3  2015      3         4.850727        4.407558      0.135174
8       000U7  2015      3         8.970054        8.578221      0.101633
9       000Y9  2015      3        14.659538       12.998266      0.025434
10      ME014  2015      3         7.516510        9.991128      0.430336

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      4         9.975897        7.674319      0.183644
1          42  2015      4        11.769242        5.131515      0.078788
2          93  2015      4        13.079857        4.421286      0.041429
3       000C5  2015      4        11.991499        2.248415      0.004323
4       000K0  2015      4        13.569293        7.362500      0.076630
5       000L7  2015      4        14.378261        7.767016      0.098351
6       000Q2  2015      4        12.353215        8.340354      0.067203
7       000T3  2015      4         8.482596        3.928319      0.056342
8       000U7  2015      4        13.266547        7.985072      0.108273
9       000Y9  2015      4        13.842937        4.922238      0.037762
10      ME014  2015      4        10.382500        8.601875      0.182222

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      5        12.258051        7.237288      0.178814
1          42  2015      5        14.190808        4.888114      0.082726
2          93  2015      5        17.916255        4.611321      0.004354
3       000C5  2015      5        13.413411        2.568367      0.014723
4       000K0  2015      5        17.035556        7.644222      0.092444
5       000L7  2015      5        19.250145        9.829420      0.008986
6       000Q2  2015      5        14.177495        7.520508      0.091107
7       000T3  2015      5        12.280573        3.281688      0.064968
8       000U7  2015      5        16.278451        8.465152      0.058923
9       000Y9  2015      5        17.854741        5.329598      0.000575
10      ME014  2015      5        13.045918       10.053892      0.390087

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      6        17.616820        4.605505      0.148624
1          42  2015      6        19.103556        4.927556      0.010667
2          93  2015      6        22.354574        3.276183      0.100315
3       000C5  2015      6        17.113313        1.358699      0.002269
4       000K0  2015      6        22.395518        9.021289      0.023529
5       000L7  2015      6        23.954354        7.650000      0.049850
6       000Q2  2015      6        17.877365        7.504638      0.008163
7       000T3  2015      6        16.366964        2.817500      0.022857
8       000U7  2015      6        24.883333        5.941667      0.000000
9       000Y9  2015      6        22.350283        3.487960      0.112181
10      ME014  2015      6        16.644745        9.109865      0.389189

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      7        20.102263        6.770863      0.043281
1          42  2015      7        22.520523        4.704225      0.035412
2          93  2015      7        26.821462        3.357783      0.004717
3       000C5  2015      7        18.595294        2.538088      0.011029
4       000K0  2015      7        27.592197       15.718786      0.058960
5       000L7  2015      7        27.645268        9.397792      0.018612
6       000Q2  2015      7        18.597861        6.307665      0.086275
7       000T3  2015      7        19.822621        3.140406      0.071763
8       000U7  2015      7        25.029791        7.327697      0.023510
9       000Y9  2015      7        25.032369        4.617355      0.000000
10      ME014  2015      7        21.877857        7.421857      0.751429

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      8        18.142618        5.097493      0.160167
1          42  2015      8        20.470963        3.640741      0.103704
2          93  2015      8        23.657229        3.576205      0.006024
3       000BV  2015      8        25.092857        7.892857      0.000000
4       000C5  2015      8        18.320296        1.214667      0.023407
5       000K0  2015      8        21.990950        7.132353      0.044344
6       000L7  2015      8        23.571321        7.206907      0.091592
7       000Q2  2015      8        18.615665        6.574464      0.111588
8       000T3  2015      8        19.066963        2.842096      0.025222
9       000U7  2015      8        23.009140        6.191756      0.067384
10      000Y9  2015      8        22.840822        4.323288      0.007397
11      ME014  2015      8        18.054545        5.118182      0.289091

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015      9        12.338897        5.606432      0.246861
1          42  2015      9        14.189358        4.671362      0.144288
2          93  2015      9        18.385526        3.981287      0.088304
3       000BV  2015      9        15.426324       12.327414      0.087850
4       000BZ  2015      9        17.751748        7.391608      0.407459
5       000C5  2015      9        13.674766        1.186449      0.020561
6       000K0  2015      9        15.714873        6.634335      0.225316
7       000L7  2015      9        18.786207        7.112069      0.028840
8       000Q2  2015      9        15.412903        6.356774      0.110968
9       000T3  2015      9        11.426626        2.569106      0.097154
10      000U7  2015      9        16.843737        7.400616      0.213963
11      000Y9  2015      9        20.158631        5.220529      0.012131
12      ME014  2015      9        14.033102        7.067147      0.087258

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015     10         9.313440        4.534400      0.096640
1          42  2015     10        10.711550        3.134357      0.071053
2          93  2015     10        13.257163        2.274579      0.231461
3       000BV  2015     10        12.085908        9.931165      0.041734
4       000BZ  2015     10        13.172057        5.372908      0.187518
5       000C5  2015     10        11.364779        0.525552      0.004144
6       000K0  2015     10        10.906165        4.819549      0.118496
7       000L7  2015     10        14.584649        6.324415      0.060526
8       000Q2  2015     10        13.157143        6.121526      0.086106
9       000T3  2015     10         8.913445        2.137815      0.012885
10      000U7  2015     10        11.160352        6.781057      0.134361
11      000Y9  2015     10        15.658204        3.089164      0.059443
12      ME014  2015     10        11.490188        5.730524      0.038172

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015     11         4.679042        9.191617      0.351497
1          42  2015     11        10.335505        5.309772      0.071987
2          93  2015     11        10.785671        4.050152      0.040854
3       000BV  2015     11        11.581936       13.534827      0.069653
4       000BZ  2015     11        11.155590        5.084161      0.066149
5       000C5  2015     11        11.561875        2.719219      0.029219
6       000CJ  2015     11         4.113563        3.376552      0.189885
7       000K0  2015     11         8.740895        4.711182      0.099681
8       000L7  2015     11        12.966517        7.264114      0.093393
9       000Q2  2015     11        13.114170        7.861943      1.349798
10      000T3  2015     11         7.386332        3.847578      0.156055
11      000U7  2015     11         9.664286        7.175541      0.090909
12      000Y9  2015     11        13.374474        4.865165      0.045946
13      ME014  2015     11        11.404832       12.053163      0.142899

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2015     12         6.914365        4.823204      0.037569
1          42  2015     12         8.081766        3.819801      0.034758
2          93  2015     12         8.793931        1.132081      0.023410
3       000BV  2015     12        10.033244       11.422476      0.029610
4       000BZ  2015     12         9.679781        2.953292      0.029467
5       000C5  2015     12        10.201128        1.426234      0.011142
6       000CJ  2015     12         5.609410        3.694382      0.007303
7       000K0  2015     12         8.597592        6.394051      0.053824
8       000L7  2015     12        11.038946        4.025329      0.036896
9       000Q2  2015     12        12.290789        8.428454      1.172039
10      000T3  2015     12         6.858870        3.646311      0.016954
11      000U7  2015     12        10.571176        5.530980      0.011373
12      000Y9  2015     12        12.160989        1.438874      0.020879
13      ME014  2015     12        10.701208       13.200443      0.039195

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      1         4.911525        9.505085      0.974237
1          42  2016      1         5.009104        5.838006      0.099422
2          93  2016      1         6.983016        4.048777      0.028261
3       000BV  2016      1         6.337500       13.215860      0.067742
4       000BZ  2016      1         7.243155        5.155060      0.039881
5       000C5  2016      1         6.525040        2.722169      0.026156
6       000CJ  2016      1         0.952713        3.853798      0.218915
7       000DF  2016      1         8.601312        4.719423      0.119685
8       000K0  2016      1         6.120085        6.499430      0.161254
9       000L7  2016      1         8.856769        6.346434      0.032314
10      000Q2  2016      1         8.511891        9.261793      0.313450
11      000T3  2016      1         1.859560        4.012521      0.280880
12      000U7  2016      1         7.256212        5.982688      0.081874
13      000Y9  2016      1        10.226236        5.183242      0.015934
14      ME014  2016      1         6.525871       11.809638      0.088204

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      2         4.205882       10.985294      0.638971
1          42  2016      2         5.444113        7.218681      0.130298
2          93  2016      2         8.240233        5.566035      0.163557
3       000BV  2016      2         6.737428       15.344653      0.068497
4       000BZ  2016      2         8.520134        7.771812      0.138591
5       000C5  2016      2         6.687844        4.110859      0.010697
6       000CJ  2016      2         1.719125        5.033225      0.187682
7       000DF  2016      2         8.518437       11.750442      0.184071
8       000DR  2016      2         0.583333        2.133333      0.000000
9       000K0  2016      2         6.360212        7.647806      0.147352
10      000L7  2016      2         9.892085        9.290411      0.148858
11      000Q2  2016      2         8.287723       10.000990      0.177426
12      000T3  2016      2         2.544932        4.320270      0.282095
13      000U7  2016      2         7.268217        8.154070      0.119767
14      000Y9  2016      2        10.664129        7.149048      0.158419
15      ME014  2016      2         6.226619       11.253151      0.090935

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2016      3         6.366519        6.455259      0.090667
1          93  2016      3         9.019158        4.911141      0.066304
2       000BV  2016      3         7.403261       14.456386      0.114130
3       000BZ  2016      3         9.499841        7.881399      0.036248
4       000C5  2016      3         6.908657        3.024627      0.024478
5       000CJ  2016      3         2.582059        5.303382      0.065294
6       000DF  2016      3         9.189320       11.727601      0.091817
7       000DR  2016      3         6.512662        6.268506      0.145455
8       000K0  2016      3         6.891441        7.874322      0.100428
9       000L7  2016      3        10.472566        8.822714      0.039233
10      000Q2  2016      3         8.146484        9.883877      0.131732
11      000T3  2016      3         2.916793        3.472315      0.121331
12      000U7  2016      3         7.633508        8.598953      0.094939
13      000Y9  2016      3        11.017671        5.353288      0.037808
14      ME014  2016      3         6.791544       10.408510      0.074094

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      4         7.361653        6.938559      0.294068
1          42  2016      4         9.428358        4.763433      0.065672
2          93  2016      4        12.989123        5.228571      0.016558
3       000BV  2016      4        11.358856       10.676567      0.056131
4       000BZ  2016      4        12.900317        8.323492      0.071746
5       000C5  2016      4         8.650737        2.339381      0.014749
6       000CJ  2016      4         7.258482        5.547024      0.086012
7       000DF  2016      4        11.106452        9.176578      0.054698
8       000DR  2016      4         9.920330        5.112637      0.128571
9       000EB  2016      4         8.207418        7.391395      0.038576
10      000K0  2016      4        11.078203        6.195876      0.210898
11      000L7  2016      4        13.846726        9.582143      0.111310
12      000Q2  2016      4        10.685495        7.056264      0.058901
13      000T3  2016      4         6.688287        3.312238      0.115385
14      000U7  2016      4        11.457797        7.826102      0.100000
15      000Y9  2016      4        14.554571        6.407032      0.020253
16      ME014  2016      4         9.559972        8.134044      0.075900
17      ME103  2016      4         3.654795        3.526575      0.076712
18      ME104  2016      4         8.931667        2.839500      0.213333

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      5        11.117439        8.767030      0.312262
1          42  2016      5        13.849014        4.256479      0.234648
2          93  2016      5        15.684011        5.751473      0.042637
3       000BV  2016      5        15.631376       10.929366      0.257805
4       000BZ  2016      5        16.223100        8.620973      0.124924
5       000C5  2016      5        14.027049        1.122951      0.044809
6       000CJ  2016      5        10.134900        5.905556      0.113105
7       000DF  2016      5        15.228070        9.068151      0.078273
8       000DR  2016      5        14.020690        5.545690      0.203448
9       000EB  2016      5        13.286638        6.307040      0.170690
10      000K0  2016      5        14.602774        6.572847      0.232117
11      000L7  2016      5        16.699140        9.605014      0.118911
12      000Q2  2016      5        15.056309        5.269115      0.073446
13      000T3  2016      5        11.297868        3.039729      0.081783
14      000U7  2016      5        14.392037        7.985556      0.129259
15      000Y9  2016      5        16.895062        6.779150      0.049657
16      ME014  2016      5        14.344638        8.659316      0.075067
17      ME103  2016      5         9.457655        5.374855      0.213517
18      ME104  2016      5        14.067694        3.110147      0.174263
19      ME106  2016      5        14.247799        3.768019      0.216981

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      6        14.246303        5.600352      0.255634
1          42  2016      6        17.159153        4.201210      0.111346
2          93  2016      6        20.793036        4.403064      0.059889
3       000BV  2016      6        18.260381       10.194810      0.067128
4       000BZ  2016      6        21.951920        6.722871      0.026377
5       000C5  2016      6        16.541702        0.939433      0.082837
6       000CJ  2016      6        13.989055        4.342129      0.120840
7       000DF  2016      6        18.344134        7.645112      0.031006
8       000DR  2016      6        16.810626        5.183302      0.112334
9       000EB  2016      6        16.260676        6.213671      0.163441
10      000K0  2016      6        18.764881        4.959821      0.205952
11      000L7  2016      6        22.188759        8.616642      0.042920
12      000Q2  2016      6        17.150586        4.816992      0.082422
13      000T3  2016      6        15.552511        2.871918      0.104110
14      000U7  2016      6        19.759838        6.002028      0.143611
15      000Y9  2016      6        19.920921        5.954533      0.018410
16      ME014  2016      6        15.978670        8.221385      0.168421
17      ME103  2016      6        14.204729        3.134214      0.087065
18      ME104  2016      6        18.052632        2.151274      0.080886
19      ME106  2016      6        16.385180        4.314252      0.063435

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      7        19.100499        4.084788      0.039900
1          42  2016      7        19.881369        3.989809      0.025478
2          93  2016      7        24.106667        2.453333      0.013333
3       000BV  2016      7        20.941543        9.683897      0.018674
4       000BZ  2016      7        24.848154        6.920706      0.071910
5       000C5  2016      7        18.779090        1.071693      0.003129
6       000CJ  2016      7        17.326989        4.911648      0.122159
7       000DF  2016      7        20.563115        7.518852      0.011475
8       000DR  2016      7        21.288172        4.336774      0.004731
9       000EB  2016      7        19.750462        6.322615      0.034462
10      000K0  2016      7        21.661585        5.548476      0.044817
11      000L7  2016      7        25.386197        7.678592      0.051831
12      000Q2  2016      7        19.747951        4.842828      0.011475
13      000T3  2016      7        18.054832        2.701381      0.018540
14      000U7  2016      7        22.077158        7.121043      0.115468
15      000Y9  2016      7        23.282524        4.809223      0.000647
16      ME014  2016      7        18.804430        7.858201      0.033826
17      ME103  2016      7        16.363221        2.487745      0.072215
18      ME104  2016      7        20.875570        2.221477      0.021208
19      ME106  2016      7        18.604161        4.563785      0.003758

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      8        18.515553        4.088677      0.037653
1          42  2016      8        20.400707        3.603678      0.007921
2          93  2016      8        22.817129        4.445351      0.014682
3       000BV  2016      8        21.564043        9.987924      0.016825
4       000BZ  2016      8        24.404419        7.336989      0.016694
5       000C5  2016      8        19.376786        1.247253      0.008242
6       000CJ  2016      8        17.129436        4.762586      0.053645
7       000DF  2016      8        21.156275        7.210121      0.028880
8       000DR  2016      8        22.620833        4.356481      0.043981
9       000EB  2016      8        20.197076        7.062427      0.040058
10      000EU  2016      8        23.971429        6.993651      0.000000
11      000K0  2016      8        21.643458        5.121807      0.065109
12      000L7  2016      8        24.499017        7.036236      0.005056
13      000Q2  2016      8        20.545643        5.881950      0.030705
14      000T3  2016      8        17.898533        2.586064      0.019071
15      000U7  2016      8        22.068845        6.384096      0.053595
16      000Y9  2016      8        23.598906        4.296580      0.002736
17      ME014  2016      8        19.015586        8.470979      0.102621
18      ME103  2016      8        15.661326        2.211961      0.031768
19      ME104  2016      8        21.152966        2.139710      0.036414
20      ME106  2016      8        10.348531        2.908937      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016      9        15.990780        4.043972      0.134184
1          42  2016      9        17.613616        2.285066      0.060029
2          93  2016      9        19.969345        4.180506      0.070238
3       000BV  2016      9        19.662734        8.104460      0.040863
4       000BZ  2016      9        21.821711        5.878783      0.132895
5       000C5  2016      9        17.857765        0.834978      0.031640
6       000CJ  2016      9        14.810426        4.658003      0.059618
7       000DF  2016      9        19.206322        6.420690      0.039080
8       000DR  2016      9        19.909067        4.001600      0.136000
9       000EB  2016      9        18.250836        5.543311      0.048829
10      000EU  2016      9        19.331924        8.015160      0.035277
11      000K0  2016      9        19.609360        5.835468      0.100493
12      000L7  2016      9        21.812353        6.553088      0.314706
13      000Q2  2016      9        18.798721        4.706905      0.057801
14      000T3  2016      9        17.083333        2.386667      0.011667
15      000U7  2016      9        20.357554        4.440048      0.080096
16      000Y9  2016      9        21.777890        3.701590      0.019075
17      ME014  2016      9        18.350831        5.751066      0.052078
18      ME103  2016      9        13.459887        2.549915      0.064972
19      ME104  2016      9        18.670360        2.156371      0.042659
20      ME106  2016      9         0.000000        0.000000      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016     10         9.928430        3.630835      0.140028
1          42  2016     10        10.266812        3.149636      0.035808
2          93  2016     10        13.473481        3.734519      0.113778
3       000BV  2016     10        12.238536        9.087017      0.028729
4       000BZ  2016     10        13.461502        4.729393      0.240895
5       000C5  2016     10        10.525762        0.517867      0.034626
6       000CJ  2016     10         7.994783        3.948696      0.082319
7       000DF  2016     10        13.152877        6.441233      0.012877
8       000DR  2016     10        12.310092        3.427523      0.155963
9       000EB  2016     10        10.489624        5.053684      0.038797
10      000EU  2016     10        11.008493        7.310959      0.131781
11      000FA  2016     10         9.098101        6.383333      0.061603
12      000K0  2016     10        10.945593        4.600847      0.186441
13      000L7  2016     10        14.569986        5.316595      0.318615
14      000Q2  2016     10        12.240430        5.814194      0.077419
15      000T3  2016     10         7.481107        2.757443      0.040458
16      000U7  2016     10        12.270673        5.326202      0.135096
17      000Y9  2016     10        16.188235        3.220735      0.151176
18      ME014  2016     10        11.464498        5.443465      0.128996
19      ME103  2016     10         7.573651        3.115810      0.231111
20      ME104  2016     10        10.225335        1.503646      0.079625
21      ME106  2016     10         9.779367        3.183948      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016     11         5.889443        6.109971      0.301760
1          42  2016     11         6.846056        4.930423      0.090141
2          93  2016     11         8.754264        4.040465      0.277829
3       000BV  2016     11         8.434375       12.415057      0.092330
4       000BZ  2016     11         9.671649        6.148797      0.179381
5       000C5  2016     11         7.918498        1.478303      0.074548
6       000CJ  2016     11         4.270128        5.908946      0.117572
7       000DF  2016     11        10.031863        9.571977      0.110669
8       000DR  2016     11         8.016024        6.067140      0.187424
9       000EB  2016     11         7.265224        8.317156      0.107573
10      000EU  2016     11         7.302996        7.415549      0.166904
11      000FA  2016     11         5.442363       10.635447      0.097695
12      000FN  2016     11         6.124352        4.999482      0.075648
13      000K0  2016     11         7.810923        6.321538      0.172000
14      000L7  2016     11        11.429240        6.884211      0.111696
15      000Q2  2016     11         9.217382        8.019836      0.145603
16      000T3  2016     11         4.588652        3.368322      0.145626
17      000U7  2016     11         9.598756        6.048010      0.246766
18      000Y9  2016     11        12.595468        3.787764      0.151360
19      ME014  2016     11         7.449025        7.980780      0.030362
20      ME103  2016     11         4.244167        4.485861      0.285556
21      ME104  2016     11         8.281528        3.029431      0.111389
22      ME106  2016     11         7.505932        5.095749      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2016     12         5.481277        3.288824      0.018578
1          42  2016     12         2.604219        2.040366      0.020534
2          93  2016     12         5.587361        2.351944      0.027500
3       000BV  2016     12         5.770833        7.619722      0.026944
4       000BZ  2016     12         6.495679        4.002623      0.043827
5       000C5  2016     12         5.080376        0.255242      0.021237
6       000CJ  2016     12         4.064577        4.346647      0.000000
7       000DF  2016     12         7.469209        6.657836      0.028017
8       000DR  2016     12         5.924269        3.270468      0.013450
9       000EB  2016     12         3.507132        3.910388      0.031318
10      000EU  2016     12         2.857402        4.897281      0.022356
11      000FA  2016     12         3.559259        9.550754      0.031001
12      000FN  2016     12         7.279479        4.065472      0.035179
13      000K0  2016     12         1.579968        3.155735      0.009370
14      000L7  2016     12         8.672803        4.335007      0.100139
15      000Q2  2016     12         7.921455        4.846182      0.038909
16      000T3  2016     12         3.206200        2.960200      0.000400
17      000U7  2016     12         6.078810        6.579554      0.007435
18      000Y9  2016     12        10.330685        2.203562      0.024932
19      ME014  2016     12         6.211440        6.144428      0.016420
20      ME103  2016     12         0.670912        2.385576      0.044772
21      ME104  2016     12         3.548257        2.141260      0.035389
22      ME106  2016     12         5.151141        5.143423      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      1         0.625476        6.543192      0.069107
1          42  2017      1         0.955798        4.170396      0.033288
2          93  2017      1         3.870941        4.508186      0.072851
3       000BV  2017      1         3.176301        9.969589      0.033425
4       000BZ  2017      1         4.029853        7.387794      0.085882
5       000C5  2017      1         2.720323        0.874563      0.051144
6       000CJ  2017      1        -2.110832        4.959812      0.051177
7       000DF  2017      1         4.603586        9.139724      0.038069
8       000DR  2017      1         2.619882        5.389370      0.061024
9       000EB  2017      1         1.900295        6.538700      0.042541
10      000EU  2017      1         0.376177        8.545014      0.024377
11      000FA  2017      1         0.150138        7.767403      0.092265
12      000FN  2017      1         4.784945        5.681300      0.126783
13      000K0  2017      1         0.263369        6.227512      0.062442
14      000L7  2017      1         5.238248        7.125985      0.024234
15      000Q2  2017      1         5.073684        5.266886      0.091667
16      000T3  2017      1        -2.216881        3.593028      0.052844
17      000U7  2017      1         1.072603        8.718982      0.017613
18      000Y9  2017      1         7.983946        3.957415      0.057415
19      ME014  2017      1         3.319732        6.664765      0.038926
20      ME103  2017      1        -3.261477        4.479732      0.080805
21      ME104  2017      1         1.239060        3.608966      0.031946
22      ME106  2017      1         2.798522        4.697097      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      2         4.861386        7.303630      0.289769
1          42  2017      2         6.216119        5.633646      0.074804
2          93  2017      2         8.103566        4.681550      0.075349
3       000BV  2017      2         7.885000       12.367273      0.053030
4       000BZ  2017      2         9.365969        6.568063      0.074695
5       000C5  2017      2         6.992846        2.600298      0.094486
6       000CJ  2017      2         3.766498        5.129461      0.068013
7       000DF  2017      2         9.093403       11.394965      0.101736
8       000DR  2017      2         7.130667        6.450857      0.186667
9       000EB  2017      2         6.366232        8.822349      0.078303
10      000EU  2017      2         7.683257        9.090107      0.023744
11      000FA  2017      2         5.969811        6.618868      0.083019
12      000FN  2017      2         7.237134        7.133876      0.174593
13      000K0  2017      2         7.260784        6.656536      0.089542
14      000L7  2017      2        10.712848        8.932508      0.102167
15      000Q2  2017      2         8.520567        8.276359      0.186288
16      000T3  2017      2         4.365495        4.282857      0.162198
17      000U7  2017      2         9.223342        6.358477      0.173956
18      000Y9  2017      2        11.148171        4.676829      0.002439
19      ME014  2017      2         6.890045       10.102229      0.077266
20      ME103  2017      2         3.553343        4.931738      0.043982
21      ME104  2017      2         7.766320        4.459332      0.038576
22      ME106  2017      2         6.797329        7.026142      0.055786

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      3         8.714391        8.483395      0.121033
1          42  2017      3         9.726407        5.476046      0.087446
2          93  2017      3        10.952174        4.920174      0.114783
3       000BV  2017      3        11.328883       12.297684      0.080926
4       000BZ  2017      3        12.224181        6.077223      0.124805
5       000C5  2017      3        10.121053        2.974629      0.048583
6       000CJ  2017      3         7.403459        6.094497      0.106918
7       000DF  2017      3        11.469176       10.401136      0.099148
8       000DR  2017      3        10.233333        6.342623      0.176321
9       000EB  2017      3         9.372485        8.302367      0.092899
10      000EU  2017      3        10.207337        8.326087      0.059511
11      000FA  2017      3         9.588556        8.587148      0.052465
12      000FN  2017      3         9.745655        7.402504      0.069809
13      000K0  2017      3        10.450145        6.639451      0.074277
14      000L7  2017      3        12.964937        7.585694      0.119776
15      000Q2  2017      3        10.787523        7.692586      0.095479
16      000T3  2017      3         6.915192        4.437463      0.140413
17      000U7  2017      3        12.463781        6.279271      0.104784
18      000Y9  2017      3        12.707703        5.077973      0.061622
19      ME014  2017      3        10.289240        7.389426      0.066571
20      ME103  2017      3         6.003769        4.202463      0.180350
21      ME104  2017      3        10.211141        3.750779      0.063087
22      ME106  2017      3        10.197047        7.545087      0.057718

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      4         8.738331        6.444130      0.108628
1          42  2017      4         9.766619        4.176136      0.030682
2          93  2017      4        12.090646        5.971769      0.110544
3       000BV  2017      4        11.611017        9.887853      0.020339
4       000BZ  2017      4        13.842057        8.304085      0.082602
5       000C5  2017      4         9.818388        0.987977      0.035078
6       000CJ  2017      4         7.481567        5.791147      0.028157
7       000DF  2017      4        12.476366       10.534564      0.021270
8       000DR  2017      4        11.647072        4.383559      0.086937
9       000EB  2017      4         9.680787        5.952598      0.026142
10      000EU  2017      4        11.171529       11.069425      0.035063
11      000FA  2017      4         8.123677        5.760864      0.028412
12      000FN  2017      4        10.061803        5.044590      0.053115
13      000K0  2017      4        11.104970        8.101506      0.085843
14      000L7  2017      4        14.208370        7.531571      0.058737
15      000Q2  2017      4        12.035497        4.985396      0.036917
16      000T3  2017      4         7.480357        3.733604      0.039610
17      000U7  2017      4        11.600355        7.370213      0.056738
18      000Y9  2017      4        13.937213        4.581609      0.040805
19      ME014  2017      4        10.266029        0.959936      0.021053
20      ME103  2017      4         6.062123        4.748494      0.050215
21      ME104  2017      4        10.321264        2.447443      0.058333
22      ME106  2017      4        10.278080        3.940072      0.007736

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      5        13.245504        6.636240      0.247411
1          42  2017      5        15.719914        4.256017      0.067622
2          93  2017      5        16.287709        4.685432      0.064947
3       000BV  2017      5        16.535673       10.372636      0.073926
4       000BZ  2017      5        17.926307        5.955143      0.064755
5       000C5  2017      5        15.364746        1.527709      0.108916
6       000CJ  2017      5        12.102068        5.109453      0.116691
7       000DF  2017      5        17.062069        9.054423      0.073763
8       000DR  2017      5        15.878706        5.159290      0.157411
9       000EB  2017      5        14.891640        5.357074      0.121222
10      000EU  2017      5        15.941962        7.745640      0.071935
11      000FA  2017      5        14.954778        5.383984      0.051817
12      000FN  2017      5        14.556962        4.424209      0.212342
13      000GQ  2017      5        22.126596        6.855319      0.000000
14      000K0  2017      5        16.840560        6.266814      0.129499
15      000L7  2017      5        18.334107        6.640058      0.093759
16      000Q2  2017      5        15.650817        6.089655      0.059891
17      000T3  2017      5        12.962602        3.426667      0.054309
18      000U7  2017      5        17.406047        4.537907      0.144651
19      000Y9  2017      5        17.940489        3.791304      0.034239
20      ME014  2017      5        15.325469        0.605617      0.043700
21      ME103  2017      5        11.274228        3.912779      0.085369
22      ME104  2017      5        15.990296        2.470310      0.059030
23      ME106  2017      5        15.199196        4.277453      0.077748

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      6        17.980602        5.129323      0.204812
1          42  2017      6        20.392230        4.730647      0.100144
2          93  2017      6        22.774556        4.802219      0.011538
3       000BV  2017      6        21.156863       10.481373      0.098599
4       000BZ  2017      6        24.002357        6.494781      0.061616
5       000C5  2017      6        18.858287        1.869242      0.049719
6       000CJ  2017      6        17.619814        4.706347      0.103096
7       000DF  2017      6        20.742017        9.338319      0.132101
8       000DR  2017      6        20.326087        5.073292      0.160663
9       000EB  2017      6        19.991798        7.199651      0.073647
10      000EU  2017      6        21.598455        7.547051      0.058708
11      000FA  2017      6        18.596348        6.129494      0.080899
12      000FN  2017      6        17.399842        5.045325      0.067512
13      000GQ  2017      6        21.836599        6.536744      0.004035
14      000K0  2017      6        22.009327        6.356422      0.075535
15      000L7  2017      6        24.368955        6.956942      0.044306
16      000Q2  2017      6        18.871760        5.711605      0.037137
17      000T3  2017      6        17.223975        3.511356      0.064353
18      000U7  2017      6        22.715648        4.576039      0.061125
19      000Y9  2017      6        22.671514        4.476162      0.002999
20      ME014  2017      6        19.062465        2.349501      0.028255
21      ME103  2017      6        16.547989        2.686602      0.104854
22      ME104  2017      6        21.386269        2.459972      0.014424
23      ME106  2017      6        18.845568        5.620277      0.054294

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      7        17.460276        5.173793      0.088552
1          42  2017      7        20.355667        4.756815      0.109039
2          93  2017      7        24.096589        6.278140      0.000310
3       000BV  2017      7        21.076479       11.205915      0.118845
4       000BZ  2017      7        24.830075        8.100301      0.010226
5       000C5  2017      7        19.524863        1.794672      0.046448
6       000CJ  2017      7        17.505302        4.810604      0.159352
7       000DF  2017      7        20.747697        8.369539      0.056761
8       000DR  2017      7        19.913949        5.019022      0.155797
9       000EB  2017      7        20.157321        8.226947      0.039252
10      000EU  2017      7        22.344690        8.218897      0.065655
11      000FA  2017      7        18.303261        6.000951      0.064402
12      000FN  2017      7        17.697988        5.227399      0.065015
13      000GQ  2017      7        22.301828        6.936287      0.001125
14      000K0  2017      7        22.781364        6.185758      0.096364
15      000L7  2017      7        24.998310        8.963803      0.012676
16      000Q2  2017      7        19.867978        6.174906      0.070412
17      000T3  2017      7        17.566913        3.256932      0.091312
18      000U7  2017      7        23.353239        4.883401      0.023887
19      000Y9  2017      7        24.066981        4.880728      0.000000
20      ME014  2017      7        18.955898        2.556823      0.054424
21      ME103  2017      7        16.995710        3.257078      0.112064
22      ME104  2017      7        21.891421        2.136863      0.006166
23      ME106  2017      7        18.974799        4.654893      0.042359

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      8        17.645931        3.795862      0.047724
1          42  2017      8        19.423755        3.616216      0.071408
2          93  2017      8        24.369591        5.095906      0.001462
3       000BV  2017      8        20.153868        8.640688      0.080516
4       000BZ  2017      8        25.043857        6.909487      0.004044
5       000C5  2017      8        18.547940        1.245879      0.054670
6       000CJ  2017      8        18.250837        4.368950      0.115982
7       000DF  2017      8        20.243653        8.093808      0.017337
8       000DR  2017      8        20.304828        4.229195      0.076322
9       000EB  2017      8        19.451261        7.070084      0.051092
10      000EU  2017      8        22.491484        8.096429      0.073901
11      000FA  2017      8        17.725068        4.558672      0.097019
12      000FN  2017      8        17.501560        4.700693      0.079029
13      000GQ  2017      8        22.564575        5.990098      0.001395
14      000HL  2017      8        20.950000        2.050000      0.000000
15      000K0  2017      8        22.885048        5.982315      0.125080
16      000L7  2017      8        25.192525        7.450353      0.012976
17      000Q2  2017      8        19.638211        5.461585      0.034553
18      000T3  2017      8        17.978394        3.252008      0.036329
19      000U7  2017      8        23.656367        4.901253      0.046347
20      000Y9  2017      8        24.182201        4.122816      0.000324
21      ME014  2017      8        18.395518        1.348473      0.167227
22      ME103  2017      8        16.925737        2.288767      0.069705
23      ME104  2017      8        22.118767        1.890898      0.010456
24      ME106  2017      8        18.121314        3.773204      0.141019

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017      9        11.727080        4.159379      0.236107
1          42  2017      9        14.642216        4.244910      0.141317
2          93  2017      9        16.631765        5.558235      0.032549
3       000BV  2017      9        15.906277       10.260057      0.115835
4       000BZ  2017      9        18.289984        6.861049      0.006359
5       000C5  2017      9        14.327128        1.691775      0.117749
6       000CJ  2017      9        10.997015        4.727032      0.041459
7       000DF  2017      9        16.779254        8.035170      0.155592
8       000DR  2017      9        15.202804        5.385514      0.182243
9       000EB  2017      9        15.196375        9.261407      0.142431
10      000EU  2017      9        15.604795        7.283780      0.027362
11      000FA  2017      9        13.608372        6.311318      0.085271
12      000FN  2017      9        14.306164        5.568151      0.141096
13      000GQ  2017      9        15.694908        4.899434      0.001414
14      000HL  2017      9        17.738912        3.589958      0.000000
15      000K0  2017      9        15.955576        4.944964      0.101439
16      000L7  2017      9        18.670087        7.552168      0.015029
17      000Q2  2017      9        16.092623        6.230874      0.221311
18      000T3  2017      9        11.378087        3.162957      0.096000
19      000U7  2017      9        16.711111        4.295935      0.044444
20      000Y9  2017      9        18.369767       10.724651      0.002791
21      ME014  2017      9        15.114147        2.029071      0.118169
22      ME103  2017      9        10.286519        1.890148      0.053333
23      ME104  2017      9        15.420709        1.664738      0.065816
24      ME106  2017      9        14.995983        3.844917      0.136011

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017     10        11.387552        3.858921      0.079115
1          42  2017     10        13.027193        3.423684      0.030994
2          93  2017     10        15.032376        4.722169      0.001276
3       000BV  2017     10        14.799861       10.324411      0.039112
4       000BZ  2017     10        16.324100        6.818153      0.010642
5       000C5  2017     10        13.618056        1.050556      0.036111
6       000CJ  2017     10        10.377987        4.089780      0.029874
7       000DF  2017     10        15.850237        8.259874      0.051185
8       000DR  2017     10        14.218812        4.442574      0.050990
9       000EB  2017     10        13.292149        6.835331      0.054132
10      000EU  2017     10        13.530435        8.420898      0.022440
11      000FA  2017     10        13.487336        5.774891      0.031878
12      000FN  2017     10        14.286466        5.242293      0.056015
13      000GQ  2017     10        13.829492        6.230041      0.000823
14      000HL  2017     10        15.828552        3.040054      0.000000
15      000K0  2017     10        13.930836        5.522997      0.039024
16      000L7  2017     10        17.027755        6.907810      0.041004
17      000Q2  2017     10        15.086874        5.261814      0.072554
18      000T3  2017     10         9.642308        3.398988      0.104049
19      000U7  2017     10        14.165471        5.885202      0.020628
20      ME014  2017     10        14.392886        2.804419      0.070588
21      ME103  2017     10         9.429716        2.105401      0.011370
22      ME104  2017     10        13.735255        1.952989      0.005898
23      ME106  2017     10        14.174397        4.761300      0.046113

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017     11         5.216490        5.866868      0.183661
1          42  2017     11         6.558766        4.311080      0.072370
2          93  2017     11         8.124856        4.176149      0.047126
3       000BV  2017     11         8.739875       10.955296      0.089408
4       000BZ  2017     11         9.427614        7.850817      0.116993
5       000C5  2017     11         7.743417        1.308824      0.073109
6       000CJ  2017     11         2.366798        3.784783      0.101186
7       000DF  2017     11         9.676923        9.389385      0.070462
8       000DR  2017     11         7.535593        5.067161      0.138136
9       000EB  2017     11         7.447145        7.654328      0.082873
10      000EU  2017     11         6.261201        9.445534      0.069693
11      000FA  2017     11         6.306647        5.051108      0.119645
12      000FN  2017     11         8.753309        6.484007      0.169485
13      000GQ  2017     11         6.766066        6.313664      0.029129
14      000HL  2017     11        10.171853        3.109477      0.000000
15      000K0  2017     11         6.534824        6.981949      0.163578
16      000L7  2017     11        10.252967        7.938205      0.061360
17      000Q2  2017     11        10.753869        5.359524      0.085119
18      000T3  2017     11         4.495644        3.406629      0.230303
19      000U7  2017     11         6.523507        7.054528      0.070906
20      ME014  2017     11         8.421053        1.003556      0.122048
21      ME103  2017     11         1.245390        4.553806      0.041608
22      ME104  2017     11         6.729640        2.518587      0.050416
23      ME106  2017     11         8.077285        3.616551      0.128255

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2017     12         1.726257        7.374302      0.491061
1          42  2017     12         4.759973        6.495013      0.102965
2          93  2017     12         4.439091        2.518030      0.113636
3       000BV  2017     12         5.810433       12.978010      0.131621
4       000BZ  2017     12         5.583955        6.719773      0.013938
5       000C5  2017     12         6.546909        2.666532      0.109140
6       000CJ  2017     12        -1.797153        3.884875      0.243060
7       000DF  2017     12         7.316416       11.610241      0.145181
8       000DR  2017     12         4.549567        7.321317      0.218371
9       000EB  2017     12         4.908976       10.524882      0.134488
10      000EU  2017     12         3.532823        8.852295      0.075939
11      000FA  2017     12         4.260085        7.760931      0.188434
12      000FN  2017     12         7.235616        8.043683      0.276104
13      000GQ  2017     12         4.049298        8.572472      0.010112
14      000HL  2017     12         6.671156        4.945714      0.002177
15      000K0  2017     12         4.337118        8.114265      0.175837
16      000L7  2017     12         6.511080        6.974792      0.023823
17      000Q2  2017     12         9.254300        8.552088      0.300737
18      000T3  2017     12         1.331323        4.056420      0.341634
19      000U7  2017     12         4.424771        6.536330      0.165872
20      ME014  2017     12         4.777586        3.352615      0.138506
21      ME103  2017     12        -0.855747        5.220862      0.057471
22      ME104  2017     12         4.026149        4.310718      0.040805
23      ME106  2017     12         4.768391        5.502759      0.211494

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      1         4.667356        9.713442      0.587888
1          42  2018      1         7.035628        7.158300      0.164103
2          93  2018      1         8.884405        2.273794      0.140514
3       000BV  2018      1         7.983704       12.735556      0.138148
4       000BZ  2018      1         9.245741        7.521451      0.221136
5       000C5  2018      1         8.597715        4.307392      0.071774
6       000CJ  2018      1         1.691071        5.623929      0.507857
7       000DF  2018      1         9.435955       12.635534      0.150562
8       000DR  2018      1         7.570265        9.154735      0.356439
9       000EB  2018      1         7.141493       11.450299      0.171642
10      000EU  2018      1         7.146175        7.948957      0.149930
11      000FA  2018      1         5.730866        8.571229      0.126816
12      000FN  2018      1         8.205037        9.451852      0.146370
13      000GQ  2018      1         7.619143        8.312714      0.002571
14      000HL  2018      1         9.047984        5.378898      0.000000
15      000K0  2018      1         7.641295        7.493957      0.234532
16      000L7  2018      1        10.741583        9.327194      0.229065
17      000Q2  2018      1         9.427599       10.138530      0.212545
18      000T3  2018      1         4.288469        4.961233      0.699006
19      000U7  2018      1         8.455632        5.261839      0.168736
20      ME014  2018      1         6.967204        0.024866      0.141667
21      ME103  2018      1         3.756647        5.329017      0.362428
22      ME104  2018      1         8.491436        3.816685      0.122928
23      ME106  2018      1         7.178912        7.735891      0.243810

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      2        -0.892716        6.081942      0.197269
1          42  2018      2         0.980090        5.063047      0.063952
2          93  2018      2         3.834434        0.002516      0.055975
3       000BV  2018      2         2.413083       13.925714      0.046917
4       000BZ  2018      2         4.242435        8.525739      0.056696
5       000C5  2018      2         3.597160        1.752167      0.065172
6       000CJ  2018      2        -3.150855        4.278419      0.071795
7       000DF  2018      2         4.763679       12.553145      0.072642
8       000DR  2018      2         1.727331        4.768644      0.100424
9       000EB  2018      2         1.456890        8.480035      0.076325
10      000EU  2018      2         1.100159        8.732857      0.023175
11      000FA  2018      2         0.322561        7.558841      0.037805
12      000FN  2018      2         3.916373        7.449824      0.122535
13      000GQ  2018      2         1.897856        8.311945      0.002450
14      000HL  2018      2         5.222741        3.015964      0.000000
15      000K0  2018      2         2.027850        7.200489      0.076873
16      000L7  2018      2         5.558923        7.132462      0.082462
17      000Q2  2018      2         4.659259        8.471678      0.114597
18      000T3  2018      2        -3.414505        3.284615      0.055824
19      000U7  2018      2         1.242763        7.254825      0.045614
20      ME014  2018      2         3.286230        0.042492      0.045902
21      ME103  2018      2        -2.660451        4.866000      0.048421
22      ME104  2018      2         1.389157        2.610792      0.070568
23      ME106  2018      2         2.812462        6.313093      0.098799

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      3         4.057163        8.544077      0.358678
1          42  2018      3         6.887500        5.619643      0.109066
2          93  2018      3         8.130731        0.000000      0.175415
3       000BV  2018      3         7.531731       12.256456      0.097253
4       000BZ  2018      3         9.302469        8.262346      0.285185
5       000C5  2018      3         7.473626        2.438599      0.133242
6       000CJ  2018      3         1.741946        4.629195      0.103020
7       000DF  2018      3         9.048883       14.102514      0.158101
8       000DR  2018      3         7.946589        6.624756      0.208187
9       000EB  2018      3         6.440582        8.460643      0.145789
10      000EU  2018      3         7.167465        9.898451      0.131831
11      000FA  2018      3         4.944000        7.421143      0.084143
12      000FN  2018      3         6.807504        7.671363      0.184074
13      000GQ  2018      3         7.575391        9.489474      0.039260
14      000HL  2018      3         8.504852        4.181132      0.000000
15      000K0  2018      3         7.486628        7.598547      0.244477
16      000L7  2018      3        10.393557        9.758824      0.231373
17      000MJ  2018      3         7.506557        5.582787      0.126230
18      000Q2  2018      3         8.332517        8.890734      0.224825
19      000T3  2018      3         2.746612        3.410472      0.216016
20      000U7  2018      3         8.448018        6.388987      0.149780
21      ME014  2018      3         6.464363        0.111965      0.089849
22      ME103  2018      3         3.008477        5.569770      0.121839
23      ME104  2018      3         8.294397        4.044569      0.021839
24      ME106  2018      3         6.799712        6.415576      0.088473

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      4        10.591092        7.132184      0.177011
1          42  2018      4        12.832240        3.826248      0.098716
2          93  2018      4        10.725333        0.000000      0.005333
3       000BV  2018      4        14.496372       11.086212      0.072279
4       000BZ  2018      4        14.692537        7.167164      0.170813
5       000C5  2018      4        11.817011        1.140000      0.068046
6       000CJ  2018      4        10.267914        7.010935      0.050072
7       000DF  2018      4        13.888623        9.266617      0.070958
8       000DR  2018      4        14.043237        5.605072      0.136715
9       000EB  2018      4        12.358692        5.976075      0.075888
10      000EU  2018      4        13.911080        9.342898      0.079261
11      000FA  2018      4        13.129047        5.103177      0.069289
12      000FN  2018      4        11.477568        6.320377      0.142808
13      000GQ  2018      4        14.618222        9.740000      0.010667
14      000HL  2018      4        14.070986        3.252535      0.000000
15      000K0  2018      4        14.594521        7.089193      0.071233
16      000L7  2018      4        14.429647        7.475962      0.253526
17      000MJ  2018      4        12.537887        5.444507      0.165634
18      000Q2  2018      4        12.850292        7.182261      0.127875
19      000T3  2018      4         8.654206        3.609034      0.095950
20      000U7  2018      4        15.247465        4.767546      0.107911
21      ME014  2018      4        11.977165        0.018209      0.092520
22      ME103  2018      4         9.235049        5.475410      0.129903
23      ME104  2018      4        12.644746        3.889288      0.040678
24      ME106  2018      4        12.634910        5.479624      0.071488

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      5        12.309141        4.866303      0.209004
1          42  2018      5        15.739589        3.857260      0.126027
2       000BV  2018      5        16.876301       10.155068      0.103288
3       000BZ  2018      5        17.645222        6.938396      0.154266
4       000C5  2018      5        17.899625        0.480524      0.070412
5       000CJ  2018      5        12.715177        4.565936      0.076897
6       000DF  2018      5        15.948132        9.469971      0.059195
7       000DR  2018      5        15.805000        3.692333      0.120667
8       000EB  2018      5        15.170066        5.498026      0.026974
9       000EU  2018      5        15.810360        7.360288      0.161727
10      000FA  2018      5        15.812155        3.950829      0.022099
11      000FN  2018      5        13.663062        4.880699      0.038270
12      000GQ  2018      5        16.666279        6.831541      0.001453
13      000HL  2018      5        16.537366        2.109409      0.000000
14      000K0  2018      5        16.735407        6.017037      0.202963
15      000L7  2018      5        17.520741        7.184889      0.214519
16      000MJ  2018      5        14.827989        4.356386      0.048641
17      000Q2  2018      5        16.181693        5.524870      0.113299
18      000U7  2018      5        15.614421        4.870922      0.139007
19      ME014  2018      5        14.729905        0.023951      0.083085
20      ME103  2018      5        11.271853        2.966096      0.139180
21      ME104  2018      5        15.575643        1.349323      0.138295
22      ME106  2018      5        15.043302        3.305304      0.062246
23      ME135  2018      5        16.987260        3.477885      0.498077

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      6        16.757806        5.151899      0.154993
1          42  2018      6        19.295915        4.239155      0.072113
2       000BV  2018      6        19.841007       10.751799      0.050647
3       000BZ  2018      6        22.014348        6.770132      0.104832
4       000C5  2018      6        18.811408        0.556197      0.154366
5       000CJ  2018      6        16.588399        5.182843      0.022222
6       000DF  2018      6        20.306073        7.430226      0.166949
7       000DR  2018      6        18.073462        2.251670      0.052021
8       000EB  2018      6        18.607803        4.481069      0.045376
9       000EU  2018      6        19.907703        8.643224      0.085021
10      000FA  2018      6        17.835093        4.111412      0.018830
11      000FN  2018      6        17.394371        4.209006      0.118949
12      000GQ  2018      6        20.619972        8.076062      0.000000
13      000HL  2018      6        20.144924        2.309736      0.000000
14      000K0  2018      6        20.294774        7.099294      0.065254
15      000L7  2018      6        22.522693        6.683510      0.008472
16      000MJ  2018      6        17.848664        4.456821      0.047539
17      000Q2  2018      6        19.040794        5.189841      0.062222
18      000T3  2018      6        15.599767        2.331002      0.101632
19      000U7  2018      6        19.268678        3.870690      0.223276
20      ME014  2018      6        16.607475        0.000000      0.000282
21      ME103  2018      6        14.842816        2.405460      0.009770
22      ME104  2018      6        19.655192        1.322333      0.066572
23      ME106  2018      6        17.381180        4.678511      0.004494
24      ME135  2018      6        18.854062        3.150369      0.107533

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      7        20.695506        3.449438      0.004494
1          42  2018      7        22.427459        3.112022      0.044809
2       000BV  2018      7        24.113451        9.414130      0.024457
3       000BZ  2018      7        25.661413        5.493886      0.054076
4       000C5  2018      7        20.848704        0.598090      0.076398
5       000CJ  2018      7        19.255505        5.038073      0.098165
6       000DF  2018      7        22.047718        7.007192      0.039557
7       000DR  2018      7        20.322826        1.563995      0.051087
8       000EB  2018      7        21.947967        2.684824      0.033875
9       000EU  2018      7        23.448774        7.921390      0.067575
10      000FA  2018      7        21.586839        3.921574      0.059159
11      000FN  2018      7        18.884783        3.145245      0.052446
12      000GQ  2018      7        24.041393        6.146038      0.014754
13      000HL  2018      7        23.146538        2.420773      0.000000
14      000K0  2018      7        22.992276        5.245528      0.079133
15      000L7  2018      7        26.681626        6.169106      0.024065
16      000MJ  2018      7        21.302174        4.281114      0.032065
17      000Q2  2018      7        20.563781        3.971861      0.115440
18      000T3  2018      7        18.778527        2.505329      0.037618
19      000U7  2018      7        23.472764        3.426423      0.027100
20      ME014  2018      7        21.444823        0.000000      0.023706
21      ME103  2018      7        17.603058        1.666727      0.158633
22      ME104  2018      7        22.950271        1.116667      0.019783
23      ME106  2018      7        21.332289        3.473161      0.023978

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      8        17.379693        3.429119      0.033716
1          42  2018      8        21.043388        3.363085      0.018733
2       000BV  2018      8        21.664770        9.403930      0.046883
3       000BZ  2018      8        24.242779        5.471117      0.113351
4       000C5  2018      8        18.813506        0.675171      0.075853
5       000CJ  2018      8        17.309154        4.069487      0.172538
6       000DF  2018      8        21.358943        8.192141      0.046883
7       000DR  2018      8        19.743496        1.886043      0.026829
8       000EB  2018      8        20.131030        6.277913      0.054201
9       000EU  2018      8        22.914578        8.227929      0.034877
10      000FA  2018      8        19.166388        4.441841      0.057741
11      000FN  2018      8        17.151897        2.920190      0.057724
12      000GQ  2018      8        23.548044        7.213615      0.000000
13      000HL  2018      8        24.422446        2.842876      0.000000
14      000K0  2018      8        22.398374        5.707453      0.065041
15      000L7  2018      8        25.543787        6.467012      0.061834
16      000MJ  2018      8        19.044729        4.377350      0.115385
17      000Q2  2018      8        18.453802        2.506456      0.039311
18      000T3  2018      8        18.232104        1.885100      0.077727
19      000U7  2018      8        23.363224        3.567506      0.050882
20      ME014  2018      8        18.994414        0.000000      0.075477
21      ME103  2018      8        16.721681        2.037463      0.021239
22      ME104  2018      8        22.649051        1.086721      0.029268
23      ME106  2018      8        19.160976        4.055827      0.097561
24      ME135  2018      8        17.613208        2.143396      0.000000

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018      9        16.501688        4.755274      0.028129
1          42  2018      9        16.553717        3.563114      0.025806
2       000BV  2018      9        17.977119        9.593220      0.022881
3       000BZ  2018      9        20.997191        4.881742      0.001685
4       000C5  2018      9        15.876611        0.664706      0.010084
5       000CJ  2018      9        15.312781        4.023876      0.040449
6       000DF  2018      9        18.574189        7.239069      0.020874
7       000DR  2018      9        16.389109        1.964215      0.018105
8       000EB  2018      9        16.397599        5.780791      0.011299
9       000EU  2018      9        19.169242        8.414747      0.028090
10      000FA  2018      9        15.091513        3.915559      0.059689
11      000FN  2018      9        15.316573        3.135955      0.044382
12      000GQ  2018      9        19.538307        5.768580      0.000000
13      000HL  2018      9        20.041176        2.515266      0.000280
14      000K0  2018      9        18.521549        5.124930      0.036056
15      000L7  2018      9        22.062700        5.390856      0.001451
16      000MJ  2018      9        15.518884        4.175966      0.037196
17      000Q2  2018      9        16.362481        4.232006      0.028790
18      000T3  2018      9        13.485455        1.415758      0.003636
19      000U7  2018      9        19.288592        2.939718      0.017746
20      ME014  2018      9        15.743954        0.000000      0.046088
21      ME103  2018      9        12.921139        1.951274      0.015292
22      ME104  2018      9        18.189137        1.145208      0.046006
23      ME106  2018      9        15.429237        3.370621      0.040678
24      ME135  2018      9        17.187500        3.384551      0.013483

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018     10        12.095592        7.081267      0.069697
1          42  2018     10        12.632086        3.586331      0.058993
2       000BV  2018     10        14.461821       11.100679      0.026087
3       000BZ  2018     10        15.372176        5.974242      0.156749
4       000C5  2018     10        12.284711        0.581818      0.119835
5       000CJ  2018     10        10.345183        5.359294      0.072727
6       000DF  2018     10        14.175687        9.864698      0.045055
7       000DR  2018     10        12.065747        2.259797      0.041219
8       000EB  2018     10        12.328494        5.423745      0.036092
9       000EU  2018     10        13.283129        8.958367      0.096599
10      000FA  2018     10        11.993579        3.788661      0.067760
11      000FN  2018     10        11.789130        3.249728      0.174457
12      000GQ  2018     10        13.823748        8.336195      0.093848
13      000HL  2018     10        16.245087        2.494751      0.232301
14      000K0  2018     10        12.694142        5.194823      0.118256
15      000L7  2018     10        16.289281        6.701975      0.416361
16      000MJ  2018     10        12.627619        4.244354      0.052245
17      000Q2  2018     10        12.569798        4.263006      0.056358
18      000T3  2018     10         4.903211        1.445872      0.179817
19      000U7  2018     10        13.456038        4.042334      0.163365
20      ME014  2018     10        13.352582        0.000000      0.050272
21      ME103  2018     10         8.752092        3.784993      0.243001
22      ME104  2018     10        12.493959        2.338156      0.038474
23      ME106  2018     10        12.766441        3.762382      0.037077
24      ME135  2018     10        13.351362        3.912534      0.040463

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018     11         6.727786        6.215630      0.197395
1          42  2018     11         7.097609        3.974684      0.094796
2       000BV  2018     11         8.820255       10.492776      0.075071
3       000BZ  2018     11        10.460405        5.092197      0.281503
4       000C5  2018     11         7.893046        0.852712      0.129346
5       000CJ  2018     11         5.552408        4.456232      0.031161
6       000DF  2018     11        10.028223        9.536963      0.117479
7       000DR  2018     11         7.776562        2.564347      0.067898
8       000EB  2018     11         7.063128        5.012052      0.146341
9       000EU  2018     11         8.530540        7.361790      0.141477
10      000FA  2018     11         6.937326        4.766713      0.059331
11      000FN  2018     11         7.997869        3.469460      0.138068
12      000GQ  2018     11         9.036966        7.220619      0.107216
13      000HL  2018     11        11.200975        2.164485      0.093872
14      000K0  2018     11         8.213031        3.693626      0.122380
15      000L7  2018     11        12.017241        6.056034      0.183046
16      000MJ  2018     11         8.018555        5.610198      0.067989
17      000Q2  2018     11         9.411416        6.099696      0.206393
18      000T3  2018     11         4.776412        0.829520      0.070904
19      000U7  2018     11         9.233803        2.230282      0.257746
20      ME014  2018     11         8.092797        0.000000      0.021469
21      ME103  2018     11         5.228083        4.405498      0.254978
22      ME104  2018     11         9.759084        3.504136      0.051699
23      ME106  2018     11         8.009220        5.902270      0.059291
24      ME135  2018     11         7.389872        3.271469      0.098573

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2018     12         5.185950        6.887052      0.449311
1          42  2018     12         5.918835        5.664770      0.107588
2       000BV  2018     12         7.597264       12.068673      0.083995
3       000BZ  2018     12         7.437449        5.035802      0.032373
4       000C5  2018     12         8.233378        2.050740      0.077793
5       000CJ  2018     12         1.528786        3.003001      0.308322
6       000DF  2018     12         9.376543        9.233059      0.135528
7       000DR  2018     12         5.950949        4.351897      0.128726
8       000EB  2018     12         6.293023        8.529138      0.157319
9       000EU  2018     12         4.973931        5.959310      0.076414
10      000FA  2018     12         5.741117        6.719054      0.134097
11      000FN  2018     12         8.281191        6.080244      0.151015
12      000GQ  2018     12         5.524964        5.714307      0.056642
13      000HL  2018     12         8.837197        3.210512      0.057951
14      000K0  2018     12         5.836721        5.559214      0.122493
15      000L7  2018     12         9.114144        5.253465      0.035644
16      000MJ  2018     12         7.178918        6.591956      0.127323
17      000Q2  2018     12         8.941253        6.263931      0.276026
18      000T3  2018     12         2.946712        3.029178      0.321644
19      000U7  2018     12         6.215604        3.383311      0.100678
20      ME014  2018     12        10.063333        0.000000      0.006667
21      ME103  2018     12         2.435502        4.087129      0.070156
22      ME104  2018     12         6.931464        3.175513      0.012859
23      ME106  2018     12         7.311625        6.695518      0.130252
24      ME135  2018     12         6.790126        3.957563      0.101891

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      1         0.228571        7.217143      0.187429
1          42  2019      1         3.148704        4.733288      0.052115
2       000BV  2019      1         4.857808       11.693836      0.064932
3       000BZ  2019      1         5.533889        8.967500      0.020000
4       000C5  2019      1         4.863392        1.312113      0.060834
5       000CJ  2019      1        -3.273397        3.141473      0.092224
6       000DF  2019      1         6.256927        8.936626      0.075995
7       000DR  2019      1         2.486395        3.302449      0.083537
8       000EB  2019      1         3.618262        6.816495      0.078056
9       000EU  2019      1         2.610927       10.811618      0.019364
10      000FA  2019      1         2.520718        6.029696      0.100552
11      000FN  2019      1         5.430097        4.393759      0.093759
12      000GQ  2019      1         3.364132       10.381779      0.019799
13      000HL  2019      1         6.271096        3.367397      0.006849
14      000K0  2019      1         2.762347        5.906958      0.090587
15      000L7  2019      1         6.297199        8.320868      0.033333
16      000MJ  2019      1         4.715147        5.972651      0.059748
17      000Q2  2019      1         5.870015        2.767466      0.096252
18      000T3  2019      1        -0.895512        2.370827      0.140252
19      000U7  2019      1         2.886320        7.523393      0.025171
20      ME103  2019      1        -1.516452        7.079256      0.033763
21      ME104  2019      1         3.149429        4.000143      0.020286
22      ME106  2019      1         4.452531        4.465663      0.058824
23      ME135  2019      1         2.548000        4.457778      0.248444

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      2         6.569983        5.643449      0.065672
1          42  2019      2         6.030408        3.715361      0.044828
2       000BV  2019      2         8.879084        9.229313      0.041832
3       000BZ  2019      2         8.287231        5.610000      0.037846
4       000C5  2019      2         6.627685        0.938578      0.078669
5       000CJ  2019      2         3.220602        3.360000      0.072782
6       000DF  2019      2         9.285822        8.482655      0.051282
7       000DR  2019      2         6.344411        2.192447      0.037764
8       000EB  2019      2         6.331420        4.145317      0.061631
9       000EU  2019      2         6.322693        8.494554      0.058094
10      000FA  2019      2         6.506065        5.003421      0.090824
11      000FN  2019      2         7.606364        3.439242      0.107879
12      000GQ  2019      2         6.623430        6.246861      0.041654
13      000HL  2019      2         8.802985        3.489701      0.115522
14      000K0  2019      2         5.918891        3.572714      0.059670
15      000L7  2019      2         9.054268        5.518293      0.022256
16      000MJ  2019      2         7.004799        4.991641      0.055108
17      000Q2  2019      2         8.155626        4.735182      0.124247
18      000T3  2019      2         3.605158        3.592180      0.073211
19      000U7  2019      2         6.931128        2.615338      0.091429
20      ME014  2019      2         8.364570        0.000000      0.008386
21      ME103  2019      2         1.707937        3.947937      0.026349
22      ME104  2019      2         7.542171        4.571174      0.022420
23      ME106  2019      2         7.240819        5.314416      0.054628
24      ME135  2019      2         6.778550        2.862236      0.050302

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      3         5.934667       10.390000      0.267667
1          42  2019      3         8.617127        6.977486      0.063260
2       000BV  2019      3        10.316830       13.923843      0.062833
3       000BZ  2019      3        11.396250        7.803194      0.018889
4       000C5  2019      3         9.362584        3.287887      0.057335
5       000CJ  2019      3         4.106882        4.956882      0.119101
6       000DF  2019      3        10.853825       11.046721      0.052732
7       000DR  2019      3         7.880738        5.669809      0.134973
8       000EB  2019      3         8.438934       10.152186      0.119126
9       000EU  2019      3         9.174590        9.640164      0.051639
10      000FA  2019      3         8.199301        8.197902      0.153846
11      000FN  2019      3         8.604155        6.451939      0.083934
12      000GQ  2019      3         9.690118        8.774779      0.036578
13      000HL  2019      3        10.932609        3.879212      0.000272
14      000K0  2019      3         9.264865        6.412162      0.093784
15      000L7  2019      3        12.169790        8.517343      0.006993
16      000MJ  2019      3         9.061623        8.325860      0.077854
17      000OM  2019      3         9.821843        8.925256      0.055631
18      000OO  2019      3         9.301712        3.557192      0.000000
19      000Q2  2019      3         9.557670        6.723009      0.094690
20      000T3  2019      3         5.289875        4.445076      0.254646
21      000U7  2019      3         9.806386        4.561549      0.043207
22      ME014  2019      3         9.450954        0.000000      0.000272
23      ME103  2019      3         4.310235        5.537206      0.058368
24      ME104  2019      3         9.429264        5.208528      0.009365
25      ME106  2019      3         9.439402        8.116576      0.067663
26      ME135  2019      3         8.618403        4.927083      0.164931

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      4         8.056543        6.620355      0.217124
1          42  2019      4        10.538137        3.457205      0.042213
2       000BV  2019      4        11.715300       10.441483      0.020189
3       000BZ  2019      4        12.310114        7.225356      0.146154
4       000C5  2019      4        10.740974        1.221203      0.062178
5       000CJ  2019      4         6.934225        6.963099      0.057183
6       000DF  2019      4        12.061222        8.751563      0.103125
7       000DR  2019      4         9.631631        3.330496      0.084823
8       000EB  2019      4         9.984188        5.390171      0.057835
9       000EU  2019      4        10.627027        9.983499      0.131152
10      000FA  2019      4         9.938009        4.894118      0.042534
11      000FN  2019      4         9.655382        1.603966      0.091501
12      000GQ  2019      4        10.935196        9.189426      0.083082
13      000HL  2019      4        12.178550        2.977367      0.164497
14      000K0  2019      4        11.319803        4.041573      0.125000
15      000L7  2019      4        13.150000        8.082576      0.098485
16      000MJ  2019      4        10.473438        4.612500      0.034375
17      000OM  2019      4        12.114373        7.359633      0.027523
18      000OO  2019      4        11.672984        3.926308      0.125884
19      000Q2  2019      4        10.962444        4.346647      0.114754
20      000T3  2019      4         7.260169        2.545198      0.134746
21      000U7  2019      4        10.921186        3.909605      0.141243
22      ME014  2019      4        10.846751        0.000000      0.006497
23      ME103  2019      4         5.854641        4.741156      0.113835
24      ME104  2019      4        10.967564        4.501416      0.051558
25      ME106  2019      4        10.960227        5.170455      0.027273

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      5        10.053835        6.942817      0.143375
1          42  2019      5        12.981717        5.148892      0.057895
2       000BV  2019      5        13.971784        9.888105      0.113416
3       000BZ  2019      5        16.038182        8.819580      0.065455
4       000C5  2019      5        12.953899        1.007114      0.044323
5       000CJ  2019      5         8.189684        4.311004      0.124072
6       000DF  2019      5        14.381431        9.402613      0.035213
7       000DR  2019      5        11.679724        3.278207      0.076966
8       000EB  2019      5        11.980438        6.272503      0.059918
9       000EU  2019      5        13.438514       11.134113      0.044567
10      000FA  2019      5        11.506537        4.677051      0.063978
11      000FN  2019      5        12.006398        0.180389      0.062865
12      000GQ  2019      5        14.019395        9.959147      0.039065
13      000HL  2019      5        13.777702        2.148837      0.074419
14      000K0  2019      5        13.314501        6.425308      0.097948
15      000L7  2019      5        17.018389        9.141033      0.074468
16      000MJ  2019      5        12.584182        5.054883      0.064099
17      000OM  2019      5        13.887732        6.511555      0.124394
18      000OO  2019      5        14.733242        3.598358      0.036115
19      000Q2  2019      5        13.038733        3.504271      0.085420
20      000T3  2019      5         9.282560        2.467370      0.114768
21      000U7  2019      5        13.154058        5.539065      0.115543
22      ME014  2019      5        12.808230        0.000000      0.012620
23      ME103  2019      5         8.702754        5.355362      0.047536
24      ME104  2019      5        13.348968        4.334801      0.069601
25      ME106  2019      5        13.054047        4.614815      0.023594

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      6        17.411281        5.155989      0.134262
1          42  2019      6        19.572805        4.652408      0.137394
2       000BV  2019      6        20.253803       10.089155      0.212958
3       000BZ  2019      6        21.583731        4.714867      0.035344
4       000C5  2019      6        17.456919        0.633951      0.077603
5       000CJ  2019      6        17.312709        4.162709      0.143296
6       000DF  2019      6        18.759831        7.410112      0.062921
7       000DR  2019      6        18.110907        2.148725      0.068272
8       000EB  2019      6        18.004190        5.282682      0.109777
9       000EU  2019      6        20.370605        7.798453      0.158087
10      000FA  2019      6        18.274155        4.330912      0.127027
11      000FN  2019      6        15.623938        0.571105      0.209065
12      000GQ  2019      6        21.418669        5.689935      0.088636
13      000HL  2019      6        21.740960        1.988701      0.015819
14      000K0  2019      6        20.880614        4.701953      0.124965
15      000L7  2019      6        22.883259        7.016296      0.026667
16      000MJ  2019      6        17.545326        4.667280      0.104249
17      000OM  2019      6        20.324523        7.858590      0.073128
18      000OO  2019      6        22.246045        3.173729      0.000565
19      000Q2  2019      6        16.243924        3.695900      0.814348
20      000T3  2019      6        17.205891        2.495792      0.134081
21      000U7  2019      6        20.656454        2.236081      0.135925
22      ME014  2019      6        17.743239        0.000000      0.005634
23      ME103  2019      6        14.869512        3.414808      0.051220
24      ME104  2019      6        20.759490        3.103966      0.049858
25      ME106  2019      6        17.634930        4.594085      0.068169

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      7        20.434483        4.424828      0.100966
1          42  2019      7        22.016094        4.968226      0.033838
2       000BV  2019      7        22.765374        8.338089      0.069806
3       000BZ  2019      7        25.925648        5.830286      0.012278
4       000C5  2019      7        20.866667        0.634011      0.014905
5       000CJ  2019      7        18.758560        4.155435      0.080978
6       000DF  2019      7        22.285929        8.370628      0.031967
7       000DR  2019      7        20.654735        2.169916      0.033705
8       000EB  2019      7        21.388904        6.417321      0.010555
9       000EU  2019      7        23.498769        8.246375      0.074692
10      000FA  2019      7        19.263504        3.962774      0.040292
11      000FN  2019      7        18.577330        3.834353      0.020306
12      000GQ  2019      7        24.402917        5.830694      0.046944
13      000HL  2019      7        24.147211        2.047483      0.065578
14      000K0  2019      7        23.239513        5.703112      0.091204
15      000L7  2019      7        26.974059        7.310879      0.025941
16      000MJ  2019      7        19.975000        4.800137      0.014560
17      000OM  2019      7        22.375143        7.576714      0.037714
18      000OO  2019      7        25.212000        3.141517      0.018207
19      000Q2  2019      7        19.952180        4.452180      0.705204
20      000T3  2019      7        18.345393        2.282927      0.095122
21      000U7  2019      7        23.587483        3.177886      0.007789
22      ME014  2019      7        19.616621        0.000000      0.011538
23      ME103  2019      7        17.646091        2.401440      0.082305
24      ME104  2019      7        22.779726        3.053973      0.002192
25      ME106  2019      7        18.398905        3.902920      0.001460

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      8        18.561527        4.932824      0.042137
1          42  2019      8        20.381044        3.874863      0.029121
2       000BV  2019      8        22.619222        5.416631      0.014255
3       000BZ  2019      8        24.631837        5.337143      0.013878
4       000C5  2019      8        18.728610        0.539237      0.074387
5       000CJ  2019      8        17.644444        3.649187      0.058808
6       000DF  2019      8        20.198628        6.295748      0.027984
7       000DR  2019      8        19.256181        1.861676      0.015659
8       000EB  2019      8        19.494837        6.080842      0.092663
9       000EU  2019      8        21.505034        7.698503      0.084354
10      000FA  2019      8        18.791842        3.554712      0.058228
11      000FN  2019      8        17.310125        2.637587      0.070735
12      000GQ  2019      8        21.738759        4.326207      0.085793
13      000HL  2019      8        23.681941        2.038544      0.003774
14      000K0  2019      8        20.810627        3.681471      0.254496
15      000L7  2019      8        25.379945        6.237225      0.031044
16      000MJ  2019      8        18.828591        4.207459      0.043923
17      000OM  2019      8        21.312606        5.338102      0.088102
18      000OO  2019      8        24.031850        2.813213      0.000834
19      000Q2  2019      8        17.772753        3.676685      0.129494
20      000T3  2019      8        17.059669        2.727072      0.068232
21      000U7  2019      8        22.097123        3.107945      0.038630
22      ME014  2019      8        19.464746        0.000000      0.003841
23      ME103  2019      8        17.613176        1.833647      0.057412
24      ME104  2019      8        21.957333        2.204000      0.006667

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019      9        15.575630        5.904762      0.131653
1          42  2019      9        16.398873        5.214507      0.037183
2       000BV  2019      9        17.438494       11.384943      0.038636
3       000BZ  2019      9        20.747025        5.302266      0.116431
4       000C5  2019      9        16.163277        0.623023      0.054520
5       000CJ  2019      9        14.242837        3.974017      0.046348
6       000DF  2019      9        18.596040        8.769307      0.060820
7       000DR  2019      9        15.589316        2.512251      0.070370
8       000EB  2019      9        15.984432        7.228050      0.656381
9       000EU  2019      9        18.366011        8.464326      0.025843
10      000FA  2019      9        14.898261        5.462174      0.063188
11      000FN  2019      9        15.268571        1.004286      0.074000
12      000GQ  2019      9        18.544364        5.374422      0.026301
13      000HL  2019      9        20.288936        2.384874      0.064426
14      000K0  2019      9        17.095640        4.331224      0.036287
15      000L7  2019      9        21.469054        6.998854      0.070774
16      000MJ  2019      9        15.930714        5.577571      0.078857
17      000OM  2019      9        17.191919        6.984993      0.057431
18      000OO  2019      9        19.982143        2.672429      0.090000
19      000Q2  2019      9        16.106314        5.541410      0.120411
20      000T3  2019      9        13.102384        1.393969      0.085273
21      000U7  2019      9        18.478451        3.186620      0.070986
22      ME014  2019      9        15.972740        0.000000      0.013842
23      ME103  2019      9        12.429765        2.202053      0.021114
24      ME104  2019      9        17.787611        2.958997      0.043953
25      ME106  2019      9        15.810762        5.043199      0.069058

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019     10        11.466532        6.884409      0.358065
1          42  2019     10        12.772067        5.103631      0.141341
2       000BV  2019     10        14.893939       12.837466      0.076033
3       000BZ  2019     10        16.038828        4.860354      0.193188
4       000C5  2019     10        13.195455        0.712810      0.214601
5       000CJ  2019     10        10.574494        3.269906      0.187584
6       000DF  2019     10        15.467619        7.586939      0.148299
7       000DR  2019     10        13.569903        3.621082      0.134258
8       000EB  2019     10        12.307588        7.788482      0.129539
9       000EU  2019     10        14.377642        8.540515      0.273713
10      000FA  2019     10        11.775630        7.766527      0.108964
11      000FN  2019     10        12.374008        4.279343      0.224077
12      000GQ  2019     10        14.448429        6.462429      0.169143
13      000HL  2019     10        16.455207        1.785735      0.201141
14      000K0  2019     10        14.243396        5.166038      0.203235
15      000L7  2019     10        17.169044        6.957061      0.305278
16      000MJ  2019     10        12.871709        5.871148      0.270588
17      000OM  2019     10        13.374930        6.952507      0.089972
18      000OO  2019     10        16.017564        2.445892      0.086402
19      000Q2  2019     10        13.158060        4.977889      0.297860
20      000T3  2019     10        10.257064        1.101385      0.211911
21      000U7  2019     10        15.009362        3.004885      0.218996
22      ME014  2019     10        13.352761        0.000000      0.006442
23      ME103  2019     10        10.101389        3.026389      0.319444
24      ME104  2019     10        14.676958        2.876657      0.073494
25      ME106  2019     10        12.881669        4.896170      0.166621

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019     11         4.643533        1.755216      0.625591
1          42  2019     11         7.342816        4.994253      0.187931
2       000BZ  2019     11         8.777260        3.657062      0.231921
3       000C5  2019     11         7.828969        1.733148      0.182730
4       000CJ  2019     11         2.894101        3.946489      0.225843
5       000DF  2019     11        10.066239       10.323504      0.408832
6       000DR  2019     11         6.914993        4.445686      0.194625
7       000EB  2019     11         7.086950        7.282270      0.189220
8       000EU  2019     11         6.970255        6.358782      0.181586
9       000FA  2019     11         6.191513        5.912447      0.077511
10      000FN  2019     11         7.653475        5.355603      0.404539
11      000GQ  2019     11         7.267771        4.654518      0.110843
12      000HL  2019     11        10.398878        3.447686      0.451052
13      000K0  2019     11         7.533659        4.986034      0.178492
14      000L7  2019     11        10.227848        6.113080      0.179466
15      000MJ  2019     11         7.750927        5.343509      0.233096
16      000OM  2019     11         8.171049        6.923043      0.145643
17      000OO  2019     11         9.079743        2.070756      0.455350
18      000Q2  2019     11         8.134357        4.401170      0.317836
19      000T3  2019     11         4.046950        1.207376      0.222979
20      000U7  2019     11         8.532653        3.407064      0.176138
21      ME014  2019     11         7.458730        0.000000      0.000000
22      ME103  2019     11         3.351835        2.808716      0.288685
23      ME104  2019     11         7.396986        2.716312      0.091844
24      ME106  2019     11         7.817908        5.237249      0.100860

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2019     12         5.606534        4.737216      0.392898
1          42  2019     12         6.074019        6.167794      0.123410
2       000BZ  2019     12         8.338503        4.625034      0.085986
3       000C5  2019     12         7.251952        2.593943      0.126514
4       000CJ  2019     12         2.707172        3.850609      0.214073
5       000DF  2019     12         9.769958       12.311266      0.167177
6       000DR  2019     12         6.829372        5.370628      0.163388
7       000EB  2019     12         6.037673        9.616482      0.167036
8       000EU  2019     12         6.453668        9.230842      0.109783
9       000FA  2019     12         5.650689        8.279752      0.094766
10      000FN  2019     12         7.242896        7.181148      0.201366
11      000GQ  2019     12         6.317066        6.872779      0.062059
12      000HL  2019     12         9.714882        3.890264      0.309040
13      000K0  2019     12         6.759324        6.395541      0.157568
14      000L7  2019     12        10.078738        7.893278      0.064472
15      000MJ  2019     12         6.840054        7.578474      0.176567
16      000OM  2019     12         7.116736        7.526499      0.122734
17      000OO  2019     12         8.517857        2.720879      0.147802
18      000Q2  2019     12         7.949566        6.037572      0.237861
19      000T3  2019     12         3.456988        2.812619      0.324288
20      000U7  2019     12         7.465353        3.111141      0.234239
21      ME014  2019     12         7.226866        0.000000      0.014383
22      ME103  2019     12         3.134183        4.461769      0.127436
23      ME104  2019     12         6.403232        3.971863      0.039163
24      ME106  2019     12         6.853655        6.579862      0.127172

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      1         4.868673        3.830369      0.166895
1          42  2020      1         5.774184        5.750922      0.042837
2       000BZ  2020      1         7.161308        3.432834      0.070300
3       000C5  2020      1         7.234320        2.196231      0.104980
4       000CJ  2020      1         1.807621        3.775982      0.122402
5       000DF  2020      1         8.957955       11.122017      0.087500
6       000DR  2020      1         5.902778        3.187427      0.099123
7       000EB  2020      1         6.086861        8.163796      0.067153
8       000EU  2020      1         5.611722        8.664834      0.012156
9       000FA  2020      1         5.724859        8.512006      0.057910
10      000FN  2020      1         7.097876        6.537481      0.218209
11      000GQ  2020      1         5.185390        5.109645      0.012199
12      000HL  2020      1         8.389502        2.880081      0.036608
13      000K0  2020      1         5.307972        6.086713      0.051748
14      000L7  2020      1         8.518741        6.284558      0.060270
15      000MJ  2020      1         6.964157        6.632897      0.063502
16      000OM  2020      1         6.502500        6.433125      0.053750
17      000OO  2020      1         6.575867        2.053997      0.019306
18      000Q2  2020      1         7.862500        7.116566      0.191566
19      000T3  2020      1         3.160661        2.350601      0.110811
20      000U7  2020      1         6.969414        3.087163      0.042789
21      ME014  2020      1         7.149631        0.000000      0.000000
22      ME103  2020      1         2.410248        3.122671      0.017702
23      ME104  2020      1         6.250536        4.145942      0.003675
24      ME106  2020      1         6.996313        5.561799      0.056637

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      2         5.639683        7.611833      0.251082
1          42  2020      2         7.891959        8.807749      0.133041
2       000BZ  2020      2         9.720593        4.615259      0.023111
3       000C5  2020      2         9.064047        5.989811      0.134498
4       000CJ  2020      2         2.976523        4.006810      0.234050
5       000DF  2020      2        10.459199       12.976558      0.074777
6       000DR  2020      2         7.825844        5.462702      0.128928
7       000EB  2020      2         7.737168       13.211947      0.150442
8       000EU  2020      2         7.823650        9.895912      0.018102
9       000FA  2020      2         6.845095       12.895315      0.157833
10      000FN  2020      2         8.401783        9.774294      0.201783
11      000GQ  2020      2         8.023220        7.276610      0.021695
12      000HL  2020      2         9.937931        5.821552      0.001149
13      000K0  2020      2         8.343478        7.906667      0.083768
14      000L7  2020      2        11.576303        7.707731      0.027563
15      000MJ  2020      2         8.413490       11.027126      0.217595
16      000OM  2020      2         8.792216       11.045210      0.141916
17      000OO  2020      2         9.245950        3.511782      0.002356
18      000Q2  2020      2         9.011446        9.919428      0.228313
19      000QZ  2020      2         6.168624        9.402517      0.184899
20      000T3  2020      2         4.502174        4.307101      0.384348
21      000U7  2020      2         9.305037        4.185926      0.038815
22      000Y9  2020      2        12.628571        6.628571      0.000000
23      ME014  2020      2         8.483306        0.000000      0.000000
24      ME103  2020      2         3.962970        5.267481      0.021053
25      ME104  2020      2         9.320148        5.847505      0.007394
26      ME106  2020      2         8.335407        9.657778      0.180444

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      3         5.936986        7.027397      0.177808
1          42  2020      3         8.063821        6.980488      0.085366
2       000BZ  2020      3        10.431924        5.716508      0.040109
3       000C5  2020      3         8.601081        2.793243      0.068649
4       000CJ  2020      3         3.942226        3.833224      0.185270
5       000DF  2020      3        10.632060       12.421146      0.097681
6       000DR  2020      3         7.341667        2.706148      0.101366
7       000EB  2020      3         7.528940        8.996060      0.129348
8       000EU  2020      3         8.510944        9.484815      0.020246
9       000FA  2020      3         6.757959        9.357415      0.073741
10      000FN  2020      3         7.665522        7.054808      0.087088
11      000GQ  2020      3         8.929891        6.283560      0.019565
12      000HL  2020      3         9.742453        3.054582      0.111321
13      000K0  2020      3         8.497558        6.134600      0.084668
14      000L7  2020      3        11.566619        7.328489      0.011799
15      000MJ  2020      3         7.982787        7.512568      0.066940
16      000OM  2020      3         8.790791       10.308633      0.077410
17      000OO  2020      3         9.450413        3.385124      0.043251
18      000Q2  2020      3         8.827723        8.266195      0.115983
19      000QZ  2020      3         7.085594        7.639021      0.094825
20      000RD  2020      3         7.891111        2.614815      0.027037
21      000T3  2020      3         4.113415        1.312331      0.159892
22      000U7  2020      3         9.399087        4.048250      0.070624
23      000Y9  2020      3        11.792679        5.906735      0.016398
24      ME014  2020      3         7.686231        0.000000      0.005852
25      ME103  2020      3         4.175581        3.654485      0.022591
26      ME104  2020      3         8.457937        4.133016      0.028889
27      ME106  2020      3         7.905679        6.127008      0.061219

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      4        11.741119        6.318881      0.158322
1          42  2020      4        13.566761        4.086790      0.060227
2       000BZ  2020      4        13.629032        4.490463      0.085554
3       000C5  2020      4        13.431594        1.397179      0.075599
4       000CJ  2020      4        10.139803        5.598734      0.070042
5       000DF  2020      4        15.163432        9.565541      0.061603
6       000DR  2020      4        12.984344        2.296615      0.089704
7       000EB  2020      4        13.211173        5.037291      0.033799
8       000EU  2020      4        13.872829        7.666106      0.045938
9       000FA  2020      4        12.117256        6.086280      0.018953
10      000FN  2020      4        11.920286        3.947857      0.078000
11      000GQ  2020      4        14.196629        4.951826      0.024719
12      000HL  2020      4        13.187324        2.590141      0.056056
13      000K0  2020      4        14.514825        5.323077      0.068811
14      000L7  2020      4        14.250292        5.304373      0.101458
15      000MJ  2020      4        13.187977        4.191655      0.052900
16      000OM  2020      4        14.956851        7.009767      0.038484
17      000OO  2020      4        12.655932        2.960028      0.051977
18      000Q2  2020      4        13.200000        4.881642      0.141493
19      000QZ  2020      4        13.044147        5.581100      0.021721
20      000RD  2020      4        12.543787        1.096302      0.020414
21      000T3  2020      4        10.860306        0.198329      0.036769
22      000U7  2020      4        14.490747        1.849838      0.083117
23      000Y9  2020      4        14.375877        4.224123      0.037588
24      ME014  2020      4        13.181530        0.000000      0.011194
25      ME103  2020      4         9.046622        3.151182      0.022297
26      ME104  2020      4        14.251220        3.532846      0.024715
27      ME106  2020      4        12.969209        2.889831      0.021186

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      5        14.470344        6.214900      0.129799
1          42  2020      5        15.379561        5.182990      0.156653
2       000BZ  2020      5        18.815768        6.644398      0.068880
3       000C5  2020      5        15.569601        1.534663      0.052270
4       000CJ  2020      5        12.307397        4.288493      0.163562
5       000DF  2020      5        17.809153       10.928689      0.106011
6       000DR  2020      5        14.474719        1.877528      0.057303
7       000EB  2020      5        14.820027        5.421125      0.089986
8       000EU  2020      5        16.596409        9.947928      0.116575
9       000FA  2020      5        13.616806        5.893750      0.007500
10      000FN  2020      5        14.335724        4.161885      0.042757
11      000GQ  2020      5        17.263254        6.943198      0.066760
12      000HL  2020      5        17.212917        2.631528      0.240556
13      000K0  2020      5        16.408904        6.906986      0.116986
14      000L7  2020      5        19.575656        6.614869      0.111953
15      000MJ  2020      5        14.426733        4.991796      0.056577
16      000OM  2020      5        16.190962        8.422741      0.068222
17      000OO  2020      5        17.767908        2.748854      0.120630
18      000Q2  2020      5        15.999568        6.178705      0.042878
19      000QZ  2020      5        14.419544        4.639658      0.055635
20      000RD  2020      5        14.020195        1.331476      0.035655
21      000T3  2020      5        11.715732        1.466484      0.149111
22      000U7  2020      5        16.336712        4.661781      0.085205
23      000Y9  2020      5        18.754333        5.027648      0.079230
24      ME014  2020      5        13.833045        0.000000      0.003114
25      ME103  2020      5        11.965024        3.279332      0.000636
26      ME104  2020      5        16.429072        2.726332      0.063318
27      ME106  2020      5        14.400280        2.943636      0.022657

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      6        13.895303        4.727273      0.140000
1          42  2020      6        17.323043        4.492319      0.046377
2       000BZ  2020      6        21.158140        7.441570      0.034593
3       000C5  2020      6        16.457787        2.168122      0.109753
4       000CJ  2020      6        13.544986        3.949284      0.121490
5       000DF  2020      6        18.264040       10.487966      0.102865
6       000DR  2020      6        15.862312        2.161862      0.120120
7       000EB  2020      6        16.629741        5.929310      0.081322
8       000EU  2020      6        18.800144        8.356628      0.082421
9       000FA  2020      6        17.126728        5.446083      0.063902
10      000FN  2020      6        15.711128        3.640208      0.161128
11      000GQ  2020      6        19.673235        5.617734      0.028243
12      000HL  2020      6        19.238797        2.040000      0.190376
13      000K0  2020      6        18.953295        4.827364      0.096562
14      000L7  2020      6        21.998122        9.137246      0.033490
15      000MJ  2020      6        17.102679        5.027976      0.058333
16      000OM  2020      6        18.698915        7.139845      0.077829
17      000OO  2020      6        20.597416        2.853799      0.127356
18      000Q2  2020      6        16.138336        3.737890      0.183952
19      000QZ  2020      6        17.917372        4.675831      0.103927
20      000RD  2020      6        17.014151        0.850314      0.044340
21      000T3  2020      6        14.405022        1.779484      0.177618
22      000U7  2020      6        18.905899        3.851799      0.158849
23      000Y9  2020      6        20.767045        7.446023      0.025284
24      ME103  2020      6        13.584091        2.528030      0.168788
25      ME104  2020      6        17.886817        2.172186      0.153376
26      ME106  2020      6        17.444611        3.626048      0.042814

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      7        18.857303        4.085674      0.021067
1          42  2020      7        20.541384        5.094068      0.006780
2       000BZ  2020      7        25.377874        7.191236      0.009195
3       000C5  2020      7        18.565341        2.292472      0.004830
4       000CJ  2020      7        17.783714        4.309857      0.097143
5       000DF  2020      7        21.501580        9.284339      0.004023
6       000DR  2020      7        19.843328        1.871364      0.002999
7       000EB  2020      7        19.510184        8.112164      0.014710
8       000EU  2020      7        22.909632        8.905666      0.064873
9       000FA  2020      7        17.895541        5.836306      0.035987
10      000FN  2020      7        17.420602        4.160902      0.024662
11      000GQ  2020      7        23.724434        4.737540      0.018123
12      000HL  2020      7        22.567978        1.465028      0.025281
13      000K0  2020      7        22.344113        4.487660      0.078582
14      000L7  2020      7        26.228765        8.247590      0.003012
15      000MJ  2020      7        18.570606        5.760455      0.042727
16      000OM  2020      7        21.246457        7.062047      0.018268
17      000OO  2020      7        24.788855        2.496837      0.012651
18      000Q2  2020      7        17.895197        3.635953      0.034352
19      000QZ  2020      7        20.591018        5.350749      0.014072
20      000RD  2020      7        18.929293        1.567677      0.005051
21      000T3  2020      7        17.561087        2.488555      0.027468
22      000U7  2020      7        22.750142        4.548153      0.059659
23      000Y9  2020      7        24.240499        5.041886      0.000000
24      ME103  2020      7        16.042017        2.273109      0.080672
25      ME104  2020      7        22.063142        2.328399      0.033837
26      ME106  2020      7        18.425000        5.983982      0.034431

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      8        19.214453        5.217518      0.082336
1          42  2020      8        20.737849        3.832682      0.053631
2       000BV  2020      8        20.802559        8.533262      0.103625
3       000BZ  2020      8        24.659275        6.452301      0.046025
4       000C5  2020      8        19.326160        2.100703      0.079606
5       000CJ  2020      8        17.647083        4.272917      0.149722
6       000DF  2020      8        21.372113        8.230845      0.087887
7       000DR  2020      8        19.901576        2.225788      0.067908
8       000EB  2020      8        20.317493        6.715152      0.054545
9       000EU  2020      8        22.717769        8.504270      0.069972
10      000FA  2020      8        20.676923        5.071016      0.057143
11      000FN  2020      8        18.318644        3.814266      0.074859
12      000GQ  2020      8        23.095658        4.829412      0.030812
13      000HL  2020      8        23.795833        2.083046      0.043966
14      000K0  2020      8        22.671961        4.821823      0.065470
15      000L7  2020      8        25.231656        7.653571      0.080844
16      000MJ  2020      8        20.096126        5.199283      0.072884
17      000OM  2020      8        22.598592        6.024726      0.058842
18      000OO  2020      8        24.598859        2.841940      0.005991
19      000Q2  2020      8        18.598999        4.003863      0.142203
20      000QZ  2020      8        21.352199        4.288369      0.055887
21      000RD  2020      8        16.752817        1.838028      0.066197
22      000T3  2020      8        17.964050        1.576033      0.117355
23      000U7  2020      8        22.919146        3.811846      0.060606
24      000Y9  2020      8        24.288988        5.763690      0.000595
25      ME104  2020      8        22.021924        2.612871      0.029420
26      ME106  2020      8        20.659541        4.406456      0.113056

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020      9        15.437050        5.785592      0.162264
1          42  2020      9        17.116549        3.675955      0.040170
2       000BV  2020      9        19.145044        8.937318      0.054227
3       000BZ  2020      9        19.933100        5.130014      0.113043
4       000C5  2020      9        16.767419        1.157546      0.062623
5       000CJ  2020      9        13.381844        3.414106      0.134078
6       000DF  2020      9        19.123554        8.461495      0.080395
7       000DR  2020      9        15.752000        1.633286      0.160000
8       000EB  2020      9        17.566667        6.894374      0.021660
9       000EU  2020      9        18.631927        7.981857      0.040506
10      000FA  2020      9        15.994576        5.165369      0.119271
11      000FN  2020      9        15.707307        3.242120      0.077650
12      000GQ  2020      9        19.170901        4.169572      0.040177
13      000HL  2020      9        20.360489        3.207615      0.040230
14      000K0  2020      9        18.501536        4.794832      0.126816
15      000L7  2020      9        20.286252        5.676411      0.087988
16      000MJ  2020      9        16.782994        4.942151      0.039535
17      000OM  2020      9        18.801659        5.742232      0.061538
18      000OO  2020      9        19.229694        2.403348      0.025036
19      000Q2  2020      9        16.490233        2.704373      0.086006
20      000QZ  2020      9        16.620816        3.832349      0.064416
21      000RD  2020      9        16.805702        1.109357      0.053509
22      000T3  2020      9        14.267647        0.333894      0.105602
23      000U7  2020      9        18.366527        2.801821      0.053221
24      000Y9  2020      9        20.729972        5.022549      0.059384
25      ME014  2020      9        13.217881        0.000000      0.251656
26      ME103  2020      9         6.709211        3.070395      0.001316
27      ME104  2020      9        17.308052        1.957303      0.048315
28      ME106  2020      9        16.620487        3.426934      0.035530

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020     10         8.530405        6.959459      0.524595
1          42  2020     10        11.233752        5.082706      0.167085
2       000BV  2020     10        12.645902       13.656967      0.070219
3       000BZ  2020     10        13.317439        5.453270      0.040327
4       000C5  2020     10        11.954470        2.879367      0.180468
5       000CJ  2020     10         6.812873        2.739160      0.168564
6       000DF  2020     10        14.021409       12.123035      0.180488
7       000DR  2020     10        10.852949        2.268176      0.168176
8       000EB  2020     10        11.089524        7.631837      0.141224
9       000EU  2020     10        11.374290       10.212314      0.203518
10      000FA  2020     10        11.174328        7.049194      0.094707
11      000FN  2020     10        11.310914        5.025648      0.345703
12      000GQ  2020     10        11.626685        7.579213      0.260112
13      000HL  2020     10        13.223724        2.753793      0.256552
14      000K0  2020     10        11.806495        6.811637      0.232747
15      000L7  2020     10        14.389540        7.847141      0.065830
16      000MJ  2020     10        11.860669        6.696513      0.172664
17      000OM  2020     10        12.594928        7.973188      0.120290
18      000OO  2020     10        12.940114        1.846942      0.100711
19      000Q2  2020     10        11.793829        5.225947      0.234222
20      000QZ  2020     10        10.790068        3.938231      0.116190
21      000RD  2020     10        11.837300        1.444412      0.104790
22      000T3  2020     10         8.030352        0.355691      0.231436
23      000U7  2020     10        12.092308        3.689339      0.184885
24      000Y9  2020     10        15.390000        6.250282      0.024789
25      ME014  2020     10        11.872617        0.000000      0.092901
26      ME103  2020     10         7.099860        2.920168      0.177591
27      ME104  2020     10        11.770275        3.265913      0.019386
28      ME106  2020     10        12.064365        4.724033      0.129834

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020     11         8.696792        5.972106      0.064156
1          42  2020     11         8.189291        3.133658      0.031154
2       000BV  2020     11        10.592669        9.691789      0.006158
3       000BZ  2020     11        10.653531        4.396328      0.074859
4       000C5  2020     11         9.894160        1.474074      0.038746
5       000CJ  2020     11         6.109944        2.578291      0.038936
6       000DF  2020     11        11.640028        9.249438      0.025562
7       000DR  2020     11         8.573977        0.669591      0.031579
8       000EB  2020     11         8.373706        4.890070      0.038042
9       000EU  2020     11         8.528632        7.334415      0.029337
10      000FA  2020     11         8.689985        6.675785      0.041256
11      000FN  2020     11        10.160767        4.346313      0.080236
12      000GQ  2020     11         8.392735        3.930769      0.021937
13      000HL  2020     11        11.977374        1.826397      0.007263
14      000K0  2020     11         8.768864        4.341234      0.028050
15      000L7  2020     11        11.852579        5.217335      0.062178
16      000MJ  2020     11         9.829094        5.023392      0.042105
17      000OM  2020     11         9.062830        5.612264      0.016604
18      000OO  2020     11         9.940058        1.320175      0.026316
19      000Q2  2020     11        10.961598        5.473886      0.122273
20      000QZ  2020     11         6.639538        2.837374      0.043290
21      000RD  2020     11         8.595946        1.686757      0.043243
22      000T3  2020     11         6.511204        0.047059      0.032773
23      000U7  2020     11         9.509859        3.058451      0.045634
24      000Y9  2020     11        12.948687        3.936516      0.029594
25      ME014  2020     11         9.873773        7.049387      0.004294
26      ME103  2020     11         3.925280        1.694631      0.010291
27      ME104  2020     11         8.651807        2.655823      0.006426
28      ME106  2020     11        10.254389        3.139498      0.070219

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2020     12         3.118044        6.734160      0.414325
1          42  2020     12         5.849326        5.713342      0.146092
2       000BV  2020     12         7.082721       12.700408      0.097143
3       000BZ  2020     12         6.227162        4.735541      0.183514
4       000C5  2020     12         7.023419        3.405384      0.209690
5       000CJ  2020     12         0.335422        2.442098      0.070845
6       000DF  2020     12         8.926087       13.534375      0.237500
7       000DR  2020     12         5.545742        2.082005      0.254121
8       000EB  2020     12         5.693369        8.408119      0.217050
9       000EU  2020     12         5.117751        8.593496      0.133333
10      000FA  2020     12         4.506199        7.087601      0.089218
11      000FN  2020     12         7.112363        7.701786      0.289286
12      000GQ  2020     12         5.265936        7.160819      0.130994
13      000HL  2020     12         7.403894        2.084701      0.193046
14      000K0  2020     12         6.065722        7.321457      0.222402
15      000L7  2020     12         8.107884        6.964454      0.100415
16      000MJ  2020     12         6.928940        6.645516      0.155163
17      000OM  2020     12         6.889390        8.543750      0.161047
18      000OO  2020     12         5.818919        0.933997      0.091323
19      000Q2  2020     12         7.501445        6.325000      0.297977
20      000QZ  2020     12         4.088477        2.855144      0.134156
21      000RD  2020     12         4.624922        1.790031      0.055452
22      000T3  2020     12         2.440358        0.242424      0.226446
23      000TY  2020     12         6.120000        5.036047      0.192093
24      000U7  2020     12         6.065217        3.785734      0.217391
25      000Y9  2020     12         9.431429        5.553571      0.032571
26      ME014  2020     12         6.978591       11.035912      0.014088
27      ME103  2020     12         1.629019        2.889782      0.115531
28      ME104  2020     12         6.376471        4.502322      0.113313
29      ME106  2020     12         6.804034        2.228403      0.085042

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      1         0.387045        7.194332      0.295277
1          42  2021      1         4.062315        5.239569      0.108479
2       000BV  2021      1         5.184882       11.872816      0.037725
3       000BZ  2021      1         5.529212        5.987228      0.025000
4       000C5  2021      1         4.856421        2.395765      0.078415
5       000CJ  2021      1        -2.696197        2.570563      0.188169
6       000DF  2021      1         6.147340       13.394679      0.105866
7       000DR  2021      1         4.070088        2.734690      0.197522
8       000EB  2021      1         3.835082        8.661619      0.117241
9       000EU  2021      1         2.739946        8.488451      0.054620
10      000FA  2021      1         2.502022        7.688275      0.111321
11      000FN  2021      1         5.253665        5.960858      0.127248
12      000GQ  2021      1         2.593119        5.375994      0.046483
13      000HL  2021      1         6.285081        4.112903      0.164516
14      000K0  2021      1         3.287432        6.105135      0.195405
15      000L7  2021      1         6.517986        7.263309      0.016115
16      000MJ  2021      1         4.821491        5.621053      0.149708
17      000OM  2021      1         4.612166        6.701632      0.131751
18      000OO  2021      1         5.634022        2.896006      0.128926
19      000Q2  2021      1         5.671407        4.630074      0.168593
20      000QZ  2021      1         1.977762        4.456630      0.162431
21      000RD  2021      1         5.620886        2.805063      0.244304
22      000T3  2021      1        -0.217164        0.236418      0.298806
23      000TY  2021      1         1.846371        6.457930      0.128763
24      000U7  2021      1         3.506293        4.388919      0.092202
25      000Y9  2021      1         8.691064        7.688511      0.047376
26      ME014  2021      1         4.660056        8.554469      0.028492
27      ME103  2021      1        -0.621596        0.548831      0.075103
28      ME104  2021      1         4.241313        3.774555      0.030096
29      ME106  2021      1         4.448054        2.285279      0.143486

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      2         6.357228        8.910581      0.237556
1          42  2021      2         6.648661        4.940923      0.056250
2       000BV  2021      2         7.059422       13.626140      0.020365
3       000BZ  2021      2         8.723583        3.557734      0.099847
4       000C5  2021      2         7.057738        2.972173      0.068452
5       000CJ  2021      2         4.001199        3.643028      0.081259
6       000DF  2021      2         9.250300       13.855405      0.128228
7       000DR  2021      2         7.532030        2.129624      0.123008
8       000EB  2021      2         5.541592        7.135285      0.048048
9       000EU  2021      2         7.668586        9.903839      0.041885
10      000FA  2021      2         4.546131        8.140179      0.055655
11      000FN  2021      2         6.191020        6.530898      0.086758
12      000GQ  2021      2         6.770037        7.108989      0.027715
13      000HL  2021      2         9.460737        2.489263      0.044551
14      000K0  2021      2         7.909610        7.742192      0.084685
15      000L7  2021      2        10.531661        6.939342      0.115361
16      000MJ  2021      2         6.348260        6.517095      0.053858
17      000OM  2021      2         6.706796        8.396278      0.069903
18      000OO  2021      2         8.950776        2.952795      0.033851
19      000Q2  2021      2         7.177778        7.569524      0.154603
20      000QZ  2021      2         4.369231        4.516139      0.094118
21      000RD  2021      2         3.882787        2.692213      0.122951
22      000T3  2021      2         3.027669        0.055338      0.129323
23      000TY  2021      2         4.905970        9.485821      0.094925
24      000U7  2021      2         8.328163        2.985090      0.095783
25      000Y9  2021      2        11.948534        8.727362      0.032573
26      ME014  2021      2         6.143121       11.102013      0.005034
27      ME103  2021      2         4.411312        0.178582      0.053695
28      ME104  2021      2         8.337581        5.135000      0.033548
29      ME106  2021      2         6.241806        2.277759      0.025418

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      3         5.738889        6.958689      0.093162
1          42  2021      3         7.616484        5.348077      0.034615
2       000BV  2021      3         9.506306       12.494234      0.013694
3       000BZ  2021      3         9.982313        6.853197      0.004354
4       000C5  2021      3         7.563428        3.018489      0.017814
5       000CJ  2021      3         3.533104        4.459203      0.076923
6       000DF  2021      3        10.011444       11.067575      0.019619
7       000DR  2021      3         6.859401        1.770845      0.075749
8       000EB  2021      3         7.026152        7.733198      0.033333
9       000EU  2021      3         9.640074        5.384191      0.006618
10      000FA  2021      3         5.867790        7.027493      0.057682
11      000FN  2021      3         7.793923        6.091022      0.035912
12      000GQ  2021      3         8.286457        7.587874      0.000945
13      000HL  2021      3        10.036743        4.544415      0.017497
14      000K0  2021      3         7.800823        6.478189      0.069410
15      000L7  2021      3        10.887013        6.860606      0.032612
16      000MJ  2021      3         7.566301        6.159589      0.047671
17      000OM  2021      3         8.618665        7.907132      0.049469
18      000OO  2021      3         8.789256        3.358815      0.010744
19      000Q2  2021      3         8.823692        5.598983      0.053779
20      000QZ  2021      3         6.466346        5.566071      0.061538
21      000RD  2021      3         5.306276        3.281590      0.063598
22      000T3  2021      3         3.815854        0.121409      0.157182
23      000TY  2021      3         6.031199        7.480245      0.065940
24      000U7  2021      3         8.303784        4.950270      0.041081
25      000Y9  2021      3        11.293808        5.601548      0.000310
26      ME014  2021      3         8.008033        9.557202      0.000000
27      ME103  2021      3         3.453537        0.824965      0.031068
28      ME104  2021      3         8.176575        4.594346      0.029079
29      ME106  2021      3         7.827864        2.257850      0.046676

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      4         7.900701        6.514727      0.067882
1          42  2021      4         9.635261        5.337941      0.020592
2       000BV  2021      4        10.114680       12.307267      0.042151
3       000BZ  2021      4        11.684091        6.846165      0.096591
4       000C5  2021      4         9.135926        2.321924      0.045827
5       000CJ  2021      4         5.734188        4.691880      0.075783
6       000DF  2021      4        12.171489       10.622128      0.005674
7       000DR  2021      4         8.639174        1.311823      0.031339
8       000EB  2021      4         8.427897        6.026037      0.014306
9       000EU  2021      4         9.834894        5.003262      0.053617
10      000FA  2021      4         5.615804        5.491189      0.031608
11      000FN  2021      4         7.840948        4.222989      0.065805
12      000GQ  2021      4        10.488119        8.165629      0.001697
13      000HL  2021      4        11.130435        2.722581      0.155680
14      000K0  2021      4        10.311891        7.867765      0.094556
15      000L7  2021      4        12.241654        5.574742      0.060266
16      000MJ  2021      4         7.690714        5.094857      0.032857
17      000OM  2021      4        10.417326        9.904331      0.064030
18      000OO  2021      4        10.744752        3.128426      0.068513
19      000Q2  2021      4         9.968610        5.961883      0.074439
20      000QZ  2021      4         8.074020        5.046154      0.035123
21      000RD  2021      4         8.809148        1.847319      0.010095
22      000T3  2021      4         5.634986        0.047592      0.057790
23      000TY  2021      4         7.383499        6.019061      0.042390
24      000U7  2021      4         9.989489        5.005824      0.105682
25      000WA  2021      4        12.328916        1.722892      0.583133
26      000Y9  2021      4        12.780000        5.240154      0.008615
27      ME014  2021      4         7.607971        8.919565      0.018261
28      ME103  2021      4         4.922967        0.077603      0.054494
29      ME104  2021      4        10.125767        3.533589      0.057669
30      ME106  2021      4         7.808333        1.383626      0.020760

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      5         9.879570        8.118280      0.347043
1          42  2021      5        12.640552        6.016828      0.184828
2       000BV  2021      5        12.322956       12.071069      0.208176
3       000BZ  2021      5        15.770370        6.273251      0.120988
4       000C5  2021      5        12.284711        4.101928      0.099725
5       000CJ  2021      5         8.188187        4.727885      0.227198
6       000DF  2021      5        14.268776       12.557772      0.094085
7       000DR  2021      5        11.662705        4.615301      0.196995
8       000EB  2021      5        11.279673        6.652524      0.161528
9       000EU  2021      5        13.328005        2.595355      0.238251
10      000FA  2021      5        10.263563        7.307827      0.084750
11      000FN  2021      5        11.545315        5.603217      0.131748
12      000GQ  2021      5        14.768974        5.171538      0.052308
13      000HL  2021      5        15.251169        3.503714      0.078404
14      000K0  2021      5        13.330495        5.392720      0.269231
15      000L7  2021      5        16.596576        7.393438      0.102140
16      000MJ  2021      5        12.142740        6.893836      0.110137
17      000OM  2021      5        13.194955        8.189911      0.096736
18      000OO  2021      5        16.132295        3.459348      0.103116
19      000Q2  2021      5        12.164397        6.106241      0.125390
20      000QZ  2021      5        11.480055        6.119672      0.124044
21      000RD  2021      5        10.970213        1.213564      0.078723
22      000T3  2021      5         8.675278        0.133333      0.358889
23      000TY  2021      5        10.953846        7.850202      0.137112
24      000U7  2021      5        13.816644        3.292497      0.165075
25      000WA  2021      5        15.961126        3.296154      0.083516
26      000WN  2021      5        14.360000        0.340000      0.000000
27      000Y9  2021      5        16.188739        7.973724      0.003604
28      ME014  2021      5        12.431356        9.287119      0.009153
29      ME103  2021      5         9.165651        2.635042      0.202493
30      ME104  2021      5        14.030769        3.411385      0.131692
31      ME106  2021      5        12.421008        3.523950      0.080952

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      6        16.631049        4.883916      0.377902
1          42  2021      6        19.610511        2.977557      0.108239
2       000BZ  2021      6        22.205136        5.238088      0.124394
3       000C5  2021      6        17.205966        1.029830      0.227273
4       000CJ  2021      6        16.279690        3.634697      0.071086
5       000DF  2021      6        19.782228        8.391819      0.145275
6       000DR  2021      6        17.781445        1.986402      0.128329
7       000EB  2021      6        17.951124        3.615169      0.204494
8       000EU  2021      6        19.475714        1.955536      0.065714
9       000FA  2021      6        17.379079        4.056346      0.127755
10      000FN  2021      6        15.716808        2.882486      0.185028
11      000GQ  2021      6        21.962472        7.848124      0.084327
12      000HL  2021      6        21.178056        1.774722      0.020833
13      000K0  2021      6        20.727528        5.884831      0.095506
14      000L7  2021      6        23.212974        6.515598      0.061224
15      000MJ  2021      6        17.347746        3.527183      0.136901
16      000OM  2021      6        20.009145        5.732684      0.203298
17      000OO  2021      6        21.781476        2.765557      0.034443
18      000Q2  2021      6        17.073904        2.130480      0.036326
19      000QZ  2021      6        19.879638        3.581750      0.126395
20      000RD  2021      6        18.563750        0.810000      0.074583
21      000T3  2021      6        16.983824        0.030588      0.179118
22      000TY  2021      6        19.248575        4.716952      0.104274
23      000U7  2021      6        20.293239        3.364366      0.088169
24      000WA  2021      6        20.692571        2.632714      0.078857
25      000WN  2021      6        17.929167        0.996528      0.136111
26      000Y9  2021      6        22.873459        4.842295      0.002397
27      ME014  2021      6        18.071470        7.090922      0.002882
28      ME103  2021      6        15.601847        3.145313      0.116761
29      ME104  2021      6        20.295319        2.381135      0.205674
30      ME106  2021      6        17.549633        1.348311      0.150661

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      7        16.493001        5.146703      0.177658
1          42  2021      7        19.456050        4.561196      0.139360
2       000BZ  2021      7        23.376438        5.565753      0.043288
3       000C5  2021      7        18.127417        2.215007      0.087446
4       000CJ  2021      7        15.991962        3.631199      0.156676
5       000DF  2021      7        19.884877        9.298910      0.054768
6       000DR  2021      7        17.734110        1.752877      0.113425
7       000EB  2021      7        18.585850        5.654286      0.062313
8       000EU  2021      7        20.021828        1.844884      0.175171
9       000FA  2021      7        16.888275        4.846765      0.130728
10      000FN  2021      7        17.729436        3.348968      0.112792
11      000HL  2021      7        22.563514        2.354324      0.019459
12      000K0  2021      7        19.964237        4.809766      0.317744
13      000L7  2021      7        24.313362        6.946695      0.075000
14      000MJ  2021      7        18.632737        4.058459      0.081155
15      000OM  2021      7        20.136804        6.565396      0.163930
16      000OO  2021      7        24.263319        3.029289      0.005300
17      000Q2  2021      7        18.236820        3.757880      0.206416
18      000QZ  2021      7        18.662228        3.571603      0.145652
19      000RD  2021      7        17.847017        1.011933      0.218138
20      000T3  2021      7        15.965569        0.008779      0.174760
21      000TY  2021      7        17.907503        4.825239      0.241473
22      000U7  2021      7        20.265672        3.243284      0.165265
23      000WA  2021      7        24.379379        3.943220      0.032486
24      000WN  2021      7        17.779301        0.967608      0.120699
25      000Y9  2021      7        21.852959        7.476627      0.000000
26      ME014  2021      7        18.585714        5.537500      0.000000
27      ME103  2021      7        15.172165        2.023711      0.253608
28      ME104  2021      7        20.090413        1.906785      0.076696
29      ME106  2021      7        17.631795        2.637436      0.108718

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      8        16.151020        4.047619      0.094422
1          42  2021      8        18.539506        4.446365      0.019479
2       000BZ  2021      8        23.134243        6.273943      0.037653
3       000C5  2021      8        16.899723        1.594044      0.040997
4       000CJ  2021      8        15.519619        4.214305      0.085831
5       000DF  2021      8        19.368810        8.941724      0.040219
6       000DR  2021      8        16.975753        1.114795      0.037534
7       000EB  2021      8        17.202869        6.259699      0.046175
8       000EU  2021      8        19.562534        1.947820      0.028065
9       000FA  2021      8        15.834871        4.487517      0.104749
10      000FN  2021      8        16.310462        3.149864      0.053261
11      000HL  2021      8        23.047645        2.464334      0.034993
12      000K0  2021      8        19.188251        3.344945      0.085246
13      000L7  2021      8        23.306522        6.921344      0.000000
14      000MJ  2021      8        17.256648        4.612604      0.056510
15      000OM  2021      8        19.521886        7.177224      0.011032
16      000OO  2021      8        23.332815        2.666902      0.030835
17      000Q2  2021      8        17.047092        4.281418      0.078865
18      000QZ  2021      8        17.506519        4.022469      0.128710
19      000RD  2021      8        16.550826        0.978512      0.075207
20      000T3  2021      8        14.926739        0.034925      0.076671
21      000TY  2021      8        16.807326        5.239560      0.085348
22      000U7  2021      8        19.491304        3.736821      0.079076
23      000WA  2021      8        23.999585        3.472061      0.064730
24      000WN  2021      8        17.361111        0.819444      0.054444
25      000XR  2021      8        18.033769        3.314815      0.000871
26      000XW  2021      8        16.384675        1.629351      0.067013
27      000XZ  2021      8        16.314815        3.832593      0.019259
28      ME104  2021      8        18.917842        1.607261      0.039419

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021      9        15.369001        4.700447      0.281669
1          42  2021      9        17.660426        3.035745      0.160000
2       000BZ  2021      9        20.257305        3.921560      0.198298
3       000C5  2021      9        16.708213        1.311095      0.040058
4       000CJ  2021      9        14.097881        3.161158      0.098305
5       000DF  2021      9        19.328491        7.635684      0.051904
6       000DR  2021      9        16.592630        1.114884      0.112428
7       000EB  2021      9        17.213296        4.078642      0.096181
8       000EU  2021      9        18.502958        1.371972      0.063944
9       000FA  2021      9        15.322663        3.831303      0.039660
10      000FN  2021      9        16.351576        2.362178      0.053582
11      000HL  2021      9        20.510519        2.265498      0.051052
12      000K0  2021      9        18.230748        3.979549      0.090268
13      000L7  2021      9        21.131213        5.896302      0.028994
14      000MJ  2021      9        17.106322        3.174425      0.053448
15      000OM  2021      9        18.903662        4.591561      0.103822
16      000OO  2021      9        19.951399        2.213549      0.073932
17      000Q2  2021      9        17.227530        3.094048      0.066964
18      000QZ  2021      9        16.236377        2.999855      0.046377
19      000RD  2021      9        16.160423        0.430423      0.055211
20      000T3  2021      9        14.019409        0.144023      0.036287
21      000TY  2021      9        15.728767        4.728615      0.073668
22      000U7  2021      9        18.492676        1.870282      0.102254
23      000WA  2021      9        19.432281        1.624964      0.111908
24      000WN  2021      9        16.254444        0.665000      0.204167
25      000XR  2021      9        17.191262        2.615049      0.168608
26      000XW  2021      9        15.942090        0.703107      0.040960
27      000XZ  2021      9        16.960112        2.847753      0.042697
28      000YG  2021      9        15.793548        0.952605      0.275434
29      ME103  2021      9        13.212115        0.203696      0.089528
30      ME104  2021      9        19.176244        1.623114      0.164045

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          23  2021     10        10.549780        5.945668      0.115125
1          42  2021     10        11.144170        3.452812      0.082030
2       000BZ  2021     10        13.812155        5.472099      0.221547
3       000C5  2021     10        11.328673        1.629101      0.174037
4       000CJ  2021     10         8.664698        3.487637      0.056593
5       000DF  2021     10        13.836066        8.772541      0.060929
6       000DR  2021     10        10.877217        1.677763      0.071487
7       000EB  2021     10        11.638043        5.304212      0.080435
8       000EU  2021     10        12.035190        2.641984      0.102989
9       000FA  2021     10        10.395929        5.859566      0.106649
10      000FN  2021     10        12.387552        2.804564      0.133333
11      000HL  2021     10        15.005278        2.311667      0.091111
12      000K0  2021     10        11.436936        5.509850      0.163885
13      000L7  2021     10        15.198153        6.331250      0.087216
14      000MJ  2021     10        12.369177        4.364854      0.122734
15      000OM  2021     10        12.848276        5.939655      0.115361
16      000OO  2021     10        13.279424        2.059281      0.140719
17      000Q2  2021     10        13.239162        3.903324      0.241329
18      000QZ  2021     10         9.932558        2.872914      0.068673
19      000RD  2021     10        10.732877        0.686575      0.099178
20      000T3  2021     10         8.571784        0.015491      0.088797
21      000TY  2021     10        10.319509        6.342428      0.066849
22      000U7  2021     10        12.487738        4.178065      0.169210
23      000WA  2021     10        14.191433        1.341573      0.061236
24      000WN  2021     10        10.371736        1.027995      0.085061
25      000XR  2021     10        11.000287        3.617192      0.059599
26      000XW  2021     10        10.670455        0.565909      0.182386
27      000XZ  2021     10        12.503867        5.145028      0.119337
28      000YG  2021     10        10.939310        2.167586      0.111448
29      ME103  2021     10         7.434986        1.033058      0.157851
30      ME104  2021     10        12.669182        2.417925      0.046541

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2021     11         5.706120        3.845897      0.060640
1       000BZ  2021     11         8.769817        5.619182      0.078984
2       000C5  2021     11         6.068011        1.149791      0.047288
3       000CJ  2021     11         3.015211        3.372535      0.049577
4       000DF  2021     11         8.096751        8.912712      0.058192
5       000DR  2021     11         5.254993        1.409283      0.092264
6       000EB  2021     11         5.931373        6.009944      0.049020
7       000EU  2021     11         5.532584        1.049860      0.064607
8       000FA  2021     11         5.101128        4.693512      0.028773
9       000FN  2021     11         7.871550        3.534851      0.124040
10      000HL  2021     11        11.207371        2.899583      0.124339
11      000K0  2021     11         5.237006        4.727119      0.112994
12      000L7  2021     11        10.111773        6.389535      0.116279
13      000MJ  2021     11         7.401280        3.957183      0.067710
14      000OM  2021     11         6.770313        5.435547      0.032031
15      000OO  2021     11         8.775668        1.210408      0.153305
16      000Q2  2021     11         7.683552        2.353857      0.041630
17      000QZ  2021     11         4.685877        3.079173      0.071612
18      000RD  2021     11         5.183554        1.081351      0.038473
19      000T3  2021     11         2.804762        0.071709      0.092717
20      000TY  2021     11         4.575994        4.801705      0.088352
21      000U7  2021     11         5.878984        3.433004      0.098731
22      000WA  2021     11         8.195433        2.444712      0.016346
23      000WN  2021     11         4.433611        0.812361      0.052500
24      000XR  2021     11         5.792987        3.047125      0.047405
25      000XW  2021     11         7.111674        0.973558      0.134740
26      000XZ  2021     11         8.226496        5.521083      0.123932
27      000Y9  2021     11        11.932101        4.187227      0.184874
28      000YG  2021     11         5.136131        1.562162      0.056615
29      ME103  2021     11         2.391421        0.515612      0.055977
30      ME104  2021     11         6.280583        1.964466      0.047767
31      ME106  2021     11         6.778879        2.512931      0.074138

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2021     12         6.176351        5.090541      0.106216
1       000BZ  2021     12         6.426402        4.967305      0.041313
2       000C5  2021     12         6.889367        3.019919      0.080215
3       000CJ  2021     12         1.099864        2.728202      0.253678
4       000DF  2021     12         8.123370       13.362364      0.101359
5       000DR  2021     12         5.123433        2.200409      0.221253
6       000EB  2021     12         6.149319        8.255041      0.116349
7       000EU  2021     12         3.888060        0.745183      0.088467
8       000FA  2021     12         4.604490        6.916463      0.078639
9       000FN  2021     12         7.289335        5.276870      0.087812
10      000HL  2021     12         8.024630        2.041992      0.075370
11      000K0  2021     12         4.322087        5.090108      0.195664
12      000L7  2021     12         8.146099        6.478298      0.043404
13      000MJ  2021     12         7.340411        5.747260      0.126849
14      000OM  2021     12         6.983164        7.213353      0.122787
15      000OO  2021     12         5.761433        1.969008      0.084573
16      000Q2  2021     12         7.785591        4.705187      0.158501
17      000QZ  2021     12         4.471565        4.171020      0.131701
18      000RD  2021     12         6.058573        2.260768      0.092455
19      000T3  2021     12         2.349728        0.113351      0.220436
20      000TY  2021     12         4.634069        6.724966      0.097379
21      000U7  2021     12         4.961149        2.776334      0.111902
22      000WA  2021     12         5.126087        0.610870      0.009275
23      000WN  2021     12         3.490188        1.650672      0.154570
24      000XR  2021     12         5.795736        5.194360      0.139477
25      000XW  2021     12         6.563686        1.882256      0.165062
26      000XZ  2021     12         7.562376        8.410184      0.192645
27      000Y9  2021     12         9.798603        6.146788      0.001117
28      000YG  2021     12         4.318672        2.643292      0.124481
29      000ZK  2021     12         0.792916        1.767575      0.240872
30      ME103  2021     12         0.916506        0.931087      0.069876
31      ME104  2021     12         5.242429        2.705429      0.040000
32      ME106  2021     12         6.054455        4.165347      0.170297

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      1         3.683379        4.229428      0.045504
1       000BZ  2022      1         5.792255        6.725815      0.000815
2       000C5  2022      1         5.326344        1.941398      0.071774
3       000CJ  2022      1        -0.056947        3.456641      0.037863
4       000DF  2022      1         5.029592        8.859329      0.044606
5       000DR  2022      1         2.306647        0.997046      0.056425
6       000EB  2022      1         3.967129        6.765187      0.050763
7       000EU  2022      1         1.954161        1.693371      0.027927
8       000FA  2022      1         3.432377        6.413661      0.067213
9       000FN  2022      1         5.835674        3.935534      0.117697
10      000HL  2022      1         7.373253        2.549059      0.022043
11      000K0  2022      1         1.568082        5.753699      0.055616
12      000L7  2022      1         6.001289        5.472206      0.001433
13      000MJ  2022      1         4.468847        3.988985      0.046472
14      000OM  2022      1         5.104000        5.465846      0.090769
15      000OO  2022      1         3.382803        2.456369      0.001274
16      000Q2  2022      1         6.413709        2.351804      0.094949
17      000QZ  2022      1         2.623478        5.879420      0.072754
18      000RD  2022      1         3.756250        1.886111      0.076944
19      000T3  2022      1         0.766903        0.113778      0.083239
20      000TY  2022      1         2.783234        6.789222      0.116168
21      000U7  2022      1         2.087599        5.801113      0.034022
22      000WA  2022      1         4.010805        0.597011      0.009655
23      000WN  2022      1         1.982661        1.817608      0.058065
24      000XR  2022      1         3.456753        3.464256      0.048840
25      000XW  2022      1         4.153933        1.297612      0.118820
26      000XZ  2022      1         5.623009        6.031563      0.112094
27      000Y9  2022      1         8.291799        4.387914      0.002302
28      000YG  2022      1         2.037447        2.417111      0.036185
29      000ZK  2022      1         0.338649        2.225144      0.053736
30      000ZV  2022      1         1.559309        3.236436      0.009574
31      ME103  2022      1        -1.188950        1.289632      0.023192
32      ME104  2022      1         3.391108        2.188192      0.015743

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      2         6.895678        6.417735      0.039046
1       000BZ  2022      2         9.717260        7.693425      0.107397
2       000C5  2022      2         7.223547        4.530700      0.047988
3       000CJ  2022      2         1.760030        4.007541      0.126395
4       000DF  2022      2         8.945796       11.410360      0.024925
5       000DR  2022      2         6.112024        1.659665      0.102892
6       000EB  2022      2         6.683784        8.737237      0.045045
7       000EU  2022      2         6.412329        1.591933      0.028006
8       000FA  2022      2         5.668673       10.968210      0.109259
9       000FN  2022      2         7.680611        6.943664      0.078168
10      000HL  2022      2         8.874554        2.501488      0.060417
11      000K0  2022      2         6.417417        6.219520      0.086787
12      000L7  2022      2        10.463651        9.586271      0.046802
13      000MJ  2022      2         7.725113        8.837594      0.059850
14      000OM  2022      2         7.912242        8.365819      0.043561
15      000OO  2022      2         8.295619        3.391088      0.030816
16      000Q2  2022      2         8.056231        4.293302      0.094704
17      000QZ  2022      2         5.588871        8.331774      0.097742
18      000RD  2022      2         6.726748        4.437082      0.041033
19      000T3  2022      2         2.815451        0.329614      0.466953
20      000TY  2022      2         5.705237       11.158429      0.083470
21      000U7  2022      2         7.524279        5.341578      0.058270
22      000WA  2022      2         8.270526        1.055263      0.000000
23      000WN  2022      2         5.060090        2.359641      0.071450
24      000XR  2022      2         6.615062        5.186491      0.069876
25      000XW  2022      2         6.826040        4.786441      0.111248
26      000XZ  2022      2         7.624848       11.043902      0.070732
27      000Y9  2022      2        11.074433        8.612708      0.039939
28      000YG  2022      2         6.054690        3.471065      0.041017
29      000ZK  2022      2         3.994918        3.958296      0.094469
30      000ZV  2022      2         5.981240        7.708903      0.039110
31      ME103  2022      2         2.528593        2.533283      0.032678
32      ME104  2022      2         7.285231        3.404804      0.014591
33      ME106  2022      2         7.799802        7.127075      0.038340

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      3         9.207840        4.192710      0.017882
1       000BZ  2022      3         9.292944        4.297965      0.112076
2       000C5  2022      3         8.864286        2.562534      0.048787
3       000CJ  2022      3         5.560274        5.936164      0.010137
4       000DF  2022      3        11.211035       11.789782      0.034605
5       000DR  2022      3         8.406019        0.731327      0.027633
6       000EB  2022      3         8.805292        5.695522      0.052374
7       000EU  2022      3         8.902589        2.341144      0.017711
8       000FA  2022      3         6.693239        5.448310      0.006620
9       000FN  2022      3         8.413361        5.125344      0.069421
10      000HL  2022      3         9.563392        2.067968      0.041184
11      000K0  2022      3         8.983604        6.326287      0.047967
12      000L7  2022      3        10.233528        6.214723      0.240816
13      000MJ  2022      3         9.492760        5.423361      0.020492
14      000OM  2022      3         9.494132        6.327384      0.030807
15      000OO  2022      3         8.788692        3.305722      0.020708
16      000Q2  2022      3         9.848911        4.947460      0.084180
17      000QZ  2022      3         8.032673        4.230693      0.022112
18      000RD  2022      3         7.605027        1.191440      0.027989
19      000T3  2022      3         2.175000        0.000000      0.000000
20      000TY  2022      3         7.211756        7.556168      0.038316
21      000U7  2022      3         9.543014        2.349178      0.052877
22      000WA  2022      3         7.400000        0.000000      0.000000
23      000WN  2022      3         7.587179        1.925911      0.031309
24      000XR  2022      3         9.372329        6.528630      0.106438
25      000XW  2022      3         7.823803        1.790424      0.024897
26      000XZ  2022      3         9.508735        8.733886      0.030723
27      000YG  2022      3         8.619488        2.426174      0.044097
28      000ZK  2022      3         5.937534        2.421816      0.023306
29      000ZV  2022      3         5.795737        3.761989      0.006039
30      ME103  2022      3         4.296149        1.274415      0.026410
31      ME104  2022      3         9.524224        3.374224      0.026087
32      ME106  2022      3         9.447857        3.183714      0.014571

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      4        11.438407        5.506543      0.074822
1       000BZ  2022      4        13.347242        6.234371      0.066195
2       000C5  2022      4        10.621216        2.626450      0.086280
3       000CJ  2022      4         7.102833        4.886827      0.186119
4       000DF  2022      4        12.456700       11.565867      0.045416
5       000DR  2022      4         9.945028        1.087358      0.115341
6       000EB  2022      4        10.399576        6.475813      0.052051
7       000EU  2022      4        11.472843        2.616690      0.027440
8       000FA  2022      4         8.933133        6.865667      0.047106
9       000FN  2022      4         9.930912        5.235470      0.058974
10      000HL  2022      4        12.562500        3.272083      0.106389
11      000K0  2022      4        10.809859        6.802676      0.105915
12      000L7  2022      4        14.155994        7.756871      0.052047
13      000MJ  2022      4        10.412853        5.779944      0.061582
14      000OM  2022      4        11.594118        8.581636      0.064275
15      000OO  2022      4        12.146525        3.555887      0.067234
16      000Q2  2022      4        11.134655        4.492511      0.123642
17      000QZ  2022      4        10.618238        6.229212      0.112210
18      000RD  2022      4         9.813459        1.968162      0.044863
19      000T3  2022      4         8.800000        0.000000      0.022222
20      000TY  2022      4         9.439876        8.049614      0.081298
21      000U7  2022      4        11.470487        4.301146      0.101433
22      000WA  2022      4        12.245313        2.929403      0.073580
23      000WN  2022      4         9.391922        2.315042      0.047075
24      000XR  2022      4        10.546505        4.870613      0.137375
25      000XW  2022      4         9.223290        2.827365      0.071907
26      000XZ  2022      4         9.870339        9.937571      0.067797
27      000Y9  2022      4        14.604651        6.493023      0.055814
28      000YG  2022      4        11.019085        3.178864      0.076025
29      000ZK  2022      4         8.477762        2.681728      0.144759
30      000ZV  2022      4         9.358643        5.317943      0.107221
31      ME103  2022      4         6.609272        1.824536      0.071612
32      ME104  2022      4        11.606807        2.978444      0.022042
33      ME106  2022      4        10.571000        4.142286      0.026571

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      5        17.218681        4.148626      0.023901
1       000BZ  2022      5        19.608714        5.957676      0.008299
2       000C5  2022      5        15.052174        1.208152      0.058696
3       000CJ  2022      5        13.394064        4.258143      0.113242
4       000DF  2022      5        18.121798        8.706267      0.029155
5       000DR  2022      5        16.009615        0.469505      0.026648
6       000EB  2022      5        15.707524        4.988646      0.018878
7       000EU  2022      5        18.558390        2.930832      0.019372
8       000FA  2022      5        13.820617        4.579663      0.072673
9       000FN  2022      5        14.191933        3.417663      0.058693
10      000HL  2022      5        18.238172        1.130780      0.006720
11      000K0  2022      5        18.141281        7.092643      0.032153
12      000L7  2022      5        20.335534        6.964045      0.010112
13      000MJ  2022      5        14.670523        4.306061      0.057025
14      000OM  2022      5        17.103668        6.445516      0.022554
15      000OO  2022      5        18.765437        2.183880      0.041803
16      000Q2  2022      5        15.023010        3.212735      0.013603
17      000QZ  2022      5        16.566038        4.454572      0.028447
18      000RD  2022      5        15.218730        1.216667      0.005079
19      000T3  2022      5        14.549226        0.064396      0.030650
20      000TY  2022      5        15.985127        6.387975      0.032911
21      000U7  2022      5        18.276487        4.033057      0.032918
22      000WA  2022      5        19.468436        3.934777      0.051397
23      000WN  2022      5        16.437703        1.121081      0.038378
24      000XR  2022      5        16.658978        3.306354      0.017818
25      000XW  2022      5        13.415546        1.495098      0.084314
26      000XZ  2022      5        13.765014        6.679462      0.040227
27      000Y9  2022      5        19.905800        4.711248      0.008436
28      000YG  2022      5        18.025963        4.684593      0.034807
29      000ZK  2022      5        14.886667        2.024626      0.075646
30      000ZV  2022      5        17.781818        3.363636      0.115152
31      ME103  2022      5        13.535124        0.405923      0.024793
32      ME104  2022      5        19.053296        1.922976      0.010546
33      ME106  2022      5        14.840909        2.181680      0.042975

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      6        20.030980        4.191643      0.157061
1       000BZ  2022      6        24.528693        6.141051      0.028977
2       000C5  2022      6        17.911949        1.565434      0.064011
3       000CJ  2022      6        17.229822        4.122700      0.126113
4       000DF  2022      6        20.272996        8.302250      0.124613
5       000DR  2022      6        18.779830        1.287216      0.176705
6       000EB  2022      6        18.653759        4.789787      0.160000
7       000EU  2022      6        22.257224        2.868839      0.128329
8       000FA  2022      6        16.861037        4.321037      0.141864
9       000FN  2022      6        16.561000        3.316714      0.024286
10      000HL  2022      6        23.256546        1.965320      0.028969
11      000K0  2022      6        21.479887        5.962729      0.151055
12      000L7  2022      6        24.936880        7.237464      0.020991
13      000MJ  2022      6        17.706160        4.050573      0.073352
14      000OM  2022      6        19.750293        6.083138      0.135777
15      000OO  2022      6        24.528773        3.022708      0.039774
16      000Q2  2022      6        17.495846        4.178042      0.115134
17      000QZ  2022      6        19.198276        3.802956      0.069458
18      000RD  2022      6        18.108000        0.501043      0.095652
19      000T3  2022      6        17.425000        0.053933      0.121067
20      000TY  2022      6        19.007970        6.032932      0.059850
21      000U7  2022      6        22.272321        3.873810      0.120238
22      000WA  2022      6        24.714489        4.769460      0.036080
23      000WN  2022      6        19.558322        1.078042      0.192168
24      000XR  2022      6        19.269915        3.552542      0.267514
25      000XW  2022      6        15.760380        1.658954      0.069414
26      000XZ  2022      6        16.620480        6.289548      0.104802
27      000Y9  2022      6        24.287706        6.187106      0.002099
28      000YG  2022      6        20.893665        4.280241      0.159276
29      000ZK  2022      6        19.136827        2.197167      0.093484
30      000ZV  2022      6        20.970833        3.285937      0.079688
31      ME103  2022      6        17.634943        0.215909      0.076989
32      ME104  2022      6        21.665936        2.373904      0.025100
33      ME106  2022      6        17.607849        1.540843      0.053779

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      7        22.065247        3.929258      0.014560
1       000BZ  2022      7        27.255177        6.506403      0.004905
2       000C5  2022      7        20.770458        1.425659      0.001110
3       000CJ  2022      7        20.422207        5.020300      0.023978
4       000DF  2022      7        22.750068        9.261286      0.003283
5       000DR  2022      7        19.733242        1.598901      0.022527
6       000EB  2022      7        21.690314        5.735334      0.009277
7       000EU  2022      7        24.107945        2.456712      0.039178
8       000FA  2022      7        18.625637        3.369263      0.005374
9       000FN  2022      7        19.327348        3.504972      0.004696
10      000HL  2022      7        25.867295        1.746837      0.022880
11      000K0  2022      7        23.022071        6.011717      0.007084
12      000L7  2022      7        27.980576        6.511079      0.001727
13      000MJ  2022      7        20.705726        4.359358      0.015363
14      000OM  2022      7        22.327119        6.137571      0.017797
15      000OO  2022      7        27.187449        2.750477      0.000000
16      000Q2  2022      7        20.548805        3.657665      0.004219
17      000QZ  2022      7        20.560084        4.089916      0.000000
18      000RD  2022      7        20.016346        0.135897      0.003205
19      000T3  2022      7        19.072925        0.010884      0.029388
20      000TY  2022      7        20.680365        6.036073      0.004262
21      000U7  2022      7        24.407832        5.561818      0.024615
22      000WA  2022      7        26.944150        4.535933      0.047632
23      000WN  2022      7        21.693252        0.805263      0.005938
24      000XR  2022      7        21.024656        3.542011      0.013636
25      000XW  2022      7        18.315237        1.380473      0.004438
26      000XZ  2022      7        19.178889        6.081806      0.013333
27      000Y9  2022      7        25.624779        5.442773      0.000295
28      000YG  2022      7        23.058824        4.301912      0.010588
29      000ZK  2022      7        21.497820        2.779700      0.008719
30      000ZV  2022      7        21.555372        2.598182      0.006942
31      ME103  2022      7        18.469672        0.013115      0.042077
32      ME104  2022      7        23.375510        1.851895      0.012245
33      ME106  2022      7        20.391268        1.649014      0.020845

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      8        22.444398        4.097510      0.026833
1       000BZ  2022      8        26.073598        6.049521      0.084542
2       000C5  2022      8        20.769619        1.206676      0.080654
3       000CJ  2022      8        18.832005        4.329533      0.112088
4       000DF  2022      8        23.360952        9.057551      0.039728
5       000DR  2022      8        20.523066        0.515608      0.059392
6       000EB  2022      8        21.662721        5.724082      0.065034
7       000EU  2022      8        23.743033        1.095628      0.127869
8       000FA  2022      8        20.142898        5.228125      0.014489
9       000FN  2022      8        19.245890        3.277397      0.049863
10      000HL  2022      8        24.800826        1.144904      0.014325
11      000K0  2022      8        23.208311        4.872207      0.064578
12      000L7  2022      8        27.248962        5.685986      0.001384
13      000MJ  2022      8        20.864888        4.402669      0.012360
14      000OM  2022      8        22.372710        5.533138      0.073684
15      000OO  2022      8        25.295742        2.655495      0.029670
16      000Q2  2022      8        21.033939        5.114944      0.058939
17      000QZ  2022      8        22.038934        4.552666      0.033603
18      000RD  2022      8        20.815266        0.085154      0.028011
19      000T3  2022      8        18.986703        0.002171      0.144912
20      000TY  2022      8        22.065455        5.955606      0.035455
21      000U7  2022      8        23.695622        4.443912      0.116553
22      000WA  2022      8        23.993776        3.036238      0.186999
23      000WN  2022      8        21.666304        0.966984      0.065217
24      000XR  2022      8        22.084447        3.369441      0.030969
25      000XW  2022      8        18.922807        1.421372      0.020734
26      000XZ  2022      8        19.925136        6.127446      0.015217
27      000Y9  2022      8        25.721889        4.946777      0.002399
28      000YG  2022      8        23.023077        4.111312      0.033484
29      000ZK  2022      8        19.718268        2.289716      0.141001
30      000ZV  2022      8        22.301414        3.240736      0.001132
31      ME103  2022      8        17.816116        0.037466      0.153719
32      ME104  2022      8        22.871971        1.502044      0.106277
33      ME106  2022      8        21.144557        1.249057      0.001742

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022      9        16.146954        3.560030      0.110550
1       000BZ  2022      9        19.477171        4.612605      0.213725
2       000C5  2022      9        15.522175        1.115021      0.092990
3       000CJ  2022      9        12.553210        3.739230      0.169472
4       000DF  2022      9        18.357483        9.403497      0.080839
5       000DR  2022      9        14.943950        0.909318      0.141586
6       000EB  2022      9        15.972207        5.848883      0.085196
7       000EU  2022      9        20.313353        0.545994      0.100297
8       000FA  2022      9        14.344901        6.631870      0.135977
9       000FN  2022      9        15.346252        3.117963      0.213579
10      000HL  2022      9        20.104729        2.299583      0.102086
11      000K0  2022      9        16.814485        5.348468      0.126462
12      000L7  2022      9        20.434451        5.675762      0.122256
13      000MJ  2022      9        15.444460        3.861727      0.149928
14      000OM  2022      9        15.512362        5.026937      0.080443
15      000OO  2022      9        19.924230        2.617367      0.073669
16      000Q2  2022      9        16.351952        3.605255      0.083483
17      000QZ  2022      9        14.681844        4.092877      0.168715
18      000RD  2022      9        15.039502        0.122420      0.048754
19      000T3  2022      9        12.207521        0.031198      0.211699
20      000TY  2022      9        14.652143        5.787429      0.118000
21      000U7  2022      9        17.322489        3.001273      0.125601
22      000WA  2022      9        19.619916        2.760589      0.086115
23      000WN  2022      9        14.900000        0.887361      0.187500
24      000XR  2022      9        15.963557        4.019242      0.089796
25      000XW  2022      9        13.631738        0.655821      0.138437
26      000XZ  2022      9        15.577345        5.527994      0.229726
27      000Y9  2022      9        21.591407        6.847259      0.067259
28      000YG  2022      9        16.419332        4.514325      0.177191
29      000ZK  2022      9        13.403922        1.628291      0.192717
30      000ZV  2022      9        15.256953        2.981213      0.000000
31      ME103  2022      9        12.315021        0.006676      0.059805
32      ME104  2022      9        17.300000        1.776246      0.042525
33      ME106  2022      9        15.930186        2.371102      0.089270

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022     10        15.385457        3.198338      0.129917
1       000BZ  2022     10        17.622041        2.967483      0.131701
2       000C5  2022     10        14.787363        1.614148      0.128022
3       000CJ  2022     10        12.868699        2.903659      0.130081
4       000DF  2022     10        17.827507       10.655962      0.053930
5       000DR  2022     10        16.046467        1.120924      0.053533
6       000EB  2022     10        15.015094        4.885714      0.069272
7       000EU  2022     10        17.006633        7.393197      0.077551
8       000FA  2022     10        14.089941        8.017308      0.049112
9       000FN  2022     10        14.665633        2.725741      0.101617
10      000HL  2022     10        17.497709        0.393531      0.069003
11      000K0  2022     10        17.045393        6.743767      0.045799
12      000L7  2022     10        18.789929        4.496028      0.022979
13      000MJ  2022     10        14.786806        4.305000      0.081389
14      000OM  2022     10        15.725610        4.915447      0.105149
15      000OO  2022     10        17.105533        1.887314      0.010256
16      000Q2  2022     10        15.164829        4.349627      0.125484
17      000QZ  2022     10        13.751984        2.332148      0.128317
18      000RD  2022     10        15.001233        0.278582      0.084129
19      000T3  2022     10        12.915612        0.012921      0.168775
20      000TY  2022     10        13.650746        6.624152      0.129986
21      000U7  2022     10        17.132473        2.193614      0.118750
22      000WA  2022     10        16.998176        0.963847      0.096517
23      000WN  2022     10        15.321640        0.763710      0.048118
24      000XR  2022     10        16.588211        4.373035      0.096206
25      000XW  2022     10        13.246465        0.791919      0.125253
26      000XZ  2022     10        14.531912        6.193122      0.098487
27      000Y9  2022     10        19.826821        5.234991      0.000710
28      000YG  2022     10        15.654032        4.505242      0.129839
29      000ZK  2022     10        13.010887        1.457258      0.062903
30      000ZV  2022     10        13.586207        2.719540      0.001642
31      ME103  2022     10        12.645884        0.114575      0.033468
32      ME104  2022     10        18.117118        2.696576      0.028816
33      ME106  2022     10        14.651760        4.038123      0.048974

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022     11         9.161281        4.135794      0.079109
1       000BZ  2022     11        10.970282        3.950000      0.138592
2       000C5  2022     11         9.150556        2.650417      0.163889
3       000CJ  2022     11         4.795904        2.735452      0.142938
4       000DF  2022     11        12.497616       11.647125      0.139972
5       000DR  2022     11         9.022409        1.194398      0.134454
6       000EB  2022     11         9.046639        6.723249      0.102521
7       000EU  2022     11         9.393249        7.058650      0.086639
8       000FA  2022     11         8.603698        9.674253      0.094168
9       000FN  2022     11        10.211582        5.100000      0.211299
10      000HL  2022     11        12.192639        1.598194      0.122778
11      000K0  2022     11         9.539776        5.936555      0.162185
12      000L7  2022     11        12.429565        5.424058      0.071594
13      000MJ  2022     11         9.795326        6.785269      0.194051
14      000OM  2022     11         9.725838        7.209637      0.071229
15      000OO  2022     11        10.338966        1.833520      0.119274
16      000Q2  2022     11        10.869970        5.659760      0.315015
17      000QZ  2022     11         8.045403        2.372560      0.127864
18      000RD  2022     11         9.584110        1.095127      0.011864
19      000T3  2022     11         6.103626        0.024547      0.224826
20      000TY  2022     11         8.358799        7.060615      0.113128
21      000U7  2022     11        10.204348        2.799700      0.298351
22      000WA  2022     11         9.329815        0.723148      0.056296
23      000WN  2022     11         7.919437        0.839859      0.098873
24      000XR  2022     11         9.336312        4.250780      0.177872
25      000XW  2022     11         8.498776        1.005070      0.253846
26      000XZ  2022     11        10.139538        9.407215      0.333045
27      000Y9  2022     11        12.188816        5.784868      0.113816
28      000YG  2022     11         8.992490        4.885396      0.110153
29      000ZK  2022     11         6.293901        1.628227      0.233191
30      000ZV  2022     11         8.865423        3.616418      0.010945
31      ME103  2022     11         5.620113        0.396765      0.090014
32      ME104  2022     11        11.829603        2.335740      0.025993
33      ME106  2022     11         9.903748        3.717206      0.168313

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2022     12         5.243590        4.920783      0.064777
1       000BZ  2022     12         6.807065        3.134239      0.162772
2       000C5  2022     12         4.982615        2.995687      0.116981
3       000CJ  2022     12         1.976319        2.470230      0.218403
4       000DF  2022     12         7.210541       13.407297      0.075676
5       000DR  2022     12         5.170396        1.132469      0.082947
6       000EB  2022     12         4.637820        6.350606      0.086406
7       000EU  2022     12         5.517274        7.532119      0.099325
8       000FA  2022     12         3.744722        9.376667      0.111111
9       000FN  2022     12         5.245730        4.876033      0.263912
10      000HL  2022     12         8.917093        0.712248      0.217766
11      000K0  2022     12         5.527162        7.110676      0.132162
12      000L7  2022     12         8.403168        4.249036      0.102479
13      000MJ  2022     12         4.714905        5.323306      0.090786
14      000OM  2022     12         5.315417        7.876806      0.072222
15      000OO  2022     12         7.858209        1.052917      0.187246
16      000Q2  2022     12         5.841991        6.927128      0.308802
17      000QZ  2022     12         3.493241        3.012828      0.091034
18      000RD  2022     12         4.267397        1.777397      0.069589
19      000T3  2022     12         2.067627        0.140466      0.182716
20      000TY  2022     12         3.805882        7.630392      0.104482
21      000U7  2022     12         6.625424        0.785169      0.162429
22      000WA  2022     12         5.010873        0.144492      0.089557
23      000WN  2022     12         4.023522        1.005242      0.099194
24      000XR  2022     12         6.014865        5.138378      0.073514
25      000XW  2022     12         3.827213        1.513934      0.194754
26      000XZ  2022     12         4.878591        8.263122      0.174309
27      000Y9  2022     12        11.379310        5.240000      0.223448
28      000YG  2022     12         4.916667        5.759946      0.086559
29      000ZK  2022     12         3.340348        1.225475      0.189241
30      000ZV  2022     12         3.384970        4.994643      0.088393
31      ME103  2022     12         2.113870        1.147157      0.055756
32      ME104  2022     12         6.988868        3.582375      0.060853
33      ME106  2022     12         4.810438        1.129966      0.075084

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      1         5.982258        6.596640      0.110753
1       000BZ  2023      1         6.345109        5.754348      0.016848
2       000C5  2023      1         6.057787        3.643033      0.108470
3       000CJ  2023      1        -1.918986        3.225362      0.103768
4       000DF  2023      1         7.188392       13.504895      0.156923
5       000DR  2023      1         4.074101        1.221871      0.123453
6       000EB  2023      1         5.365753        9.079726      0.105479
7       000EU  2023      1         4.031474        9.633047      0.027754
8       000FA  2023      1         4.827172       11.757793      0.104000
9       000FN  2023      1         6.349174        6.861295      0.162259
10      000HL  2023      1         7.761486        1.104730      0.060541
11      000K0  2023      1         4.427881        7.151209      0.117781
12      000L7  2023      1         7.636740        6.888950      0.024309
13      000MJ  2023      1         6.051179        7.429958      0.121221
14      000OM  2023      1         6.077992        9.765199      0.068776
15      000OO  2023      1         5.129255        2.288608      0.016596
16      000Q2  2023      1         6.476867        5.579063      0.240996
17      000QZ  2023      1         4.252950        5.890072      0.118273
18      000RD  2023      1         3.320947        2.641894      0.052459
19      000T3  2023      1         1.808435        0.180680      0.152381
20      000TY  2023      1         4.496097        8.221534      0.133244
21      000U7  2023      1         4.740730        0.000000      0.018978
22      000WA  2023      1         3.449538        1.242462      0.050154
23      000WN  2023      1         2.886290        2.296371      0.053495
24      000XR  2023      1         5.196226        5.878976      0.128302
25      000XW  2023      1         5.589583        2.691346      0.188462
26      000XZ  2023      1         6.255007       12.041701      0.185734
27      000Y9  2023      1         9.304603        5.883961      0.013389
28      000YG  2023      1         5.033333        7.464113      0.070430
29      000ZK  2023      1         1.201997        2.260057      0.048787
30      000ZV  2023      1         3.892528        6.929094      0.046423
31      ME103  2023      1         0.576495        2.048913      0.025000
32      ME104  2023      1         5.389847        1.708901      0.018359
33      ME106  2023      1         6.331343        1.167993      0.099502

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      2         5.535373        4.232537      0.015821
1       000BZ  2023      2         6.572233        4.332233      0.061359
2       000C5  2023      2         5.134077        1.323661      0.036905
3       000CJ  2023      2         2.794713        3.369486      0.000906
4       000DF  2023      2         6.573071        9.593192      0.037519
5       000DR  2023      2         4.938822        0.403927      0.012085
6       000EB  2023      2         5.491779        5.882661      0.003288
7       000EU  2023      2         5.481175        9.744578      0.011446
8       000FA  2023      2         5.224622        8.700302      0.023565
9       000FN  2023      2         6.263595        4.369335      0.020242
10      000HL  2023      2         7.930508        1.796610      0.000000
11      000K0  2023      2         4.925526        5.277327      0.010811
12      000L7  2023      2         7.540031        4.460123      0.033436
13      000MJ  2023      2         5.794294        4.523123      0.009910
14      000OM  2023      2         5.265396        7.018475      0.000587
15      000OO  2023      2         5.517638        2.350523      0.063378
16      000Q2  2023      2         6.889606        4.052441      0.018583
17      000QZ  2023      2         4.635575        6.035277      0.012556
18      000RD  2023      2         3.938110        0.068293      0.003354
19      000T3  2023      2         2.478806        0.090746      0.039701
20      000TY  2023      2         4.604491        7.299401      0.011377
21      000U7  2023      2         6.429866        0.000000      0.021477
22      000WA  2023      2         6.074788        1.093063      0.051438
23      000WN  2023      2         4.498810        1.692411      0.008036
24      000XR  2023      2         4.826444        3.298936      0.042553
25      000XW  2023      2         5.334664        1.946461      0.022505
26      000XZ  2023      2         6.108029        9.103102      0.024818
27      000Y9  2023      2         8.546003        3.439152      0.148777
28      000YG  2023      2         4.446051        4.521162      0.008942
29      000ZK  2023      2         2.526737        2.272054      0.008157
30      000ZQ  2023      2         5.996178        7.491083      0.017197
31      000ZV  2023      2         4.583582        4.617910      0.012367
32      ME103  2023      2         1.025680        0.718278      0.041390
33      ME104  2023      2         3.933091        0.465455      0.002182
34      ME106  2023      2         6.541068        1.327880      0.002671

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      3         9.813178        7.345426      0.151628
1       000BZ  2023      3        10.590773        5.230393      0.023066
2       000C5  2023      3         9.025541        5.512027      0.141351
3       000CJ  2023      3         4.294038        3.348103      0.339295
4       000DF  2023      3        10.581646       13.882456      0.096356
5       000DR  2023      3         8.749588        3.086401      0.188187
6       000EB  2023      3         8.244065        9.265484      0.109686
7       000EU  2023      3         9.092173       10.108637      0.067206
8       000FA  2023      3         7.030152       10.958645      0.211618
9       000FN  2023      3         8.882940        8.543273      0.229404
10      000HL  2023      3        11.806277        2.984308      0.009986
11      000K0  2023      3         9.000000        7.843666      0.101078
12      000L7  2023      3        11.851617        7.587623      0.023347
13      000MJ  2023      3         8.897973        8.030946      0.086216
14      000OM  2023      3         9.400269        9.847241      0.103365
15      000OO  2023      3        10.909569        3.550809      0.013208
16      000Q2  2023      3         9.300142        7.942068      0.231161
17      000QZ  2023      3         7.622237        6.054297      0.126603
18      000RD  2023      3         7.168145        0.000000      0.087366
19      000T3  2023      3         5.354973        0.172312      0.260215
20      000TY  2023      3         7.142070        8.933199      0.165323
21      000U7  2023      3         9.576567        6.056540      0.084196
22      000WA  2023      3        11.228144        2.497006      0.037725
23      000WN  2023      3         7.483941        2.233468      0.139001
24      000XR  2023      3         9.018157        6.997019      0.190921
25      000XW  2023      3         7.393565        2.942783      0.242435
26      000XZ  2023      3        10.484328        7.501119      0.271642
27      000Y9  2023      3        12.422715        7.410249      0.029086
28      000YG  2023      3         8.541129        7.811156      0.084409
29      000ZK  2023      3         6.179865        2.238108      0.217838
30      000ZQ  2023      3         7.888782        8.982627      0.087278
31      000ZV  2023      3         7.984268        6.236115      0.053352
32      ME103  2023      3         5.324526        1.394851      0.073171
33      ME106  2023      3         8.719346        4.705832      0.128592

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      4        10.349781        5.493431      0.045839
1       000BZ  2023      4        13.660142        7.009362      0.015319
2       000C5  2023      4        10.405524        2.367989      0.131728
3       000CJ  2023      4         5.853515        2.729268      0.117073
4       000DF  2023      4        12.429141       11.995399      0.038650
5       000DR  2023      4         9.826286        1.096857      0.106286
6       000EB  2023      4         9.562921        7.083146      0.081180
7       000EU  2023      4        10.879523        9.546003      0.063955
8       000FA  2023      4         8.294879        8.933997      0.122048
9       000FN  2023      4         9.969044        5.242083      0.114408
10      000HL  2023      4        12.914882        1.581919      0.040334
11      000K0  2023      4        10.511972        6.509437      0.102254
12      000L7  2023      4        14.424588        7.269265      0.021289
13      000MJ  2023      4         9.960602        6.167479      0.083954
14      000OM  2023      4         9.913468        7.956902      0.091246
15      000OO  2023      4        13.427388        3.232865      0.035393
16      000Q2  2023      4        10.967544        3.997222      0.152632
17      000QZ  2023      4         9.354687        4.974290      0.078125
18      000RD  2023      4         7.645033        0.000000      0.093709
19      000T3  2023      4         6.567133        0.033566      0.175105
20      000TY  2023      4         8.935694        7.560000      0.114167
21      000U7  2023      4        11.053143        6.989286      0.059143
22      000WA  2023      4        14.830225        3.679100      0.022830
23      000WN  2023      4         8.901944        2.159306      0.096667
24      000XR  2023      4        10.592187        5.098295      0.089063
25      000XW  2023      4         8.187801        2.494277      0.122892
26      000XZ  2023      4         9.478635        8.904599      0.129970
27      000Y9  2023      4        13.718326        7.205882      0.014027
28      000YG  2023      4        10.400000        5.869861      0.088889
29      000ZK  2023      4         8.379506        2.608721      0.113663
30      000ZQ  2023      4         8.752475        7.392362      0.087694
31      000ZV  2023      4         8.824957        5.183419      0.061880
32      ME103  2023      4         6.627482        0.719712      0.063885
33      ME106  2023      4         9.538953        3.957267      0.100291

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      5        15.596986        5.379863      0.049315
1       000BZ  2023      5        17.490204        6.575238      0.148844
2       000C5  2023      5        14.581532        1.229822      0.038304
3       000CJ  2023      5        11.325104        4.196117      0.120111
4       000DF  2023      5        16.881682       10.829715      0.082225
5       000DR  2023      5        13.859807        0.437569      0.075691
6       000EB  2023      5        14.300000        6.840731      0.074696
7       000EU  2023      5        15.581658        9.263179      0.095109
8       000FA  2023      5        13.109167        8.044861      0.081111
9       000FN  2023      5        13.025034        4.938927      0.045117
10      000HL  2023      5        17.058728        0.548850      0.077402
11      000K0  2023      5        15.850477        6.589359      0.054570
12      000L7  2023      5        18.467278        6.835261      0.093935
13      000MJ  2023      5        14.032148        5.776471      0.042955
14      000OM  2023      5        15.215722        9.473938      0.086969
15      000OO  2023      5        16.806495        2.219621      0.109337
16      000Q2  2023      5        14.977933        6.695112      0.050838
17      000QZ  2023      5        15.521574        4.520896      0.043148
18      000RD  2023      5        13.033814        0.000000      0.068269
19      000T3  2023      5        12.187009        0.121245      0.122327
20      000TY  2023      5        14.602291        5.254313      0.035849
21      000U7  2023      5        15.059797        6.635414      0.179971
22      000WA  2023      5        16.024365        3.383408      0.076233
23      000WN  2023      5        13.602965        1.012129      0.092722
24      000XR  2023      5        14.697015        3.810041      0.104071
25      000XW  2023      5        12.503398        2.909061      0.033010
26      000XZ  2023      5        12.996883        9.783875      0.035772
27      000Y9  2023      5        18.018141        4.497001      0.088156
28      000YG  2023      5        16.154717        5.623854      0.040970
29      000ZK  2023      5        12.467808        2.255342      0.192055
30      000ZQ  2023      5        13.262297        7.947162      0.064324
31      000ZV  2023      5        15.533001        3.936273      0.040398
32      ME103  2023      5        10.824761        0.118194      0.072503
33      ME106  2023      5        13.710408        3.575527      0.034880

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      6        21.518900        3.574330      0.063752
1       000BZ  2023      6        22.352095        4.378212      0.164246
2       000C5  2023      6        20.052057        0.799463      0.041860
3       000CJ  2023      6        16.279132        1.975770      0.082353
4       000DF  2023      6        21.472969        7.773109      0.135014
5       000DR  2023      6        19.171162        0.321377      0.053945
6       000EB  2023      6        20.621975        5.317246      0.037830
7       000EU  2023      6        21.142618        7.703064      0.258774
8       000FA  2023      6        19.067919        7.324133      0.060983
9       000FN  2023      6        17.854533        3.062890      0.110765
10      000HL  2023      6        20.862300        0.018850      0.098722
11      000K0  2023      6        21.556039        5.449579      0.107584
12      000L7  2023      6        23.798315        6.074273      0.106585
13      000MJ  2023      6        19.360167        4.364624      0.000557
14      000OM  2023      6        21.784718        7.036499      0.052819
15      000OO  2023      6        21.866667        1.950628      0.220921
16      000Q2  2023      6        19.431884        4.453768      0.047246
17      000QZ  2023      6        21.154050        4.754469      0.021508
18      000RD  2023      6        18.694685        0.000000      0.059021
19      000T3  2023      6        18.020891        0.008914      0.057660
20      000TY  2023      6        20.253408        5.142976      0.050348
21      000U7  2023      6        20.756691        5.617122      0.100144
22      000WA  2023      6        20.648726        2.092038      0.202866
23      000WN  2023      6        19.425139        0.682361      0.155833
24      000XR  2023      6        20.042340        3.314067      0.077159
25      000XW  2023      6        17.787850        2.419470      0.063240
26      000XZ  2023      6        17.746408        7.468822      0.054598
27      000Y9  2023      6        23.735687        4.870229      0.098473
28      000YG  2023      6        21.467594        4.150209      0.107371
29      000ZK  2023      6        16.892211        1.334075      0.221419
30      000ZQ  2023      6        19.222670        5.997775      0.096523
31      000ZV  2023      6        20.942424        3.493939      0.032217
32      ME103  2023      6        16.072331        0.026966      0.007022
33      ME106  2023      6        19.216667        1.771469      0.031921

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      7        20.518637        5.154937      0.064256
1       000BZ  2023      7        25.118367        4.723129      0.000272
2       000CJ  2023      7        18.758919        2.250811      0.108649
3       000DF  2023      7        20.179240        9.501085      0.078155
4       000DR  2023      7        19.087772        0.865625      0.037228
5       000EB  2023      7        19.348509        7.886856      0.051762
6       000EU  2023      7        22.876975        8.016349      0.028065
7       000FA  2023      7        18.085196        8.376955      0.227654
8       000FN  2023      7        17.400545        3.431744      0.103542
9       000HL  2023      7        24.670121        0.599731      0.001884
10      000K0  2023      7        22.356250        4.726495      0.090761
11      000L7  2023      7        26.331240        7.708729      0.003369
12      000MJ  2023      7        18.553159        5.490385      0.144780
13      000OM  2023      7        20.918690        6.560846      0.156889
14      000OO  2023      7        26.515027        2.546858      0.002459
15      000Q2  2023      7        17.400277        4.195700      0.236893
16      000QZ  2023      7        20.033740        5.070867      0.080488
17      000RD  2023      7        17.998770        0.000000      0.087432
18      000T3  2023      7        17.192297        0.036757      0.120000
19      000TY  2023      7        19.165447        7.193902      0.165583
20      000U7  2023      7        23.261247        6.527100      0.082656
21      000WA  2023      7        25.618879        3.322419      0.036283
22      000WN  2023      7        20.017251        0.796496      0.083288
23      000XR  2023      7        19.511549        4.629755      0.041168
24      000XW  2023      7        16.524377        1.911388      0.237011
25      000XZ  2023      7        17.613265        9.785131      0.256268
26      000Y9  2023      7        25.250429        6.884714      0.016571
27      000YG  2023      7        21.732600        4.821733      0.056671
28      000ZK  2023      7        19.416373        1.741137      0.084709
29      000ZQ  2023      7        18.300403        6.142204      0.112097
30      000ZV  2023      7        20.720148        4.142884      0.121627
31      ME103  2023      7        18.283465        0.062992      0.028346
32      ME106  2023      7        19.240083        2.398347      0.051240

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      8        19.666035        3.859405      0.102842
1       000BZ  2023      8        24.845034        6.740000      0.045714
2       000CJ  2023      8        18.096730        1.924523      0.113351
3       000DF  2023      8        21.035995        9.572124      0.026252
4       000DR  2023      8        19.371978        0.708242      0.073077
5       000EB  2023      8        19.227162        7.033919      0.067568
6       000EU  2023      8        23.305427        8.240706      0.118046
7       000FA  2023      8        17.789112        6.966189      0.156877
8       000FN  2023      8        17.552192        3.387534      0.050685
9       000HL  2023      8        24.530559        0.943929      0.051569
10      000K0  2023      8        22.064295        4.955814      0.056361
11      000L7  2023      8        25.551797        8.090686      0.008824
12      000MJ  2023      8        18.551902        4.448641      0.140761
13      000OM  2023      8        20.294708        5.335278      0.105292
14      000OO  2023      8        25.028417        2.875913      0.022463
15      000Q2  2023      8        17.838934        3.237705      0.092623
16      000QZ  2023      8        20.318663        4.222551      0.105754
17      000RD  2023      8        16.645161        0.000000      0.312903
18      000T3  2023      8        17.111757        0.002162      0.161892
19      000TY  2023      8        18.300840        6.088095      0.164426
20      000U7  2023      8        23.003155        6.295610      0.172840
21      000WA  2023      8        25.214737        5.056842      0.021053
22      000WN  2023      8        20.540377        1.014401      0.044684
23      000XR  2023      8        20.139565        4.238841      0.027681
24      000XW  2023      8        16.627840        0.870560      0.164800
25      000XZ  2023      8        17.647966        8.117952      0.240112
26      000Y9  2023      8        23.766089        6.858153      0.007504
27      000YG  2023      8        21.633917        4.646972      0.105518
28      000ZK  2023      8        19.382201        2.361005      0.089402
29      000ZQ  2023      8        18.066486        5.813919      0.112162
30      000ZV  2023      8        20.013804        3.266934      0.015730
31      ME103  2023      8        14.025000        0.000000      0.000000
32      ME106  2023      8        17.970136        2.846154      0.164706

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023      9        19.765734        2.428112      0.080839
1       000BZ  2023      9        21.103226        3.632959      0.056381
2       000CJ  2023      9        16.056821        0.895781      0.078481
3       000DF  2023      9        21.216201        7.337291      0.163687
4       000DR  2023      9        18.991323        0.471124      0.052063
5       000EB  2023      9        19.310754        4.216760      0.073184
6       000EU  2023      9        20.181857        7.117440      0.047539
7       000FA  2023      9        18.127415        5.767472      0.070739
8       000FN  2023      9        18.067842        2.014245      0.080959
9       000HL  2023      9        21.323554        2.345698      0.062623
10      000K0  2023      9        20.820394        4.850914      0.105485
11      000L7  2023      9        21.882362        5.166218      0.145889
12      000MJ  2023      9        19.016596        2.944681      0.110922
13      000OM  2023      9        20.742658        4.698300      0.059351
14      000OO  2023      9        20.973249        2.248039      0.032213
15      000Q2  2023      9        18.747557        3.099713      0.112931
16      000T3  2023      9        16.274652        0.198329      0.048468
17      000TY  2023      9        18.127669        5.602528      0.044101
18      000U7  2023      9        20.398856        4.857940      0.103004
19      000WA  2023      9        20.464311        2.995760      0.010601
20      000WN  2023      9        19.362238        0.792308      0.082238
21      000XR  2023      9        19.702805        3.328713      0.083828
22      000XW  2023      9        17.555240        0.340120      0.108383
23      000XZ  2023      9        18.818211        5.348562      0.105112
24      000Y9  2023      9        22.427559        4.945354      0.025197
25      000YG  2023      9        19.404789        3.522958      0.069859
26      000ZK  2023      9        16.027031        0.855182      0.086835
27      000ZQ  2023      9        18.627155        4.055172      0.063506
28      000ZV  2023      9        18.993688        2.825748      0.029900
29      ME103  2023      9        15.745722        0.087518      0.024965
30      ME106  2023      9        19.100716        2.740831      0.042693

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023     10        14.156098        3.887669      0.107317
1       000BZ  2023     10        17.239242        3.912043      0.272801
2       000CJ  2023     10        11.826223        0.835054      0.167120
3       000DF  2023     10        16.899723       12.121577      0.224896
4       000DR  2023     10        13.926849        1.333562      0.170411
5       000EB  2023     10        14.271235        5.475301      0.140964
6       000EU  2023     10        15.630853        9.076590      0.205142
7       000FA  2023     10        13.127853        6.187772      0.085726
8       000FN  2023     10        13.872238        2.573204      0.137845
9       000HL  2023     10        17.945467        2.804736      0.172124
10      000K0  2023     10        15.035422        6.340327      0.281744
11      000L7  2023     10        17.931966        4.914710      0.098444
12      000MJ  2023     10        14.054235        4.346038      0.098907
13      000OM  2023     10        14.946122        5.948844      0.120816
14      000OO  2023     10        17.503644        1.528880      0.121727
15      000Q2  2023     10        14.091377        4.026982      0.158832
16      000T3  2023     10         9.072512        0.003791      0.371090
17      000TY  2023     10        12.547808        6.730959      0.179726
18      000U7  2023     10        16.202747        5.726236      0.239011
19      000WA  2023     10        17.368286        2.892578      0.037787
20      000WN  2023     10        14.351078        0.921833      0.090027
21      000XR  2023     10        14.804471        4.836811      0.279136
22      000XW  2023     10        12.467714        0.765096      0.161955
23      000XZ  2023     10        14.054589        8.216586      0.169082
24      000Y9  2023     10        19.184418        5.672769      0.090772
25      000YG  2023     10        14.245873        5.309337      0.192152
26      000ZK  2023     10        12.493911        1.495670      0.287686
27      000ZQ  2023     10        13.619140        4.940083      0.097365
28      000ZV  2023     10        13.366835        3.776599      0.064646
29      ME103  2023     10        11.889845        0.289501      0.163511
30      ME106  2023     10        14.254599        3.217226      0.098394

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023     11         8.947859        5.982875      0.164832
1       000BZ  2023     11        10.045646        4.603371      0.056461
2       000CJ  2023     11         2.484158        2.097313      0.405092
3       000DF  2023     11        11.553683       14.648300      0.246459
4       000DR  2023     11         8.075499        1.463533      0.279772
5       000EB  2023     11         8.746056        8.948310      0.159437
6       000EU  2023     11         8.002244        8.453156      0.116690
7       000FA  2023     11         7.420280        7.890769      0.191122
8       000FN  2023     11         9.301458        5.441837      0.164431
9       000HL  2023     11        11.351473        3.843759      0.068163
10      000K0  2023     11         8.016120        7.036662      0.231384
11      000L7  2023     11        11.382190        5.982482      0.028905
12      000MJ  2023     11         9.368794        7.650496      0.238298
13      000OM  2023     11         9.207989        8.436662      0.138944
14      000OO  2023     11         9.777260        2.355932      0.042938
15      000Q2  2023     11         9.544277        4.177259      0.285542
16      000T3  2023     11         5.743389        0.083426      0.586592
17      000TY  2023     11         7.167190        8.723395      0.193723
18      000U7  2023     11         8.852975        6.997968      0.134688
19      000WA  2023     11         9.615049        1.821660      0.042757
20      000WN  2023     11         6.619860        1.224755      0.180699
21      000XR  2023     11         8.762992        6.080630      0.342992
22      000XW  2023     11         8.272389        1.586549      0.413097
23      000XZ  2023     11         9.643185       13.906887      0.358967
24      000Y9  2023     11        12.855111        6.778074      0.049481
25      000YG  2023     11         8.088252        7.551608      0.172308
26      000ZK  2023     11         5.275770        1.735854      0.291317
27      000ZQ  2023     11         8.497940        7.517274      0.148336
28      000ZV  2023     11         7.120610        6.742380      0.133527
29      ME106  2023     11         9.299830        4.271259      0.256803

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2023     12         7.560976        6.439431      0.098916
1       000BZ  2023     12         7.541723        4.310363      0.055451
2       000CJ  2023     12         2.132157        1.187381      0.274084
3       000DF  2023     12         9.320439       12.457064      0.130041
4       000DR  2023     12         6.355163        1.200815      0.162772
5       000EB  2023     12         7.066985        9.268213      0.095498
6       000EU  2023     12         6.097035        8.047844      0.077898
7       000FA  2023     12         6.276216        9.409459      0.136954
8       000FN  2023     12         8.426389        7.341111      0.136389
9       000HL  2023     12         9.033018        2.485250      0.081732
10      000K0  2023     12         5.878562        5.724288      0.179376
11      000L7  2023     12         9.282353        6.106600      0.025251
12      000MJ  2023     12         8.299459        7.967432      0.114595
13      000OM  2023     12         7.603524        7.583260      0.092805
14      000OO  2023     12         6.885175        2.367385      0.061186
15      000Q2  2023     12         9.192128        5.977259      0.248688
16      000QZ  2023     12         8.006920       11.455709      0.125260
17      000TY  2023     12         5.574387       10.043324      0.124251
18      000U7  2023     12         7.017255        6.908967      0.145380
19      000WA  2023     12         5.345811        1.056081      0.032162
20      000WN  2023     12         5.166622        1.353919      0.123784
21      000XR  2023     12         6.736207        5.620546      0.186925
22      000XW  2023     12         9.001019        1.091851      0.128693
23      000XZ  2023     12         8.194054       15.521892      0.221081
24      000Y9  2023     12        10.462639        6.387500      0.090833
25      000YG  2023     12         6.121574        6.655360      0.101493
26      000ZK  2023     12         3.938559        1.769209      0.254237
27      000ZQ  2023     12         7.222822        9.137898      0.061134
28      000ZV  2023     12         5.203957        6.042161      0.097412
29      ME106  2023     12         6.040092        4.595853      0.119816

C:\Users\Julian\AppData\Local\Temp\ipykernel_14748\3747825510.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_data], ignore_index=True)

   station_id  year  month  avg_temperature  avg_vent_moyen  avg_pluie_1h
0          42  2024      1         3.882055        5.847471      0.079608
1       000BZ  2024      1         6.328237        5.712480      0.043682
2       000CJ  2024      1         0.642812        0.714377      0.235463
3       000DF  2024      1         6.964184       12.293978      0.058320
4       000DR  2024      1         4.381760        1.057760      0.099200
5       000EB  2024      1         3.777456        7.797746      0.140419
6       000EU  2024      1         3.869836        8.742295      0.045902
7       000FA  2024      1         2.412461        8.957632      0.121461
8       000FN  2024      1         4.713562        5.955392      0.243137
9       000HL  2024      1         8.436562        3.127188      0.115937
10      000K0  2024      1         4.063235        7.209967      0.128758
11      000L7  2024      1         7.594188        5.837778      0.065983
12      000MJ  2024      1         4.027646        6.020853      0.102054
13      000OM  2024      1         3.449635        8.666423      0.079927
14      000OO  2024      1         7.226617        1.931238      0.052495
15      000Q2  2024      1         5.495520        6.076640      0.266560
16      000QZ  2024      1         2.311544        6.033697      0.119813
17      000T3  2024      1         0.010369        0.075923      0.183480
18      000TY  2024      1         1.812069        8.397492      0.170533
19      000U7  2024      1         4.823183        7.780623      0.092042
20      000WA  2024      1         5.629797        1.016069      0.046802
21      000WN  2024      1         2.834783        1.431522      0.074224
22      000XR  2024      1         4.953236        4.718123      0.076375
23      000XZ  2024      1         4.451741       14.068671      0.163924
24      000Y9  2024      1        10.249023        5.205684      0.079574
25      000YG  2024      1         3.853810        6.892379      0.066874
26      000ZK  2024      1         3.336634        1.694554      0.181683
27      000ZQ  2024      1         2.930016        8.316796      0.084292
28      000ZV  2024      1         2.267880        6.318987      0.088924
29      ME106  2024      1         9.024762        5.422857      0.009524

In [9]:
display(df)

      station_id               dh_utc  temperature  vent_moyen  pluie_1h
0             23  2019-11-01 00:00:00          9.2         5.0       0.0
1             23  2019-11-01 01:00:00          9.3         6.0       0.0
2             23  2019-11-01 02:00:00          9.3         5.0       0.0
3             23  2019-11-01 03:00:00          9.3         2.0       0.0
4             23  2019-11-01 04:00:00          9.3         5.0       0.0
...          ...                  ...          ...         ...       ...
17126      ME014  2019-11-29 14:00:00          8.6         0.0       0.0
17127      ME014  2019-11-29 15:00:00          8.3         0.0       0.0
17128      ME014  2019-11-29 16:00:00          7.9         0.0       0.0
17129      ME014  2019-11-29 19:00:00          6.7         0.0       0.0
17130      ME014  2019-11-29 22:00:00          6.3         0.0       0.0

[17131 rows x 5 columns]

# Creation Session Spark

In [3]:
spark = SparkSession.builder.master("local[*]").appName("YourAppName").config("spark.driver.memory", "4g").config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","10g").config("spark.executor.cores", "4").getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.IllegalArgumentException: requirement failed: The value of spark.network.timeout=15000ms must be greater than the value of spark.executor.heartbeatInterval=15000ms.
	at scala.Predef$.require(Predef.scala:281)
	at org.apache.spark.SparkConf.validateSettings(SparkConf.scala:571)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:410)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)

# Calcul des valeurs moyennes sur le mois

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

def calcul_vals_moyennes(df):

    # Convert pandas DataFrame to Spark DataFrame
    data_df = spark.createDataFrame(df, schema=["station_id", "dh_utc", "temperature", "vent_moyen", "pluie_1h"])

    # Extraction du mois et de l'année à partir de la colonne dh_utc
    data_df = data_df.withColumn("month", month("dh_utc"))
    data_df = data_df.withColumn("year", year("dh_utc"))

    stations_csv_path = "./stations_formatted.csv"

    # Define the schema explicitly
    schema = StructType([
        StructField("id_station", StringType(), True),
        StructField("nom_station", StringType(), True)
    ])

    # Charger le fichier de correspondance dans un DataFrame Spark
    stations_df = spark.read.option("delimiter", ":").csv(stations_csv_path, header=True, schema=schema)
    # Supprimer la ligne contenant "metadata null"
    # stations_df = stations_df.filter(~col("id_station").contains("metadata") & ~col("nom_station").contains("null"))

    # Jointure entre df_filtered et stations_df
    df_joined = data_df.join(stations_df, data_df.station_id == stations_df.id_station)


    # Grouper les données par station_id, nom_station et mois, puis calculer les moyennes
    average_df = df_joined.groupBy("station_id").agg(
        avg("pluie_1h").alias("avg_pluie_1h"),
        avg("vent_moyen").alias("avg_vent_moyen"),
        avg("temperature").alias("avg_temperature")
    )

    # On retourne les résultats
    return(average_df)
    

test = calcul_vals_moyennes(df)
test.show()

Py4JJavaError: An error occurred while calling o164.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 8) (DESKTOP-IQL3AGM executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 34 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 34 more

# Calcul moyennes sur 1 mois SANS SPARK + sauvegarde d'un mois en CSV

In [16]:
def calc_moy(df):
    # Group by 'station_id' and calculate overall averages
    df['dh_utc'] = pd.to_datetime(df['dh_utc'])
    df['year'] = df['dh_utc'].dt.year
    df['month'] = df['dh_utc'].dt.month
    average_df = df.groupby(['station_id', 'year', 'month']).agg(
        avg_temperature=pd.NamedAgg(column='temperature', aggfunc='mean'),
        avg_vent_moyen=pd.NamedAgg(column='vent_moyen', aggfunc='mean'),
        avg_pluie_1h=pd.NamedAgg(column='pluie_1h', aggfunc='mean')
    ).reset_index()

    display(average_df)
    csv_file_name = f"./data/{average_df['month'].iloc[0]}_{average_df['year'].iloc[0]}.csv"
    average_df.to_csv(csv_file_name, index=False)